[2016-07-07 13:13] stephenrob commented on #236
@jonasty19

What version of cordova are you running now and were you running ? Also what version of iOS were you running and running now ?

Would be good to test my app against them now there's something definitive that may be causing it as I couldn't find anything looking through my log files and the iOS/Javascript code.

[2016-07-12 04:13] hkcity1111 commented on #223
I have some problem too in 3.4.1 version on iOS 9.3.2.
When I am using 3.3 and XCode 6. I did not have such problem.
For appstore deployment, someone said that apple will not approve the app if you active location update but are not providing location service.
Is there any way to fix the problem?
Thanks a lot

[2016-07-12 07:37] #243 closed, assigned to nobody

[2016-07-13 08:58] aserrin55 opened #246 "Connect with iBeacons (write/read)"
I have read that it is possible to monitor iBeacons but, is there any way to connect with them and write data? (for example, change the uuid, major, minor..)
Thanks

[2016-07-14 06:48] murugesh08 opened #247 "How to search beacon in background"
Hi,I have tried to search beacon in background when the app is in inactive state and I also referred a link "**https://github.com/nraboy/ng-cordova-beacon/issues/4**".
Below code startMonitoringForRegion doesn't call the "**didEnterRegion**" and "**didExitRegion**".please help me how to do background search or monitoring
**My code snippet:-**

[code]

[2016-07-18 22:07] hobzcalvin opened #248 "Plugin requests READ_EXTERNAL_STORAGE permission on Android"
`plugin.xml` asks for `android.permission.READ_EXTERNAL_STORAGE`; this manifests as the "Photos/Media/Files" permission to the user. I can't figure out why this permission is needed, and it doesn't seem necessary for the things an iBeacon plugin would do.

I tracked the line adding the permission to @RonMen's commit: [Moving to AltBeacon library on Android](https://github.com/petermetz/cordova-plu

[2016-07-19 09:16] Dahkon commented on #141
Any progress on this matter ?

[2016-07-26 09:31] eprin commented on #227
@stephenrob

Hi! thanks for this plugin. However i can't find your BackgroundBeaconMonitoring in cordova.plugins after install your plugin.  How do you call your plugin in Ionic2

[2016-07-26 10:54] stephenrob commented on #227
@eprin

I've just had a quick look at that, i'm able to run the commands to add it to the Ionic2 project.

I've added some further details to the README on how to add it to an Ionic project (both v1 and v2) and how to "fix" it not appearing in package.json. This is still a re-occuring bug in the ionic project.

Any further issues with my plugin please open issues there https://github.com/lulibrary

[2016-07-27 10:17] tsvarsha commented on #138
Did anyone find the solution yet?

[2016-07-30 17:09] pantonis commented on #150
Highly needed +1

[2016-07-30 17:45] JWesorick commented on #54
@dipakchandranp Same for me. The promise is always returning false on iOS.

[2016-08-01 15:18] rubi-t8 commented on #236
Any insight into how you fixed your memory leak? I'm experiencing similar issues and it's driving me insane. 💢

[2016-08-02 19:12] jonasty19 commented on #236
@stephenrob I was using version 6.0.1 or something like that (Not completely sure).  Currently I am up to 6.2.0.  I started this project on iOS 8.  Now I am up to iOS 9.3.3.  Currently I am not experiencing the issue, though, some of my users say they are.  So annoying!! :)

@TheRealGitCub Yeah I hear you, I literally debugged this for 3 days straight with absolutely to show for it.  To solve the

[2016-08-02 19:15] jonasty19 commented on #244
@Crashthatch I seem to hit that issue almost every time I run as well.  Strangely, it really doesn't seem to affect the functionality for me though.  I have tried to fix it, but have had no luck, but since it's not affecting my functionality, I kind of just ignored it so far...Probably not the best idea. ;)

[2016-08-02 19:20] jonasty19 commented on #247
@murugesh08 It's really easy to monitor in the background on an Android device, as they have way less restrictions.  For iOS, however, there are a few gotchas that you need to go through.  Have you gone into xCode and set the "Background Modes" properly?
If you open your app in xCode after you have built it with cordova, you should be able to get to the "Capabilities" tab (Click on the name of you

[2016-08-03 18:23] nericaamericaa commented on #111
how do you even access the proximity property for android? I can't find it anywhere

[2016-08-05 11:39] urbanczyks commented on #167
Hi guys, I'm still not able to get the readings from beacons on iOS, on android it works fine
got Location updates, Remote notifications and Uses bluetooth LE accessories turned on
here is the code:

[code]

[2016-08-06 09:29] n9986 commented on #233
@cgewecke Perfect! Your solution worked for me. Thanks!

[2016-08-09 14:18] brunocarneiro commented on #247
Hi All,

I'm facing the same issue. I cannot monitor a region on iOS even using the sample code written in README.md. I also made all the recommendations @jonasty19 told. However it does not work.
If it helps, although monitoring is not working, I can range beacons using this plugin.
Does anyone have a sample app showing background monitoring working in iOS and Android?
Here is my code:

`

[2016-08-12 05:00] withwind8 commented on #223
@hkcity1111
Yes, App Store reject my app for the reason you said(Your app declares support for location in the UIBackgroundModes key in your Info.plist file but does not have any features that require persistent location.)
But isBluetoothEnabled method in this plugin need it.
So i use [cordova-plugin-bluetooth-status](https://github.com/255kb/cordova-plugin-bluetooth-status) instead of it.

[2016-08-16 15:56] jonasty19 commented on #247
I have also had some problems where onEnter does not work if you are already in the region before you start monitoring...You could try to start the app outside of the range of the beacon, and then walk into the range once it has started.  There is some command (I can't think of it right now) that initializes this and will reset the onEnter to work, even if you are already within range.

I would re

[2016-08-17 10:09] oyekunlei opened #249 "Becon proximity is always immediate"
`
.controller("ExampleController", function($scope, $rootScope, $ionicPlatform, $cordovaBeacon) {

[code]

});
`
I am using Kontakt.io beacons and I am testing on Android. No matter how far or near I am to the beacon it says Proximity is Immediate. Thank you so much for providing this tutorial it really helped a lot. I really just have this one problem.

[2016-08-17 18:18] justinschuldt commented on #246
That's not possible with this plugin

[2016-08-17 18:19] justinschuldt commented on #241
You should use the Ionic-native wrapper, check it out here: [http://ionicframework.com/docs/v2/native/ibeacon/](http://ionicframework.com/docs/v2/native/ibeacon/)

[2016-09-05 22:39] lesmo opened #250 "Unable to range Konakt.io in iBeacon Mode"
Hi.

I've started using this plugin and currently I've been unable to make it work with Kontakt.io beacons. During development we emulated an iBeacon with [Locate Beacon App for Android](https://play.google.com/store/apps/details?id=com.radiusnetworks.locate) and worked perfectly. The exact same code is unable to locate any of the Kontakt beacons I've already configured to be set in iBeacon mode.

[2016-09-06 00:54] lesmo commented on #250
We've tracked down the issue to be related to the UUID. For some reason, when using anything but the Open Beacon UUID it's not picked up.

We'll keep testing stuff.

[2016-09-07 07:48] andersborgabiro opened #251 "Detection after rebooting"
I read somewhere that registered regions are stored persistently (in iOS on a system level and in the beacon library for Android) that's supposedly acted on when the device is powered on.

I haven't seen this behavior even on iOS. Are there any special conditions for this to happen? Is it possible to use wildcard regions (a static UUID, but any major and minor ID) for this?

Is the app supposed to

[2016-09-08 10:43] aravindav opened #252 "TypeError null for pluginResult['eventType']"
hi,
When am running my cordova project using this plugin ,am getting error as "TypeError: null is not an object (evaluating 'pluginResult['eventType']')" in console .Error appears only once .When the device start ranging beacons,it disappear .  I have gone through [https://github.com/petermetz/cordova-plugin-ibeacon/issues/142](url) ,but no success.

Here is the code for ranging beacons  ` startRa

[2016-09-12 16:45] bobhuang1 opened #253 "Constant Region Entry/Exit Events on Android 7.0 Nougat Plus Compatibility Issue with BluetoothLE plugin"
Long time user, first time poster.

I have this project that uses both Peter's cordova-plugin-ibeacon and the cordova-plugin-bluetoothle plugin. It was working great on Android 4.4 through 6 and all IOS versions. The idea is simple, using the iBeacon plugin, once the device enters a particular iBeacon's range, it will stop iBeacon monitoring and start scanning for a BTLE scanner using cordova-plug

[2016-09-15 14:24] DanielFreiburger commented on #150
Why is this not already part of the plugin?
Really helpful.
By the way: stopAdvertising is not included.
Had to write it on my own.

[2016-09-19 20:24] santoshcsdev commented on #233
@cgewecke your solution worked, thanks.

[2016-09-19 20:57] codingjam commented on #247
Were you able to get it working? I am facing the similar issue, enter/exit region events are not getting called when the app is killed. It works fine when the app is pushed to the background but NOT killed. My code is very similar to the @brunocarneiro code. I thought monitoring in background even when app is killed works automatically in IOS after you have started monitoring regions at least once

[2016-09-21 17:04] andersborgabiro opened #254 "Issue with iOS 10"
This might not have directly to do with the plugin, but is probably rather due a change in the iBeacon behavior in iOS.

Anyway, it detects only a few of the "pings", making my app think the beacon is gone. This despite having a 10-second timer for that. The beacons are set to broadcast each second at 0 dBm.

This is consistent for iOS 10 and is not device dependent: iPhone 5 and iPhone 6 behave e

[2016-09-21 19:48] quadcodes opened #255 "Unable to get started with cordova-plugin-ibeacon"
I'm new to Cordova/Phonegap.

I'm trying to create new android app to scan iBeacons using this plugin. I have gone through all documentation stated here, but for some reason I'm unable to get this app working.

What I have done so far :
1) Created fresh Phonegap Project
2) Installed this plugin using following command line to project directory :
`cordova plugin add https://github.com/petermetz/cor

[2016-09-22 03:26] codingjam commented on #254
I have not noticed the issue that you are describing. Ranging seems to work fine for me on ios 10, but I am facing a different issue with after updating to ios 10. The enter/exit region events do not always trigger. I am noticing a strange behavior, sometimes they work and sometimes they don't. It was all working perfectly fine until I updated to ios 10. For some beacons Exit Region event is never

[2016-09-22 06:07] andersborgabiro commented on #254
To summarize my issue: if more than one app is ranging the same region (in my case UUIDs with wildcard major/minor) iOS 10 will drop most events. I'm no longer relying on enter/exit region, but I've seen the same thing as you have.

[2016-09-25 13:44] sKuD51 commented on #254
I confirm **codingjam**  said, Enter / Exit region event doesn't work on iOS10, I have sames troubles.
**andersborgabiro** : this probleme is really strange, I didn't tests-it. What you mean is :  I can't have more than one app ranging for the same beacon in same times ?

[2016-09-25 14:58] andersborgabiro commented on #254
That seems to be the case. I'll do some more testing to verify. With only one app it's back to normal. There was a 10.0.2 today that I will upgrade to first.

[2016-09-25 16:20] andersborgabiro commented on #254
After upgrading and removing all beacon-active apps (the ones I had control over) and rebooting and then reinstalling only one of the apps: The same low frequency behavior as I previously indicated for multiple apps, so that theory was not the correct one. I don't know what I did previously to make it work.

[2016-09-27 20:29] sKuD51 commented on #254
Ok thanks for return.

[2016-09-27 20:36] andersborgabiro commented on #254
Further testing indicates it's possible to get back to correct behavior, but I haven't found a pattern. It's at least not because many wildcard regions are monitored and ranged. I'll await reports from users, as most users will not install more than one beacon-enabled app anyway.

[2016-09-28 01:14] bahram-ghahari opened #256 "Property 'AllowsBackgroundLocationUpdates' not found on object of type 'CLLocationManager'"
I get this error when i'm trying to build the project. The error is on CDVLocationManager.m
- (void) initLocationManager {
  self.locationManager = [[CLLocationManager alloc] init];
  self.locationManager.delegate = self;

  if (IsAtLeastiOSVersion(@"9.0")) {

//Right here
        self.locationManager.allowsBackgroundLocationUpdates = YES;
    }
}

[2016-09-30 14:07] McGern commented on #204
This worked for me @cesaralvarado9 thanks.

Would be great if this was added to the documentation, spent a few hours trying to work out what was going on.

[2016-10-04 01:57] farahsaekhang opened #257 "StartMonitoringForRegion not working for iOS 10"
With the iOS 10 update we seem to be having problems with the StartMonitoringForRegion function which is use to monitor for beacons in the background.

We can't seem to get the suggested App to appear at the bottom left of the lock screen.
This is working fine with iOS 9.2, where the suggested App would appear when it's near a beacon with the correct UUID.

We've looked through the release notes f

[2016-10-04 12:15] tomtomau commented on #254
I have absolutely no experience in this plugin, but you might be experiencing this:

http://stackoverflow.com/questions/39638067/swift2-3-code-for-beacon-detection

[2016-10-04 12:21] sKuD51 commented on #254
@tomtomau thanks for this "solution" . It's really incredible ...

[2016-10-04 15:03] andersborgabiro commented on #254
Yup, this seems to be it.

[2016-10-04 18:05] andersborgabiro commented on #257
This might be related: https://github.com/petermetz/cordova-plugin-ibeacon/issues/254

[2016-10-08 15:17] gnazarkin commented on #254
Experiencing the same issue. Is there a solution to permanently solve the didEnter and didExit events?

[2016-10-08 17:04] andersborgabiro commented on #254
The problem is in iOS 10, so Apple has to do something.

[2016-10-09 01:07] tomtomau commented on #254
I had read some suggestions on StackOverflow that iOS is system-wide limited to polling for 30 beacons in CoreLocation. I had the Estimote app installed on my phone amongst a few other beacon apps.

By uninstalling these apps and rebooting my iPhone on iOS10 beta 2 (consistent with @andersborgabiro advice) I've had some improved successes with beacons, but I'm experiencing some dropouts from time

[2016-10-09 22:38] andersborgabiro commented on #254
Supposedly that limitation doesn't exist when ranging, which is what I use, still having this problem. I use region enter/exit too, mainly for verification, but they work independently. The "sometimes works, sometimes not" behavior I've also seen.

[2016-10-13 18:23] codingjam opened #259 "Monitoring beacons with app closed - IOS"
I have seen many questions here related to this topic, but I haven't found an answer. This is a great plugin, it works as expected in foreground and background, but I can't get it to Monitor when app is closed. According to the Apple documentation, Monitoring for beacons is allowed in background and when app is killed/closed. When you kill the app, the iOS monitors for beacon regions that your app

[2016-10-17 14:22] codingjam commented on #254
I wonder if this issue is related to ios 10? #259 Did someone experience this issue with iOS 10?

[2016-10-17 14:33] andersborgabiro commented on #254
It could be related, but it happens when the app is running too. I wish Peter would provide a comment.

[2016-10-18 19:24] codingjam commented on #259
UPDATE- It automatically started to work. The app is closed, I didn't make any changes to plugin version or iOS and it suddenly started working. I left the phone next to the beacon and forgot about it for few minutes and I did see my application executing the code I had in region enter event. Once it started working it has been working consistently so after that..so far. I have tried it many times

[2016-10-18 19:30] codingjam commented on #254
I was able to get monitoring to work on ios after the app is killed. So, it probably is not an iOS 10 issue, but I don't know why it started working suddenly #259

[2016-10-19 11:35] andersborgabiro commented on #254
I'm experiencing the same, and then some other time it doesn't work, so it might very well still be a problem with iOS.

Did you change anything in your code? Did you upgrade to a later plugin or Cordova core?

[2016-10-20 17:10] codingjam commented on #254
No, I didn't change anything. It just doesn't work every time.

[2016-11-01 19:36] dfedy opened #260 "IOS monitoring with uuid only"
Has anyone had an issue with IOS monitoring while only specifying a uuid?
It does not seem to registering entry and exit of beacon zones.

[2016-11-02 14:09] El-Shinnawy opened #261 "App stop detecting beacons after 30 minutes."
I have 2 issues actually.

1- I noticed that the app stop detecting beacons after 30 minutes, Is there any setting to make the app detect the beacons forever?

2- stopRangingBeaconsInRegion is not working in Android.

[2016-11-02 21:51] gnazarkin commented on #260
Might be related to #254. I've set up monitoring successfully just based on uuid, but seems there are some problems with iOS 10

[2016-11-07 11:39] andersborgabiro commented on #254
Anyone knows how to report bugs to Apple?

[2016-11-07 12:48] andersborgabiro commented on #254
It seems to work better with 1.10.1.

[2016-11-08 02:32] tinydream12 commented on #257
fixed in [here](https://github.com/tinydream12/cordova-plugin-ibeacon/commit/902a72400e1a0a6d6969ad10776b92de9cedfbc3)

[2016-11-08 08:17] mpk2 commented on #203
I can confirm this no longer functions on iPhone 4s (iOS 9.3.5) and iPhone 5s (iOS 10.1.1)

[2016-11-08 13:44] omanthey commented on #253
Hello,

I am struggling with the same behaviour that seems to be based on  on the "background-optimization" in Android 7.

Is there any solution so far?

Oliver

[2016-11-08 15:06] andersborgabiro commented on #257
That link no longer works. Removed change?

[2016-11-08 15:59] sky09 commented on #257
@andersborgabiro , sorry, I removed it for some reason.
I'd like to take pull request.

[2016-11-09 00:53] bobhuang1 commented on #253
No solution yet, I have to disable plugin on Android 7 phones for now.

[2016-11-09 06:59] omanthey commented on #253
The only workaround I can see momentarily is to set the **ForegroundBetweenScanPeriod** accordingly in _config.xml_

_preference name="com.unarin.cordova.beacon.android.altbeacon.ForegroundBetweenScanPeriod" value="5000"_

The disadvantage of this approach is that we get updates on the sorrounding beacons now only every 5 seconds. In my case where I am developing an app to be used within a museums

[2016-11-09 10:39] omanthey opened #263 "Question concerning received rssi value ..."
This is not an issue but merely a question to understand the plugin internals.

As with Android 7/Nougat we can execute a BLE scan just every 5 seconds because more than 5 scans within 30 seconds will be blocked due to energy/resource optimization.

So every 5 seconds I receive a _didRangeBeaconsInRegion_ event where I can read a rssi value for every beacon associated with this specific region. No

[2016-11-11 07:21] mpk2 commented on #106
I am still, and recently, seeing this behaviour on iOS (testing with iOS 10.1.1 on iPhone 5s). I get an empty array for beacons from ranging the region that is detected by monitoring.

However, this seems to be fine with iOS 9.3.5 on my other test device (iPhone 4s)

[2016-11-11 10:13] niko1208 commented on #106
hey @mpk2, it works fine on my side, I tested it on iOS 10.02 with iPhone 6 plus.

[2016-11-11 16:17] msdorachua opened #264 "Empty beacons array"
Hi

I get an empty beacons array when I run the code. I can read the beacon identifier, uuid, major and minor information, but unable to read rssi as I always get an empty beacons array. I am using Estimote beacons.

The code I am using is pasted below.

***************************************************************
import { Component } from '@angular/core';
import { NavController } from 'ionic-a

[2016-11-11 18:10] mpk2 commented on #264
Is this on iOS or Android (or both)? What is the OS version?

This might be related to #106

One thing you might want to do is wait for requestAlwaysAuthorization promise to resolve before ranging beacons.

[2016-11-11 18:13] mpk2 commented on #106
Thanks, @bunnypo.

One thing that seems to crop up in a lot of these issues is the Estimote beacon. I wonder if this is specific to them. I'm using the Estimote beacons currently.

Trying to downgrade my iOS version on devices to see if that affects anything.

[2016-11-11 20:26] mpk2 commented on #106
Rollback to 10.1.0 hasn't changed anything for me on the iPhone 5s.

However, I did figure out that it does seem to consistently work when the app is 1) killed, and then 2) enters a region. The ranging appears to work properly in that case...

[2016-11-11 21:39] parkej60 commented on #54
Also unable to get the isEnabled to return true.

[2016-11-12 15:11] sjorsroelofs opened #265 "Android ACCESS_COARSE_LOCATION permission"
Hi,

I'm trying to get ranging beacons to work on Android. On iOS it works as expected and it shows me the beacon when in range.
On Android I get the following error in the Android Monitor:
```java.lang.SecurityException: Need ACCESS_COARSE_LOCATION or ACCESS_FINE_LOCATION permission to get scan results```
There are no beacons found on Android.

On the web I found that this has something to do wit

[2016-11-12 15:53] sjorsroelofs commented on #265
Solved the problem with ACCESS_COARSE_LOCATION by disabling the permissions, removing the app completely from the phone and reïnstalling it, but it is still not finding any beacons.
Maybe this message has something to do with it?
`"E/BtGatt.GattService(4933): App '...' is scanning too frequently"`

On iOS it's still working as expected.

[2016-11-12 21:46] JoshyJoshysen commented on #106
I have the same issue but only on iOS. It is occurring without me being able to identify a pattern to know why it is happening.
After removing the app completely and re-deploy on the iOS device, it is working as intended. I hope it helps, although this is not a long-term solution.

[2016-11-13 01:32] niko1208 commented on #106
Need to set AlwaysUsageAuth from WhenInUsage, and in the monitoring, should request StateForRegion,
After done, it works fine on both iOS 9.x and iOS 10.

[2016-11-14 21:51] mpk2 commented on #106
I have already set it to always rather than when in use and am getting state for region. This mischaracterizes the issue, though, where I am having trouble even ranging properly _in the foreground_

[2016-11-15 14:48] parkej60 commented on #265
I'm also seeing this same issue. Running Android 6.0. If I manually set the location permission for the application Beacons will start returning, but I can't get the app to prompt the user to allow this permission.

[2016-11-15 15:12] parkej60 commented on #265
I found this discussion https://forum.ionicframework.com/t/android-6-0-not-request-contact-permission/46600/16, which discusses a 6.0 security patch being the cause of this issue and suggests using the diagnostic plugin to specifically request this permission.

[2016-11-15 20:06] mpk2 commented on #106
I believe I've determined the source of the issue.

1. I have an older model Estimote beacon (firmware A3.2.0, hardware D3.4) from around February 2016, and I have a newer model Estimote (firmware 4.8.0, hardware G1.8) proximity beacon from November 2016. Both are broadcasting only iBeacon packets as I've configured them.
2. I have set them to have unique UUID, major, minor.
3. I monitored them wi

[2016-11-15 21:35] parkej60 commented on #253
Also seeing the same behavior.

[2016-11-16 18:21] parkej60 commented on #253
I see this on Android 6.0 as well.

[2016-11-16 18:38] parkej60 commented on #253
@bobhuang1 Where / how did you get the updated JAR file?  I would like to test this out but I'm not sure how to generate a JAR file.

[2016-11-16 21:36] parkej60 commented on #253
It seems like updating the Altbeacon.jar file to the latest AltBeacon version (2.9.1) at least seems to fix the issue on 6.0. Still seeing it on 7.0 though.

[2016-11-16 22:01] parkej60 commented on #253
@omanthey What config.xml file are you referring too?

[2016-11-17 07:19] omanthey commented on #253
@parkej60: I#m referring to the cordoca projetx main config.xml. There you can configure the **ForegroundBetweenScanPeriod**. I configured this originally to a value of 1000ms so I got BLE Beacon values every second. But with the changes in Android 7 only 6 times in 30 seconds the underlying BLE System can becalled (every further call will be blocked). so I mofdified the value to 5000 ms to hit th

[2016-11-17 16:18] parkej60 commented on #253
I fixed the issues I was seeing with 6.0 by adjusting the power output on the beacon. It just happened to be right on the border and even if I had the device on top of the beacon it would wavier in and out.

[2016-11-17 16:36] parkej60 commented on #253
Ok. After adjusting the power on the beacons I'm now seeing the exact same issue as documented above. Works well on Android 6.0, but seeing the toggling in and out of regions when in Android 7.0

[2016-11-18 10:47] sjorsroelofs opened #266 "iOS didEnterRegion, didExitRegion notifications"
Hi, on my iPhone i'm constantly receiving didEnterRegion and didExitRegion notifications when the app is in the background. I haven't set any notifications for this events myself. Is it possible to disable these notifications?

On Android I don't get these notifications.

[2016-11-18 16:25] parkej60 commented on #233
Is there anyway to set the location updates capability to enabled via the config.xml or some other settings file? This project is generated and I can't rely on it now being overwritten.

[2016-11-18 19:22] mpk2 commented on #231
This really should be in the documentation somewhere. It seems to be required even when only in the foreground.

[2016-11-22 14:17] mpk2 opened #267 "Cannot advertise without location updates background mode"
When trying to advertise from an iPad mini running iOS 10.1.1, I eventually figured out that the plugin expects location updates background mode to be true in order to function properly for iOS >= 9. However, Apple reserves this background mode essentially for non-iBeacon background updates, as they handle the updates through the OS.

So first, the location updates background mode should not have

[2016-11-24 16:02] eyeswideopen opened #268 "isBluetoothEnabled always false on iOS"
isBluetoothEnabled returns always false on iOS for me.

I checked the plugin and the state of the peripheralController seems to be always '0', which is 'unknown'.

[2016-11-28 16:27] RikdeVos commented on #259
Hi,

I'm facing exactly the same issue. I set up an environment which simply makes an http call to my server on didEnterRegion and didExitRegion events and I turn my ibeacon on/off every few minutes. In background mode it works for a couple of minutes (5-10), after that it stops making requests to my server and logging the events. However, in some cases it continued to work for hours at a time!

L

[2016-11-28 17:08] codingjam commented on #259
By background you mean app killed or the app is just pushed to the background by pressing home button?  I was having trouble with Monitoring with app killed. It was working fine for me when the app is in background. And I still don't know why it started working. I just refreshed the app on my phone and it started working for me. Are you on iOS 10? I don't know what exactly are you facing, but peop

[2016-11-28 22:57] RikdeVos commented on #259
Hi, I think I've managed to fix the issue. Make sure to place the code inside the .run function of app.js, or put it in a provider/service and call it from .run. This is essential as controllers are not properly loaded by ios when it starts in background mode. Previously I was loading the code from within the controller, but this fails intermittently.

Now I'm able to scan for beacons even if I ki

[2016-12-01 12:49] VitorHFLopes commented on #247
@codingjam can you please share with us your solution for background monitoring with this xamarin app?

[2016-12-01 22:20] kevinleequinn opened #269 "determine if iOS app started in background"
I am monitoring in background and iOS reliably starts my app in background if it isn't running.

if the app is in foreground I change the UI, but if it's in background send a local notification.  I normally do this by setting a flag that toggles on pause/resume.  but when iOS starts the app in background because it is in a region I have no way of knowing it's in background.

is there a way to dete

[2016-12-02 03:04] bobhuang1 commented on #253
@parkej60 Sorry I have not checked this page for while, I downloaded the latest jar from:
http://altbeacon.github.io/android-beacon-library/download.html
I also tried downloading the source and compile myself:
https://github.com/AltBeacon/android-beacon-library
Always the same issue. However as @omanthey pointed out, setting ForegroundBetweenScanPeriod to 5000ms works but much less responsive. I g

[2016-12-02 03:14] bobhuang1 commented on #253
I have an idea, is it possible to set ForegroundBetweenScanPeriod to 5000ms when android is 7.0 and to the default 1000ms when it's not? Does the config.xml platform section allow specifying os version? Thanks.

[2016-12-02 03:24] bobhuang1 commented on #112
@olegdizus solution works great. I am encountering another problem specifically on Android 7. Is it possible to set these two parameters in code before beacon scan starts rather than as config.xml preferences? Config.xml only allows platform-specific preferences, but I only need to modify the parameters for Android 7. Thanks.

[2016-12-02 05:27] oleg-deezus commented on #112
Hi, @bobhuang1. I believe solution should exist. But I have not enough knowledge to implement this feature. Maybe more experienced comrades can help.

[2016-12-02 16:38] kevinleequinn commented on #269
another way of thinking about this... when iOS triggers a beacon region and your app is not running, it will start it up.  but of course, your app has not set the delegate yet so nothing happens.  for testing I have set it so that the **only thing** my app has on deviceready is to set the delegate to post a local notification, like so:

		var delegate = new cordova.plugins.locationManager.Delegate

[2016-12-02 16:49] kevinleequinn commented on #259
hi, I cannot get iOS to run my delegate.didDetermineStateForRegion function upon that first startup in background.  for testing I have set my app to **only** set the delegate ondeviceready so I am sure it is the fastest possible app you can have.

but sure enough, after I kill the app, the first time I enter a region, nothing happens.  second and third times happen like a charm because the app was

[2016-12-02 17:05] RikdeVos commented on #269
It should still fire didDetermineStateForRegion the first time, even if you've killed the app. I know so because it works for me. Make sure you're adding this event before you start monitoring.

[2016-12-02 17:10] RikdeVos commented on #259
Make sure you wait about 1-2 minutes after you're entering/exiting the region or killing the app. Also check that you're placing the code inside the .run and not a controller, as controllers don't always init in the background mode.

[2016-12-02 17:34] kevinleequinn commented on #269
thanks @RikdeVos, good to know that it works somehow!

one thing that I am not doing is running startMonitoringForRegion on startup.  I have assumed that I didn't need to restart it with iOS since monitoring in background remains running.  but I could see that restarting monitoring for regions on startup might trigger didDetermineStateForRegion again.

will test and report...

[2016-12-02 17:38] codingjam commented on #247
@VitorHFLopes I did not do anything special in Xamarin app to make the monitoring work in background. IOS automatically takes care of it. Make sure you have the authorization, and set the appropriate key value in info.plist

[code]
[code]

`And when you create a Region set the following properties to true.`
[code]

[2016-12-02 18:29] kevinleequinn commented on #269
bingo!  that did it.

startMonitoringForRegion on deviceready will retrigger didDetermineStateForRegion

on iOS, my app now posts a notification upon entering any beacon region.  even if I kill the app and then enter a region.  I've tested a bunch of times now and zero failures.

thanks @RikdeVos, your comment triggered the solution.

[2016-12-02 18:31] kevinleequinn commented on #259
got things working @RikdeVos, thx.  #269

but what is this ".run" you speak of?  is that some sort of Angular thing?

[2016-12-02 19:13] RikdeVos commented on #259
Great, yes if you were using Ionic (which uses Angular JS) by coincidence then that would be applicable, otherwise forget what I said :)

[2016-12-02 19:48] #269 closed, assigned to nobody

[2016-12-06 12:20] VitorHFLopes commented on #247
@codingjam I've made a concept mistake, background is different when you kill the app (remove from task switcher). I can find beacons in background with android and iOS, but what I need is a service to keep watching beacons when the app is killed. After a research I couldn't find any way to do that with Ionic for example, this just can be done only with native code :/
If you know something that ca

[2016-12-09 09:38] Velissel commented on #268
getting the same issue here, looks like it is because _peripheralManager is nil when it is called

I am testing on iOS 10

[2016-12-09 16:42] peterholcomb opened #271 "IOS10 now requiring NSBluetoothPeripheralUsageDescription"
Recently got this email from itunes with a new build i uploaded:

Would it be possible to fix this by providing a parameter for the plugin that we can use similar to how the geolocation plugin addresses this:

[code]

[2016-12-11 11:32] afgallo opened #272 "[question] Does it work with Ionic v2?"
Hi there!

Followed this doc closely (https://ionicframework.com/docs/v2/native/ibeacon/) but the plugin doesn't work. I get erros saying **"can't find cordova variable"** or **"cordova is not defined"**. Note that this happens debugging in the browser, emulator and the actual device!

Any thoughts?

[2016-12-11 18:46] pantonis commented on #272
what command do you use for debugging?

[2016-12-11 19:25] afgallo commented on #272
ionic run ios --device

[2016-12-11 19:31] pantonis commented on #272
dont know if this helps but it seems if you use -l flag you get this error because there is a bug. But from what you posted you dont use -l flag
[#467](https://github.com/driftyco/ionic-app-scripts/issues/467)

[2016-12-12 10:44] afgallo commented on #272
thanks @pantonis. I didn't realize I ran the command a few times with -l option. You are spot on!

[2016-12-12 10:44] #272 closed, assigned to nobody

[2016-12-15 15:45] parkej60 commented on #254
What we've found is this issue has to do with the RSSI thresholds set within the iOS Framework that trigger the didEnter & didExit region events. The beacons we were using were throwing out a very low RSSI that was very rarely exceeding the didEnter threshold. We swapped out the beacon for one that had a very high RSSI and we we're no longer seeing the issue.

[2016-12-15 16:20] parkej60 opened #273 "Update to Latest AltBeacon Version"
Is there anyway we can get the this project updated to the latest AltBeacon library to address the issues that are being seeing related to BLE scanning limitations on Android 7.0? It seems that Nougat is only allowing 6 BLE scanning requests every 30 seconds, if it exceeds this value it blocks BLE scanning for 29.5 seconds. We're working on figuring out how to compile the java file and send out a

[2016-12-16 09:21] RikdeVos opened #274 "Monitoring in background mode - Android"
I'm using this plugin to monitor a couple of ibeacons, and it works great in background mode on iOS (even after killing the app!). But on Android I'm having no luck. After leaving it closed for a while Android seems to kill the app and stop monitoring.

I don't want to use [katzer's background mode plugin](https://github.com/katzer/cordova-plugin-background-mode) as that always displays a notifica

[2016-12-19 09:43] subhash8108 opened #275 "Beacon notification"
Is it possible to get notified when entering a beacon range, even when the application is killed. The application is not running in the background. How can we achieve this?

[2016-12-20 22:33] andersborgabiro commented on #271
I get this message: "This app attempts to access privacy-sensitive data without a usage description. The app's Info.plist must contain an NSBluetoothPeripheralUsageDescription key with a string value explaining to the user how the app uses this data."

I'm not sure what "privacy-sensitive" means in this context.

Maybe this is an alternative. I haven't tested it yet, but I use it to override other

[2016-12-20 23:32] andersborgabiro commented on #254
Very high = 0 dBm or thereabouts?

[2016-12-21 22:02] andersborgabiro commented on #271
The above didn't help, even though it should have. I still get the same message Peter gets. I can post the whole config.xml privately if it would help.

Could this be fixed generically by the plugin? Right now I'm mostly worried about getting a critical app out the door.

[2016-12-31 07:49] Velissel opened #276 "iOS 10 always reports bluetooth not enabled"
Hi,

I am testing this plugin on iOS 10, however isBluetoothEnabled always returns false, does anyone have an idea?

It works perfectly on my iOS 8.1 device

Thanks

[2017-01-02 03:27] Velissel commented on #275
You can try beacon monitoring, if you want to know distance, you can start ranging after monitoring brings app back to background

[2017-01-10 07:25] subhash8108 commented on #276
Hi,

IOS auto connect with devise... i was tried auto connect with ios

[2017-01-15 16:40] halindrome commented on #176
I am seeing this on a Pixel XL running 7.1.1.  It seems that ranging is very intensive.  Is there a way to limit the frequency of ranging events?  Like only call the callback every 500 ms or something?

[2017-01-18 19:04] mpk2 commented on #274
I could not solve this issue with this plugin because background monitoring does not spawn a webview in which the javascript callback can be executed. I had to create a plugin that registered a sticky service in which all relevant functionality was natively executed. I then used a javascript interface to start and configure the service when the app ran.

[2017-01-25 03:25] bobhuang1 commented on #271
I had to manually add this entry directly to the info.plist after platform add ios, but before build, then it worked.

[2017-01-25 03:51] bobhuang1 commented on #273
@parkej60 Did you ever get this to work? I have tried everything I could fine, but only one thing worked,
https://github.com/petermetz/cordova-plugin-ibeacon/issues/253
By setting ForegroundBetweenScanPeriod to 5000ms I was able to avoid the Android 7 limitation. But with the interval at 5 seconds, I keep missing beacons. I was hoping to set the value to 5000 ONLY for Android 7 and default for all

[2017-01-25 08:50] katzlbt commented on #276
Apple does not let you find out if the user has bluetooth enabled.
This is likely a privacy issue. (IMO its nuts.)
If you __start ranging__ you get the "General protection fault" type error: "The operation clouldn't be completed. (kCLErrorDomain error 16.)" BUT: **iOS displays an alert "Turning on Bluetooth will improve location accuracy." [Settings, OK]** (probably only once and not in airplane m

[2017-01-25 13:37] sevans-ge commented on #273
There is PR #277 for the version 2.9.2 of AltBeacon. Looks like it just need to get merged.

[2017-01-25 14:28] selectedpixel commented on #273
Nice work guys!

[2017-01-26 20:40] petri commented on #150
@KinG-InFeT could you please contribute your code as a pull request here? That would be wonderful.

[2017-01-27 15:52] halindrome commented on #273
The PR looks to be just a drop in of the 2.9.2 jar file.  You could probably test that out locally by hand.

[2017-01-30 13:13] El-Shinnawy opened #280 "Location permission error on deviceready"
Hello, I always get this error (Need ACCESS_COARSE_LOCATION or ACCESS_FINE_LOCATION permission to get scan results.) after deviceready event is fired before even calling ($rootScope.$on("$cordovaBeacon:didRangeBeaconsInRegion")

How to make the plugin start ranging only after specific event.

[2017-02-06 19:21] andersborgabiro opened #281 "Question regarding converting transmission power to measured power"
Is it roughly safe to say that if "measured power at 1 meter" is e.g. -59 dBm at 0 dBm "transmission power", that the formula for calculating an adjusted measured power would be "measured power at 1 meter" + "transmission power"?

Example: If "transmission power" is set to 4 dBm then "measured power at 1 meter" would be -55 dBm given the above.

This is of course more related to configuring beacon

[2017-02-10 05:45] nilebma commented on #276
For me _isBluetoothEnabled()_ works when I call _requestAlwaysAuthorization()_ and if I have background location authorization set up.

Otherwise, if I call _requestWhenInUseAuthorization()_, it always return false...

[2017-02-10 15:07] nilebma commented on #276
I finally used this plugin to know if bluetooth is enabled or not (works with iOS 10) :
https://github.com/255kb/cordova-plugin-bluetooth-status

[2017-02-11 14:50] KinG-InFeT commented on #150
@petri my pull https://github.com/petermetz/cordova-plugin-ibeacon/pull/282

[2017-02-19 08:03] okonon commented on #266
make sure that you not setting debug notifications on `enableDebugNotifications()`

[2017-02-20 15:39] ManjuSagar opened #283 "Advertising the beacon is not working."
While advertising the virtual beacon in ios 10, success callback is executing but there is no virtual beacon recognised.

[2017-02-24 02:48] frenchynyc opened #284 "Monitor for beacons around even those you don't own"
I would like to know how to implement this function in my Ionic app :

the app scans for beacons around, even the ones that don't belong to the app.

If the app finds one that matches the UUID and ID of one of the registered beacons in firebase, then action.

How can I do this code ?

[2017-03-02 04:09] NAOZANS opened #285 "Monitoring does not work on iPhone7 & iOS10.2"
Hello.

didStartMonitoringForRegion does not work enviroment as below.
Device iPhone7
OS       iOS10.2

By the way, didStartMonitoringFOrRegion work right on iPhone5 with no problem .
Let me know any neccesary setting in source code, if needed.

[2017-03-02 06:07] stwilz commented on #264
@msdorachua If this is an android issue you might find it's related to runtime permissions (introduced in 5.0.0+). I also had an empty beacons array (android only) and when looking through my android studio logs found that my app required the permission "android.permission.ACCESS_COARSE_LOCATION".

An easy way to find out if your app needs this without having to go into Android studio is to open `

[2017-03-02 15:22] don commented on #285
@NAOZANS try using `cordova.plugins.locationManager.requestAlwaysAuthorization()` instead of `cordova.plugins.locationManager.requestWhenInUseAuthorization()`

[2017-03-03 00:36] NAOZANS commented on #285
Thank you for your response. I try it. cuurent Status is requestWhenInUse.

[2017-03-06 05:09] albertytau opened #286 "Urgent Help : Reject by Apple Store - Locations Updates in IOS plugin"
I have encountered the issue that my app is being rejected as the plugin required location updates in the background modes. Do you have this issue and how can this be resolved. Many thanks.

[2017-03-06 05:28] NAOZANS commented on #285
However didStartMonitoringForRegion is OK,  didDetermineStateForRegion event never occurs.
Let me know check point.

[2017-03-06 07:10] NAOZANS commented on #285
Sorry, Device is iPhone7 Plus only. iPhone7 is OK.
In just case, However I issue isRanginggAvailable" or "getAuthorizationStatus" command, Return value is not right.

[2017-03-06 20:24] shi11 opened #287 "#WK: Connection::waitForSyncReply: Timed-out while waiting for reply"
Hi, I've been using this plugin for Region monitoring and it works well until it needs to startMonitoring a new region while other things are happening. Then it becomes really sensitive.

It seems like if there's too much happening (and there's really not that much), the app freezes and starts spitting out this error: #WK: Connection::waitForSyncReply: Timed-out while waiting for reply

Searching

[2017-03-08 14:24] shi11 commented on #287
Just to catalog my experience, I solved this issue but I'm not exactly sure what fixed it.

After not finding a solution, I installed https://github.com/cowbell/cordova-plugin-geofence this plugin had me additionally install cordova-plugin-add-swift-support. It also had me change a swift build setting.

I soon discovered that the geofence plugin didn't fit my needs so I pushed it to a branch and r

[2017-03-15 19:46] mdings opened #288 "[Question] Trying to understand order of execution"
I am using the plugin to monitor beacons in the background. To do so I am using the code from the  [example](https://github.com/petermetz/cordova-plugin-ibeacon#start-monitoring-a-single-ibeacon) inside the 'deviceready' event.

Now what exactly does happen when a beacon gets monitored? From what I understand the app gets launched in the background and is able to execute some code. Through trial a

[2017-03-20 17:17] FranciscoG opened #289 "ios stopRangingBeaconsInRegion not actually stopping"
stopRangingBeaconsInRegion doesn't actually stop ranging.  When I call the method it stops temporarily but soon after it starts ranging for beacons again.

I'm on iOS 8.4 at the moment.

I have 6 beacon region stored in an array and I loop through the array and call `cordova.plugins.locationManager.stopRangingBeaconsInRegion` on each item to stop.

I'm able to succesfuly call the startMethod rangi

[2017-03-21 12:40] halindrome commented on #274
mpk2 do you have an example of that plugin that you could share?

[2017-03-21 19:46] mpk2 commented on #274
@halindrome
Sure, although it's somewhat specific. Hopefully you'll be able to modify it for your needs:

https://github.com/Topl/cordova-beacon-background

[2017-03-22 13:34] neilepalmer commented on #233
FYI I just had my app rejected by Apple for having Background - Location Updates enabled.  Seems like they've changed the requirements, so if that was fixing your issue (I'm still getting it on Android), then will need a new solution

[2017-03-22 13:49] cgewecke commented on #233
@neilepalmer  Could you provide some more detail about the rejection? Is it your impression that they are disallowing background mode for beacon-based applications or was there an issue with that capability specific to your application?

[2017-03-22 14:22] neilepalmer commented on #233
Not sure why it got caught this time around - maybe I'd not enabled it before - but when I submitted the build for review, they came back with the following questions:

- Does this app detect startMonitoringForRegion:, startRangingBeaconsInRegion:, or both?
- What is the user experience when the app detects the presence of a beacon?
- What features in this app use background location?
- If this ap

[2017-03-22 14:40] cgewecke commented on #233
@neilepalmer Thanks! That's super interesting. Does your app continuously monitor for beacons in the background?

[2017-03-22 16:13] neilepalmer commented on #233
It does if you have them configured for that part of the app and then move the app to the background

[2017-03-23 14:28] em4nue1 commented on #233
@neilepalmer I'm getting the same error. Since I don't really need background monitoring and I'm afraid my update will get rejected as well, I'm wondering how I can monitor only when the app is open.

I only call `IBeacon.requestWhenInUseAuthorization();` and NOT `IBeacon.requestAlwaysAuthorization();`, so I don't understand why I get the `setAllowsBackgroundLocationUpdates` error at all 😂

Do you

[2017-03-23 14:35] neilepalmer commented on #233
Just to clarify - it wasn't the fact that I was monitoring in the background.  It was the fact that I'd enabled "Background Location Updates" in XCode as part of the app entitlements.  You no longer need that for background beacon monitoring.  Just unselect it & resubmit and you should be good.

[2017-03-23 14:48] em4nue1 commented on #233
@neilepalmer Thank you so much for your quick answer!
The only way I could fix the error and run the app was enabling the background updates (checkbox) in Xcode. How could you fix it, instead?

[2017-03-23 19:51] neilepalmer commented on #233
Not sure since I can't replicate this issue.  I'm on Cordova v6.5.0, ios platform v4.3.1, XCode v8.21.  Are you initializing the beacon stuff in (or after) onDeviceReady()?

[2017-04-04 20:43] flieks opened #290 "new uwb beacons (estimote)"
Would this work with these new beacons ?
http://blog.estimote.com/post/154460651570/estimote-beacons-with-uwb-can-now-automatically
They allow calculating distance between 2 beacons

[2017-04-04 21:00] flieks opened #291 "distance travelled after movement?"
Is there a way to know the change in distance and direction after a (vertical) movement between current location and previous location.
Example:
![image](https://cloud.githubusercontent.com/assets/5032389/24678352/80cf80b6-198a-11e7-94ae-b2dd79c47ab6.png)

[2017-04-04 23:26] linuxs commented on #291
Hello, could you not use high accuracy GPS positioning to track the first set then when the second set is reached calculate distance? Or you could use a network mesh approach and pass data from one beacon to the next along with storing position data on the device and calculate based on speed or accelerometer?

[2017-04-05 08:02] flieks commented on #291
Hi @linuxs . I don't know if estimote's beacon has GPS sensor.
Only this:
motion, temperature, ambient light, magnetometer, pressure
mesh networking, GPIO, RTC, LED, 1Mb EEPROM, programmable NFC

Is your 'mesh network' approach doable with this library?
The movement will be vertical (up/down) so i just need to know direction and if it moved more then 15cm.

Greetings

[2017-04-05 08:13] linuxs commented on #291
I'm actually taking over estimotes cordova plugin it will be getting an
update soon. You can check my profile and use my Android branch for the
latest SDK in the meantime.

On Apr 5, 2017 4:02 AM, "De Lille Felix" <notifications@github.com> wrote:

[2017-04-05 12:32] t2wu opened #292 "How to avoid always ask for permission on app launch on Android"
As title, on Android the app always ask for permission on app launch, even if it was permitted before. Is there a way to switch it off?

[2017-04-05 12:42] asafper commented on #167
Hi did you manage to resolve this ?

[2017-04-05 13:01] NadirBertolasi commented on #283
I have the same problem on iOS 10 for advertising  functions. Scan is working. The issue was found on iPhone 5S with iOS 10.3.1

[2017-04-11 14:00] flieks commented on #291
thanks @linuxs i have time, i will wait until you update this repo. Your other repo phonegap-estimotebeacons was forked from the old repo (obsolete)

[2017-04-19 09:49] 0x1ad2 commented on #167
@asafper yes I did, use my code above.

[2017-04-26 09:51] HuoJiazhi opened #293 "The BeaconManager is not bound to the service. Call beaconManager.bind(BeaconConsumer consumer) and wait for a callback to onBeaconServiceConnect()"
When I run my hybrid app in my phone(Android),I can not get the beacons and get the Exception：
“The BeaconManager is not bound to the service. Call beaconManager.bind(BeaconConsumer consumer) and wait for a callback to onBeaconServiceConnect()”

here is my index.js:

[code]

[2017-04-28 16:33] ravishan110 commented on #250
Facing the same issue, not able to detect Kontakt Beacons, is there any solution for this?

[2017-04-29 12:28] rubens21 commented on #112
Hi guys,
The @olegdizus solution did work for me. However, I was having a huge gap between scanning updates sometimes. Its gap was about 25s long. So, I accidentally was reading about this other issue: https://github.com/petermetz/cordova-plugin-ibeacon/issues/263, and @omanthey explained about the Android 7 scanning interval limit.

When I read that description it made senso to me, so I tried to

[2017-04-29 12:29] rubens21 commented on #263
@omanthey Thank you so much for this comment! This simple description about that Android limitation solved my questions.

Unfortunately I cannot answer your question. I would guess the value is the last value scanned.

[2017-05-02 09:39] jitmo opened #294 "non-breaking Phonegap build deprecation warnings"
Great plugin, it works well for me!

When diagnosing a Phonegap build failure I noticed that this plugin has a bunch of deprecation warnings, although the features I'm using work well for me

I won't be able to make a PR as I don't have a Mac (or know XCode) so I'll leave this with you to assess :)

My setup is Cordova cli-6.5.0 (iOS 4.3.1 / Android 6.1.2 / Windows 4.4.3), using v3.4.0 of this plu

[2017-05-03 13:53] urdragon2 commented on #233
This happened to me as well. Instead of putting the background capability to on and potentially getting denied by apple since you don't need background locations take out all remnants to background locations. Odds are you copied and pasted the location function from an older app or maybe off a website, not that anyone does that. Anyway.

You need to comment or completely take out: This is probably

[2017-05-09 14:01] vienom commented on #263
@omanthey Do I get that right. There is no way to scan more than 5 times in 30 seconds on Android 7. Not even in native code? Regards, Thomas

[2017-05-09 14:08] rubens21 commented on #263
@vienom I am not sure if it is an Android limitation, but it really has a limitation with this code.
 However, I was trying others codes, and I found this one https://github.com/evothings/cordova-eddystone
Note that the Evothings uses eddystone protocol.
It is working fine to me. I am reading each 300ms. Unfortunately, this code do note measure the distance, you have to figure out how to do that.

[2017-05-09 14:21] vienom commented on #112
Thanks. I found a way to calculate the distance in an other thread. But it depends on the device and so is not very reliable. I use it to detect if the beacon is in very short distance to the phone. Therefore it's ok.

[code]

[2017-05-09 14:35] rubens21 commented on #112
@vienom I had used this same formule, but it gave me extremely differences between devices.
Which beacon brand are you using? I am using the Beeks Blue Vision ones.

I am getting a huge range of rssi's value  from the same beacon with a single device in a short period of time (10s sometimes).
I do not know if it is common, or its this beacon's limitation, or if I am doing something wrong.
I though

[2017-05-09 14:53] vienom commented on #112
I'm using Kontakt.io Beacons. For me it's the same with the huge range. The formula just works for distances within 1 meter. For larger distances I get differences of a few 100 % in a short period. It could be a solution to calculate an average over a few measurements, but that would make the ranging process much longer. After working with different beacons over a couple of weeks I just can't reco

[2017-05-11 18:59] mbackermann opened #295 "Bad Performance on Ionic 3"
Hi,

I just created a new project with Ionic CLI 3 and Ionic Angular 3.2.0, but when I start monitoring for region, the performance is really bad. It gets delayed even to change to another tab or page and even for scrolling. My app is all blank, only using the beacon for testing.

Do you have any idea of why this is happening?

[2017-05-11 19:59] #295 closed, assigned to nobody

[2017-05-11 20:03] mbackermann opened #296 "Doesn't start monitoring"
Hi,

I have an Ionic Project with the following info:

I installed the plugin on my project but it doesn't start monitoring and breaks all my app, making it really laggy when changing tabs, pages and etc.

`this.ibeacon.startRangingBeaconsInRegion(beaconRegion)
      .then(
        () => console.log('Native layer recieved the request to monitoring'),
        error => console.error('Native layer fa

[2017-05-12 03:56] Rieranthony commented on #296
Can you try to run the enableDebugLogs() function to get any more debug information?

[2017-05-12 10:13] lukaszzieba commented on #295
Hello,
So why this is happening, i have the same behaviour on device with android 6.0.1

[2017-05-17 16:00] skhye05 commented on #264
@stewil Thanks, my app works.

[2017-05-17 18:03] RubyRonin commented on #296
Are you monitoring? You may need to monitor the region, and once you enter the region start ranging for the beacons within said region.

[2017-05-17 20:53] mbackermann commented on #296
Hi, I got it working since I updated to 3.4.1

Thanks for your help

[2017-05-17 20:53] #296 closed, assigned to nobody

[2017-05-21 13:21] Atulvermaon18 commented on #283
For advertising function what is UUID, is it going to generate by itself ? From my understanding if phone will act as beacon do I have to provide UUID of it is self generator.

[2017-05-22 14:17] troyanskiy commented on #284
Did you manage to scan for all beacons?

[2017-05-27 09:20] Atulvermaon18 commented on #184
Can some on help me on Advertising as a beacon on Android

[2017-05-28 12:00] nilaysaha opened #297 "Is beacon transmission supported on android 5.0 and above ?"
Is transmission as a beacon enabled also for android 5.0 and above using this library ? Any help highly appreciated.

[2017-05-30 17:50] mbackermann opened #298 "Delay entering region iOS"
Hello guys,

I'm facing a problem with my Ionic 3 project on iOS. Everything works fine on Android, but on iOS it's taking too long to fire the event didEnterRegion on foreground. Has anyone faced this issue?

Here is my code:

`
    //Beacons monitoring
    let delegate = this.ibeacon.Delegate();
    this.store = this.ibeacon.BeaconRegion('store','B9407F30-F5F8-466E-AFF9-25556B57FE6D',2002,1002,t

[2017-05-31 14:34] joe-complete-grp commented on #289
I am experiencing the same issue - did you resolve?

[2017-05-31 17:07] FranciscoG commented on #289
I did not and it keeps eating up my battery

[2017-06-09 10:42] Ghenty opened #299 "Project still alive?"
Hi,

I plan to start to develop a Cordova App which requires Range detection for iBeacons. Therefore I am planning to use this plugin.
I am wondering if this project is still supported because the last commit is a year ago. So, is this project still supported or are there any alternatives on the market?

Best regards,
Christian

[2017-06-16 01:03] david-poindexter commented on #271
Is there a reason why the PR has not been accepted?  This issue is preventing us from launching an app for our client.  ;-(

[2017-06-19 13:42] kailashanath opened #300 "1234"

[2017-06-19 13:42] #300 closed, assigned to nobody

[2017-06-20 16:55] andersborgabiro commented on #297
I don't have the answer regarding this library, but it should be simple enough via any of the BLE plugins, by sending an advertisement according to the iBeacon format. Not impossible there are examples floating around.

[2017-06-25 22:36] ghost opened #301 "Beacon Custom Data"
Hi ! (and sorry for my English...)

I'm trying to display custom data linked to a beacon. I have some beacons with id, uuid...etc and i want to add a title, a description or other things like that.
So i have a table of beacons

`app.beaconRegions =
    [
        {
            identifier: 'num1',
            uuid: 'EBEFD083-70A2-47C8-9837-E7B5634DF543',
            major: 1,
            minor: 1,

[2017-06-27 00:41] jairoGilC opened #302 "multiple beacons in the same region"
Hi, I make a test app and see the code in the [issue 190](https://github.com/petermetz/cordova-plugin-ibeacon/issues/190) I make a region for each beacon; the problem is that with this solution each region response asynchronous; I try pass and array of regions to `startMonitoringAndRangingRegion` but it not work.

So is posible have multiple beacons in the same region?

[2017-06-27 15:09] Octtavius opened #303 "How to call requestWhenInUseAuthorization() later in the app on iOS"
As you know on iOS this plugin uses LocationManager to range beacons, and it requests users to whether "Allow" or "Not Allow" the app to use Location. So, if user choose "Not Allow", then this plugin will not scan for beacons.

How can I request again the user to allow the app to use Location?

I have the following function that is called on a specific page but it doesn't do anything:

    var req

[2017-06-30 08:23] ghost commented on #219
My use case would be to use 100's of iBeacons in a large application. I would buy them in bulk with the same uuid and major minor settings (0:0). I would then use the device Mac or Serial number or Name of the iBeacon to tell them apart. This way I can deploy them out of the box without any pre configuration (a huge labour saving). The beacons I use all have a serial number and name  that is visib

[2017-07-03 09:45] yalleng18 commented on #292
https://github.com/NeoLSN/cordova-plugin-android-permissions

This plugin is what you need.

[2017-07-03 09:47] yalleng18 commented on #280
With Android 6.0 or above, you need to specifically ask users for permission to access location data.

https://github.com/NeoLSN/cordova-plugin-android-permissions

Try use this plugin to solve the issue.

[2017-07-04 06:48] t2wu commented on #292
@yalleng18 Thank you so much! I'll look into it!

[2017-07-04 14:09] terminaltor commented on #286
Did you manage to solve this issue? I'm getting a rejection from Apple.
Thanks mate

[2017-07-05 12:11] Dinesh0405 opened #304 "Beacon Intent Processor Service where you can Terminated."
App is working in a Background using background plugin but i am unable to get Beacon Service alive when i closed the App.please Let me suggest on it where you can Terminated Scanning Services/closed  (Beacon IntentProcessor Service).

[2017-07-06 10:51] yalleng18 opened #306 "iOS toggle bluetooth on/off monitor question"
I have read through all the iOS background/closed app monitor questions but none seem to answer one specific scenario I am seeing.

Here is the scenario:
1. Bluetooth off
2. open app    ---> start monitoring event triggers correctly
3. put app into background(or kill it)  --> Note: phone is kept on, not in sleep mode
4. enter beacon region
5. turn on blue tooth   --> Nothing happens....
6. put pho

[2017-07-08 09:13] redoc123 opened #307 "didRangeBeaconsInRegion - didRangeBeaconsInRegion returns empty array"
I am using this plugin in ionic2 project. It just gives me empty array for "didRangeBeaconsInRegion".'
I cross checked the UUID and its fine. I tested with other beacon detection apps - my beacon shows fine. I also tried with Ionic native code (in case anyone suggests that) but no luck.

I am testing this on android One plus X.

[code]

**PROJECT PLATFORM INFO**

**ionic info::**
global packages:

[2017-07-14 21:33] thesunnydelight commented on #150
@DanielFreiburger
can you share the stopAdvertising code?  i'm running into the same issue

[2017-07-21 08:05] Dinesh0405 commented on #275
#subhash8108 I am also getting problem for Notification, so please suggest me

Please Suggest any one How to get notification when some one enter in Region

[2017-07-24 09:15] sfrank87 commented on #212
Hi,
I have the same problem, but unfortunately I build my apps with [Phonegap Build](https://build.phonegap.com/), so I don't have XCode and can not follow the hint above. Is there another way to disable the background location updates capability? Which files does XCode write to, when changing this setting?

Thank you very much for your support!
Frank

[2017-07-26 01:11] NodeKing commented on #298
Same issue here. Did you find a solution?

[2017-07-26 02:20] mbackermann commented on #298
I didn't find any solution. I had to change my project to be able use ranging instead of monitoring

[2017-07-26 03:21] NodeKing commented on #298
Thanks for the response! Are you using the ionic native's ibeacon? Would you mind posting some code you used for the ranging?

[2017-07-27 06:49] bing751002 commented on #267
I hope that is not too late.  The answer is that in the CDVLocationManager.m file, the plugin will detect the ios version. IF the version over 9.0, it will force you to enable the locaiton update in background. To solve this, just comment this line:

`//self.locationManager.allowsBackgroundLocationUpdates = YES;`

[2017-07-27 06:51] bing751002 commented on #286
I just solved this issue, please just comment this line in CDVLocationManager.m

`//self.locationManager.allowsBackgroundLocationUpdates = YES;`

[2017-07-27 15:40] philib opened #308 "Background Service"
Hey, i'm planning to build my an own cordova plugin to process collected ibeacon data in a background service. Is it possible to call your plugin, inside of my plugin or do i need to implement the ibeacon logic by myself? Thanks in advance

Phil

[2017-08-02 10:04] adriancaamano commented on #307
Hi there,
i have the exact same problem. I try a app i found with a previous version and all work fine but when i try to code my own app with last version, didRangeBeaconsInRegion is returning always empty.

If you can fix it, pls tell me.

[2017-08-04 18:09] abduncan commented on #307
**UPDATE** Looks like my issue is that the beacons are not actually transmitting consistently.

I am having a very similar issue.  For the issue of the array being completely empty all of the time, make sure your bluetooth is turned on.

The issue I am having is, for the first 5-6 seconds, it finds the beacons. For the next 18-20ish, it returns an empty array.

This pattern continues indefinitely.

[2017-08-04 21:12] yohio opened #309 "Ionic v3.7.0"
when installing using:
`ionic cordova plugin add cordova-plugin-ibeacon`
the app installs com.unarin.cordova.beacon
it then does not find cordova-plugin-ibeacon as installed and fails in the app.
Any help will be useful
npm v5.3.0
node v8.1.3
ionic v3.7.0
cordova v7.0.1

[2017-08-07 17:11] andersborgabiro commented on #150
Any plans for adding this (including stopAdvertising of course) to the core code in the near future?

Will the pull request code behave reasonably if the API is not there or the hardware is not there?

I see a need both for my own field testing and commercially. Apple doesn't allow beacon advertiser apps to have freely configurable Major and Minor ID, so I need an Android app for that. The base ap

[2017-08-08 03:10] littlemercury commented on #254
@andersborgabiro Not sure if this is still an issue for you, but I was able to overcome the problem by resetting the delegate before ranging. Probably not the most practical solution as I'm not monitoring any regions, just actively ranging when a user loads a particular page, and then stopping when the page is exited, but it solved the problem.

[2017-08-08 06:56] andersborgabiro commented on #254
I changed the code to not rely on enter/exit region as a trigger for ranging, and ranging is not affected.

But if more than one app listens to the same region, only one app seems to get didDetermineStateForRegion calls. This is consistent for iOS. It surely doesn't have anything specific to do with this plugin.

[2017-08-12 09:35] andersborgabiro opened #310 "Can't activate advertising"
I made a simple beacon advertiser app for iOS some time ago, and the published version still works, but when building with the latest cordova-plugin-ibeacon for cli-6.5.0 or cli-7.0.1 there's now no advertising taking place. To be on the safe side I now follow the example given in the documentation precisely.

Thanks in advance for any pointers,
Anders

Verified:
- Input values are valid.
- status

[2017-08-12 09:42] andersborgabiro commented on #283
@Atulvermaon18 You must provide explicit UUID, Major ID and Minor ID.

But I also have issues with advertising: https://github.com/petermetz/cordova-plugin-ibeacon/issues/310

[2017-08-14 09:33] sfrank87 commented on #212
@kevin-smets could you please provide the fix again?
thank you :)

[2017-08-15 03:15] brandon-objectstudio commented on #283
I am running in to a similar issue - I set up equivalent to the examples, no JS problems, and no exceptions in the objective C code. All success callbacks are executing but no beacon looks to be present and the delegate events are not firing.

What I did discover is that at this check, I am seeing that the peripheral manager is not powered on:

if (_peripheralManager.state == CBPeripheralManagerSt

[2017-08-15 03:17] brandon-objectstudio commented on #310
I am having the same problem. iOS 10.3. I commented on the issue #283 you referenced above.

Is this plugin being actively maintained?

[2017-08-15 09:33] andersborgabiro commented on #310
It doesn't seem to be maintained anymore. Peter Metz would know.

I added cordova-plugin-ios-ble-permissions, that I use in another project, but that didn't change the behavior, and AFAIK it was only needed to get the other project approved by Apple.

There's at least one critical pull request, so it would be a bummer if it's not worked on anymore:
https://github.com/petermetz/cordova-plugin-ibeac

[2017-08-15 19:11] brentmitch commented on #307
davidgyoung via Stack Overflow suggested:

See: https://stackoverflow.com/questions/43344220/i-using-cordova-plugin-ibeacon-but-not-workingdoesnt-find-beacons-in-android

My app started sensing beacons when I turned the Location entry on.

[2017-08-23 06:52] petermetz commented on #150
@andersborgabiro @petri @thesunnydelight @sixman9 @Phoscur  @pantonis

Merged in https://github.com/petermetz/cordova-plugin-ibeacon/pull/282 just now.

[2017-08-23 06:52] #150 closed

[2017-08-23 07:09] petermetz commented on #309
@yohio Please have a look at the new edition of https://github.com/petermetz/cordova-proximity-quickstart which I used for testing recently: latest Ionic and Angular.

If that doesn't help please re-open with the exact sequence of commands you used to reproduce the issue (starting with project creation from the ionic cli)

[2017-08-23 07:09] #309 closed, assigned to petermetz

[2017-08-23 13:59] MurtazaEliyas commented on #241
Hi followed the ionic guide and all events working fine except for didExitRegion.
I read in some links where its said that didExitRegion event delays for 20 to 30 seconds as the native Apple implementation meant it that way [https://github.com/Estimote/iOS-SDK/issues/58](url).
I am using Ionic 2 and testing on android

[2017-08-23 16:17] shi11 opened #311 "geofencing on android"
Hi, I'm using this plugin for region monitoring on iOS - anyone get geofencing to work on Android? Or should I look into a different plugin? like https://github.com/cowbell/cordova-plugin-geofence

[2017-08-25 07:08] andersborgabiro commented on #311
Do you mean geofencing via GPS/cell/WiFi location? No, it doesn't do that.

[2017-08-25 07:23] andersborgabiro commented on #302
You can set major and minor ID to undefined, and all beacons with the given UUID will be detected.
E.g.: `var region = new cplm.BeaconRegion(BeaconIdentifier + "." + uuid.token, formatUUID(uuid.uuid), undefined, undefined, true);`
On iOS you need to set a UUID. On Android you supposedly don't have to do that, but I don't use it that way.

[2017-08-25 07:25] andersborgabiro commented on #301
The plugin doesn't store arbitrary information like that. You need to handle that on your own, by looking the info up in an array based on UUID, Major ID and Minor ID.

[2017-08-25 07:25] andersborgabiro commented on #299
Peter just made an update to 3.5.0.

[2017-08-25 07:31] andersborgabiro commented on #290
This plugin is for iBeacon compatible beacons via BLE. Estimote has an SDK you can use.

[2017-08-25 07:33] andersborgabiro commented on #289
I do this. At least works for me. Whether it still eats battery I don't know.
[code]

[2017-08-25 07:39] andersborgabiro commented on #287
If you don't invoke geofence anymore, the setting must have fixed it.

I haven't experienced this at all, and I monitor and range 15 or so regions.

[2017-08-25 07:45] andersborgabiro commented on #285
My experience is that didDetermineStateForRegion will not be called on iOS if some other app monitors the same region. Therefore I ignore that event and instead only rely on didRangeBeaconsInRegion. I still store the state from didDetermineStateForRegion, but it doesn't affect the logic.

[2017-08-26 18:58] PhilippRath commented on #303
as i know if the user has made a decision you can change it only in the settings. Or uninstall the app and reinstall it.

[2017-08-26 19:04] PhilippRath commented on #292
@t2wu you mean when you first start the app? or really on every start of the App?
Did the plugin fixed your problem?
I have the Problem that if you insert the ibeacon plugin you will prompted as soon the app starts to decide yes no to permit the Location Permission, but i would love to decide when the user gets the Question not thrown in the face at Launch.

@t2wu do you think another plugin is a

[2017-08-28 02:36] t2wu commented on #292
@rathgeber2  Every start of the app. The plugin fixed the problem in some models but not all. You still get prompted (and like two times) on launch, but not afterward if in the models that work. Of course the root problem is that the plugin needs to be updated for the new permission mechanism. So it's better that it gets fixed there. But I don't have the expertise to do so.

[2017-08-29 19:32] shi11 commented on #311
k, thanks @andersborgabiro - that is what I mean...

[2017-08-29 20:19] andersborgabiro commented on #311
I use this plugin for background location: https://github.com/transistorsoft/cordova-background-geolocation-lt

It has support for native system geofencing as well. I handle geofencing in my own code though, as it supports handling of overlapping geofences, transition hysteresis, arbitrarily many geofences (in theory) etc.

[2017-09-02 01:00] petermetz commented on #263
@omanthey Under the hood this plugin delegates the heavy lifting around BLE to the AltBeacon library so what I can recommend is that you check their issue tracker for what they due exactly. Others using their library very likely already had this question asked/answered.

The AltBeacon repo:
https://github.com/AltBeacon/android-beacon-library

I'm closing the issue as answered, but please feel free

[2017-09-02 01:00] #263 closed, assigned to petermetz

[2017-09-02 01:02] petermetz commented on #311
Hi @shi11 as @andersborgabiro stated there is no Geofencing support for Android at the moment. It is on the roadmap, but that's been known to progress quite slowly so I also recommend you go with what @andersborgabiro linked.

[2017-09-02 01:02] #311 closed, assigned to petermetz

[2017-09-02 01:07] petermetz commented on #308
Hey @philib

You should be able to depend on this plugin for your own plugin's code, yes.
If I remember correctly Cordova provides a way to declaratively express the dependency so that whenever someone installs your plugin the framework will automatically pull in this plugin as well. I recommend you check their documentation around this, but the bottom line is that as long as my plugin is installe

[2017-09-02 01:07] #308 closed, assigned to petermetz

[2017-09-02 02:41] petermetz commented on #307
@redoc123 I second what's been already said. You can also give a try to the [quickstart](https://github.com/petermetz/cordova-proximity-quickstart) repo which recently got a facelift.

[2017-09-02 02:41] #307 closed, assigned to nobody

[2017-09-02 03:47] petermetz commented on #310
@andersborgabiro @brandon-applied Can you confirm that the capabilities are set correctly in Xcode?

I just added a new screen to the [quickstart](https://github.com/petermetz/cordova-proximity-quickstart) app (v2.1.0) and it works fine, but only if I have this set:

<img width="1163" alt="screen shot 2017-09-01 at 7 54 56 pm" src="https://user-images.githubusercontent.com/1583231/29992690-a05d858

[2017-09-02 03:55] petermetz commented on #306
Hi @yalleng18

I'm not sure of the root cause of this, could be easily one of the many quirks of the implementation of iOS itself, or could be an actual bug (which you could prove by debugging the Objective C code of course).

Just to help out with ideas: Have you considered ranging as well? Tends to provide better results, but also makes the code more complicated.

Closing the issue, but feel fre

[2017-09-02 03:55] #306 closed, assigned to petermetz

[2017-09-02 03:58] petermetz commented on #292
@t2wu Can you provide more information on the devices, Android versions you use?
I'm testing with a Nexus 5, running Android 6 and not seeing the mentioned behavior.

[2017-09-02 04:00] petermetz commented on #303
@Octtavius I recommend that you solve this in the UI layer by making your user aware that your application will not function properly without the necessary permissions granted first. They should then make an educated decision to change their mind (or not).

[2017-09-02 04:00] #303 closed, assigned to petermetz

[2017-09-02 04:02] petermetz commented on #299
@Ghenty No idea if there are alternatives on the market to be honest.

I'm in maintenance mode with the plugin, meaning that I don't have much time to spend on new features or fixing non-critical issues.

If someone wants to be a contributor contact me via email and we can work something out (e.g. them getting the write permission to the repository).

[2017-09-02 04:02] #299 closed, assigned to petermetz

[2017-09-02 04:09] #109 closed

[2017-09-02 04:10] petermetz commented on #107
Assuming this has been solved since, or captured in another issue.

[2017-09-02 04:10] #107 closed

[2017-09-02 04:10] #127 closed

[2017-09-02 04:12] petermetz commented on #119
Hi @akreienbring sorry for the long delay in responding to this. Could you please give the new version of the [quickstart](https://github.com/petermetz/cordova-proximity-quickstart) repo a go, in case the issue still exists?
There's been lots of bug-fixes since the opening of the issue and I believe it should be working now.

[2017-09-02 04:12] #119 closed

[2017-09-02 04:15] petermetz commented on #126
Latest version is on npm, which means it's also on PhoneGap Build. Please give it a spin or try the latest version of the [quickstart](https://github.com/petermetz/cordova-proximity-quickstart) app.

[2017-09-02 04:15] #126 closed

[2017-09-02 04:16] petermetz commented on #130
Assuming this has been rectified. Thanks @andersborgabiro once again for the help.

[2017-09-02 04:16] #130 closed

[2017-09-02 04:19] #291 closed, assigned to petermetz

[2017-09-02 04:21] petermetz commented on #286
The background location updates capability is necessary for the iOS beacon advertising feature if I remember correctly.
If you aren't using that then it should be fine to just comment it out as @iemummy mentioned.
I'll add this as an enhancement to the backlog. The permissions should be opt-in so that users don't get caught up with rejections when they aren't using a certain feature.

[2017-09-02 04:21] #286 closed, assigned to petermetz

[2017-09-02 04:23] petermetz commented on #301
@andersborgabiro Thanks again for the help!

[2017-09-02 04:23] #301 closed, assigned to petermetz

[2017-09-02 04:26] petermetz commented on #288
Hey @mdings

Assuming you mean when a beacon is detected (entry to region) right?

Yes, this is all correct.

Yes, in fact your whole application gets launched into the background, that's just how iOS managed multi-tasking.

If the app wasn't running then everything needs to be set up from the ground up once again. There can be no `only the callback inside 'didDetermineStateForRegion' was being ca

[2017-09-02 04:26] #288 closed, assigned to petermetz

[2017-09-02 04:30] petermetz commented on #271
@nvisionative  Lack of time. Please remember this is free software. ;-)

[2017-09-02 04:30] #271 closed, assigned to petermetz

[2017-09-02 04:39] petermetz commented on #241
If you are having issues with your implementation please check out the latest version of the [quickstart](https://github.com/petermetz/cordova-proximity-quickstart) app as well.

Also: @MurtazaEliyas is absolutely right, the underlying implementation of the OS sometimes introduces quirky behavior like the aforementioned.

If you want to be sure that you aren't dealing with a bug in the plugin itse

[2017-09-02 04:39] #241 closed, assigned to petermetz

[2017-09-02 04:41] petermetz opened #312 "Android 7 - 30 minute limitation"
Opened this to keep track of it, it's been mentioned elsewhere, but not on-topic I believe.

[2017-09-02 05:15] david-poindexter commented on #271
@petermetz no disrespect intended ;-)  Thank you for making this available.

[2017-09-02 07:55] andersborgabiro commented on #271
I use cordova-plugin-ios-ble-permissions to fix it. You can't modify the message AFAIK.

[2017-09-02 08:38] andersborgabiro commented on #310
I tried cordova-custom-config with these settings:
[code]

NSLocation... show up in the IPA Info.plist, but not UIBackgroundModes. The syntax is according to examples at https://www.npmjs.com/package/cordova-custom-config.

I also tried invoking cordova-plugin-ble-central, assuming it would set it, but that didn't fix it.

I'll do some more experimenting and report back if I get this to work.

[2017-09-04 01:59] petermetz commented on #285
@NAOZANS Unfortunately I support the answer of @andersborgabiro, there's some quirks on the OS level that the plugin can't do much about. This seems like one of them.

If you end up spending a lot of time on this issue and manage to arrive at a deterministic way to reproduce the issue then maybe we can talk about what the plugin could do to prevent that via some special workarounds. I wish I could

[2017-09-04 01:59] #285 closed, assigned to petermetz

[2017-09-04 02:03] petermetz commented on #283
@brandon-applied

It's up to iOS to turn it on, your application does not have control over that unfortunately. Please check the referenced issue and the bottom comments for some more guidance.

There's a method call that you need to issue to enable the debug logs on the native side. By default they are turned off because it's bad practice to spam the stdout of the OS in production (e.g. when you

[2017-09-04 02:04] petermetz commented on #283
@ManjuSagar Please check the bottom comments on #310 and see if that helps. Let's continue the discussion there.

[2017-09-04 02:04] #283 closed, assigned to petermetz

[2017-09-04 02:05] petermetz commented on #268
Not yet sure if this is a bug, but definitely possible. Added it to the next major release milestone.

[2017-09-04 02:06] petermetz commented on #290
@andersborgabiro Thanks very much once again.

[2017-09-04 02:06] #290 closed, assigned to petermetz

[2017-09-04 02:07] #273 closed, assigned to petermetz

[2017-09-04 16:20] andersborgabiro commented on #310
I also added this (as recommended by another issue report), to no avail.

[code]

[2017-09-09 04:35] petermetz commented on #310
@andersborgabiro If the UIBackgroundModes setting is missing, it probably won't ever work. So in my opinion you should focus on the root cause of that. If I remember correctly you are using Phonegap Build, maybe the right direction is to check with their issue tracker if this has a known solution specific to PGB?

[2017-09-09 04:38] petermetz commented on #312
Latests tests showed that the 30 minutes limitation is worked around by the latest AltBeacon library by default, meaning that this is enhancement is not necessary.

If anybody have some different test results please share it here in the comments with some background info about the device used and if it's reproducible with the Quickstart app or not.

[2017-09-09 04:38] #312 closed, assigned to petermetz

[2017-09-09 04:39] petermetz commented on #266
@okonon is spot on with the answer. Thank you very much for answering!

[2017-09-09 04:39] #266 closed, assigned to petermetz

[2017-09-09 05:04] petermetz commented on #254
Hi All, thanks for all the information on this. Unfortunately I can't see any way the plugin could provide a fix for this issue as it seems to be something in lower levels in iOS.

Of course we could put in some of the workarounds you mentioned, like the periodic resetting of the delegate, but these kind of changes tend to create more questions than solutions, because all later bugs will have to b

[2017-09-09 05:04] #254 closed, assigned to petermetz

[2017-09-09 06:06] petermetz commented on #150
With v3.5.2 the stopAdvertising function now works on Android as well.

[2017-09-09 06:08] petermetz commented on #261
@El-Shinnawy Sorry for the very late response. Please give the latest version of the plugin a go. It has the AltBeacon library upgraded which should resolve a boatload of older issues.
Feel free to re-open if the problems still exist and it can be reproduced in the quickstart app as well.

[2017-09-09 06:08] #261 closed, assigned to petermetz

[2017-09-09 06:08] petermetz commented on #239
Check. Thanks for the reminder. :-)

[2017-09-09 06:08] #239 closed, assigned to petermetz

[2017-09-09 08:41] andersborgabiro commented on #310
cordova-plugin-config won't work with PhoneGap Build:

_This plugin WILL NOT WORK with remote ("Cloud") build environments that do not support the execution of this plugin's hook scripts. This includes:
Phonegap Build
Intel XDK
Telerik Appbuilder
Ionic Cloud_

I haven't found any plugin that specifically sets UIBackgroundModes to location. cordova-plugin-background-mode sets it to audio though.

T

[2017-09-11 18:23] andersborgabiro commented on #312
Thanks for the info. My new Xperia L1 failed anyway after 2 hours or so, but that might be for other reasons (Bluetooth seemed to be knocked out completely).

Tested via my own apps, and not using Quickstart. Using 3.5.2 on cli-7.0.1.

[2017-09-12 07:05] andersborgabiro commented on #312
After Bluetooth effectively stopping, yet Bluetooth is (seemingly) on, also e.g. BLE scanner thinks it's active but doesn't detect any devices. That indicates a bug in the system. Switching on/off doesn't matter. I'll check with the Sony folks.

[2017-09-14 15:21] mgrubinger commented on #310
confirming, for further reference:
as @petermetz stated, **Background Mode** -> **Location updates** must be enabled to use ibeacon advertising.

[2017-09-14 18:09] andersborgabiro commented on #310
I could add the setting. I missed that they changed to edit-config in cli-7.0.1, so this does it (for `<platform name="ios">` in config.xml). Still, the app has to be visible for advertising to work.

        <edit-config file="*-Info.plist" target="UIBackgroundModes" mode="merge">
            <array>
                <string>location</string>
            </array>
        </edit-config>

This means

[2017-09-14 18:33] andersborgabiro commented on #310
Any verdict on the same functionality for Android? I saw a few older posts about that.

[2017-09-15 07:37] mgrubinger commented on #292
@t2wu @petermetz This was bugging me as well, Android 6 on 3.x branch.

Here is what I did:
- comment out the AlertBuilder in [LocationManager.java:302](https://github.com/petermetz/cordova-plugin-ibeacon/blob/v3.x/src/android/LocationManager.java#L302) onwards
- use the [cordova-diagnostic-plugin](https://github.com/dpa99c/cordova-diagnostic-plugin) to handle permissions myself (```requestLocatio

[2017-09-15 08:28] zhuleiyu521 opened #314 "device lists"
Please ask how to use uuid to get all the device lists within the range. thank you

[2017-09-15 09:13] #314 closed, assigned to nobody

[2017-09-15 15:40] atomassoni opened #315 "Ranging not working on certain devices iOS 10.3.3"
I have 4 iOS devices, all running 10.3.3. I'm using Ionic 3. I have many beacons that share a UUID and have all different major/minors, so I am monitoring for one region with undefined major minors. I am able to monitor events perfectly, the app wakes up in the background on didEnter events and does what it's supposed to in that regard.

My problem is that I have not been able to reliably range on

[2017-09-17 04:16] saty932 commented on #227
https://github.com/saty932/cordova-plugin-beacon-monitoring-in-background-with-notifications-android
Finally we are able to get notify when the app is closed in ionic for android.

We have contributed our effort to github using the two plugins we have customized our requirement.Right now we are getting notified when we enter into beacon region.

you can customize that plugin to your requirement fo

[2017-09-21 03:55] Wouter33 commented on #212
Hello @petermetz,

Ran into the same issue, but shouldn't it be possible to do beacons without background mode "Location Updates"? As per https://forums.estimote.com/t/what-background-modes-do-beacons-need-for-ios/531

Otherwise Apple might reject our App (again).

[2017-09-21 11:20] andersborgabiro commented on #310
Advertising also works in iOS 11 with the above setting. The question asked is different, but I chose "Always". Having the app visible still applies.

[2017-09-22 12:36] Hanzofm opened #316 "Not ranging beacons when bluetooth connectivity is lost and on again"
I'm trying this plugin on an android device and I have this scenario:

-If the app starts with bluetooth connectivity the plugin ranging correctly beacons
-If I switch off the bluetooth connectivity (from the notification and toggles on top) and then on again the plugin not ranging the beacons, returning beacons array empty
-If I change to other page and then return to the beacons page it not work

[2017-09-25 10:34] Hanzofm commented on #316
I have updated the question to detail it more

[2017-09-25 16:24] eranshmil commented on #316
I had the same issue but in iOS.
Finally, I used [cordova-diagnostic-plugin](https://github.com/dpa99c/cordova-diagnostic-plugin) to subscribe to Bluetooth state changes. When Bluetooth is turned on I'm starting the monitoring, and when he's turned off I'm stopping the monitoring.

[2017-09-25 18:15] Hanzofm commented on #316
Did you tried with an v7 android version?

I already tried 2 solutions, first when the bluetooth status plugin detects that the bluetooth is off I stop RANGING all beacons and unsuscribe to the didranging method.

The second is not to do anything

Both methods not work in android v 7

Any ideas?

[2017-09-25 18:43] eranshmil commented on #316
Haven't tried on 7 yet.
I'm stopping ranging when exiting the region only. (That may happen as a result of turning off the Bluetooth while ranging)
When the user powering off the Bluetooth, I'm using stopMonitoringForRegion.

[2017-09-25 18:56] Hanzofm commented on #316
Bups,One question, If I need to discover beacons only when the screen is on, the appropiated method is ranging or monitoring?

Thanks

[2017-09-26 06:46] Hanzofm commented on #316
I have tried to only stop ranging when the bluetooth status is off and neither works on android v 7.
It would be nice if @petermetz could have a look :)

[2017-09-26 16:15] eranshmil commented on #316
Monitoring is used only to detect if you entered/exited a region of one or more beacons.
Ranging is used to get all the beacons available in that region and their information.

[2017-10-06 13:13] Edo78 opened #317 "Android permission problem"
Hi,
the first time, **after the installation**, I open my app I get a popup

Sadly this happen BEFORE android can ask me to authorize or deny the access to the device's location.

Am I doing something wrong?

How can I prevent this popup?

I'd prefer to manage myself permissions and interaction with the user so a specific error code is more than enough to let me know I have to ask the user to give

[2017-10-06 14:11] Edo78 commented on #317
I'm trying to look at the code (I'm not very good at java) and it looks like the problem is in the src/android/LocationManager.java because you try to check if the app has the right permission when the plugin is initialized while android 6+ ask for permissions at runtime.

[2017-10-06 16:37] Edo78 commented on #317
I tried to comment the call to tryToRequestMarshmallowLocationPermission() and it keeps working in my app but I'm not confident enough in my java/android skill to create a PR so I hope you could check this issue and decide if it's the right way to go.

[2017-10-09 19:45] FranciscoG opened #318 "Error adding plugin"
I'm getting an error every time I use the [installation](https://github.com/petermetz/cordova-plugin-ibeacon/blob/v3.x/README.md#installation) line you provide in the REAME.md

this is what it outputs:
[code]

I'm on `cordova 7.0.1`

[2017-10-09 20:25] FranciscoG commented on #233
@urdragon2 that worked for me as far as getting the app to actually run,  now I need to go test to make sure it's working on a device.  Will update my answer later

I changed it directly in Xcode (9.0)
Plugins > CDVLocationManager.m
line 49 was YES, I set it to NO
[code]

[2017-10-12 06:34] t2wu opened #319 "NSLocationAlwaysAndWhenInUseUsageDescription on iOS 11"
NSLocationAlwaysAndWhenInUseUsageDescription should be added to to plist.

For more info see:
[https://stackoverflow.com/questions/44424092/location-services-not-working-in-ios-11](url)

[2017-10-12 08:26] airSmith opened #320 "Duplicate element org.altbeacon.beacon.service.BeaconService in generated AndroidManifest.xml"
Hi,

I just added the latest plugin version 3.5.2 but my build is failing because it's generating duplicate elements of BeaconService in the generated AndroidManifest,xml.

![image](https://user-images.githubusercontent.com/13460665/31486321-f5fc1024-aeeb-11e7-9a04-d5d224643b90.png)

![image](https://user-images.githubusercontent.com/13460665/31486422-432321ee-aeec-11e7-894d-56b69c5ad291.png)

Tha

[2017-10-12 17:31] airSmith commented on #320
No worries about this.  I've solved the problem by deleting the retained element in AnroidManifest.xml after removing the plugin, and then added the plugin again.

[2017-10-12 17:31] #320 closed, assigned to nobody

[2017-10-18 13:24] entepe85 commented on #302
Yeah, but then the beacons major and minor aren't available upon entering or exiting a monitored region, which I definitely need for some logic concerning local notifications.

[2017-10-18 13:36] andersborgabiro commented on #302
True, but can't you start ranging then and get that information, including rough distance?

[2017-10-18 13:55] entepe85 commented on #302
Of course I could do that. Ranging is only possible while the app is in foreground, though, isn't it? We were actually planning on delivering local push notifications to a retailer's smartphone app depending on which branch their customers enter.

*edit* To clarify, we can't always be sure that the app is in foreground when users enter the building. We could, of course, show a generic welcome noti

[2017-10-18 14:32] andersborgabiro commented on #302
I do ranging in the background on both Android and iOS, so it's possible, and was a customer requirement.

But in your case it's probably better with your suggested approach: the notification would ask the user to start the app. That probably saves on battery too.

[2017-10-19 08:41] t2wu opened #321 "didChangeAuthorizationStatus returns undefined"
When I call requestAlwaysAuthorization, delegate.didChangeAuthorizationStatus() receives undefined for status.

[2017-10-20 10:55] entepe85 commented on #302
Thanks for pointing me in the right direction, @andersborgabiro .

I solved my problem by ranging beacons in the region, getting the closest beacon and using its data to schedule a push message through an API - and subsequently stopping the ranging afterwards to save battery and because there will be only "one" beacon (or multiple using the same UUID, identifier, major and minor) per store in a re

[2017-10-20 11:06] andersborgabiro commented on #302
Good. My scenario is more open-ended, as I handle arbitrarily many active beacons with potentially a range of different wildcard regions, as well as geofencing, towards the same mobile CMS: Information shows up the same way independent of whether it was triggered via beacons or geofences.

[2017-10-23 13:52] guilhermewm opened #322 "cordova.plugins.locationManager.requestAlwaysAuthorization() isn´t working on ios 11+"
I´m trying to range beacons when app is in background, but isn´t working because the option "always" from location isn´t avaiable. Someone can help me?

[2017-10-23 19:26] guilhermewm commented on #322
I found a solution, go to:
`platform/ios/<project name>/<project name>-info.plist `
Open the file and add the following code:

[code]

[2017-10-24 05:00] t2wu opened #323 "Crashes on Androd 8"
It seems to crash on Android 8 and might need Altbeacon 1.12 support.

[2017-10-24 23:38] lastmjs commented on #112
@vienom What would you recommend in place of beacons?

[2017-10-30 16:57] salarelv opened #324 "didRangeBeaconsInRegion is very slow"
On Android 6.0 when I start didRangeBeaconsInRegion then CPU usage rises from 6% to 50% (Moto X Play). Try to change the following settings:
    <preference name="com.unarin.cordova.beacon.android.altbeacon.ForegroundBetweenScanPeriod" value="500" />
    <preference name="com.unarin.cordova.beacon.android.altbeacon.ForegroundScanPeriod" value="200" />

I have 2 regions and 100 beacons in each.

Bu

[2017-10-30 17:13] salarelv commented on #324
About 6-15 beacons are in range at one point.

[2017-10-30 17:21] salarelv commented on #324
Any ideas?

[2017-10-31 17:09] nemr opened #325 "Does this plug in support CircularRegion (geofences ) ?"
Hi
Does this plug in support CircularRegion (geofences ) ?

because I noticed that you defined the CircularRegion function in the CircularRegion model

[code]

I'm getting the following but I'm not getting that I entered or exited the region :

2017-10-31 17:03:44.131 BLE-NOT-TEST[17983:2078826] didStartMonitoringForRegion: {"region":{"typeName":"CircularRegion","latitude":xxxxxxxx,"identifier":"t

[2017-11-02 08:50] salarelv commented on #324
Upgrading to Cordova Android 6.2.3 did help a little bit but still makes the UI unresponsive.

[2017-11-03 07:22] raoghuge commented on #151
@andersborgabiro I was trying out wildcard beacon scanning for android, however, it goes me validation errors. Do you have git repo of your examples ,which you can share?
Even by undefined, it gives me error.

[2017-11-03 09:29] andersborgabiro commented on #151
If you try wildcard on all values, I've never got that to work. I only use wildcard Major ID and Minor ID.

This snippet initializes a region scan for two UUIDs (easily extendable). The example is not complete. I can provide that separately if needed.

[code]

That will call:
didDetermineStateForRegion with CLRegionStateInside or CLRegionStateOutside
didRangeBeaconsInRegion with information about

[2017-11-03 12:06] raoghuge commented on #151
Thank you for your reply.
This will not allow me to search **unknown beacons which I do not "own"**. I think, android allows us to do that, I was looking for scanning the Beacons randomly in any location, if there are any, it should display on my app.

[2017-11-03 12:44] andersborgabiro commented on #151
This plugin uses https://github.com/AltBeacon/android-beacon-library that supports wildcard UUID for Android, but I just tested to set that via this plugin, and I get "Cannot read property 'match' of undefined".

Yet, you can search for other wellknown UUIDs (I scan for the default UUIDs for several beacon providers), but not arbitrary ones.

At least with the method I use I get the same behavior

[2017-11-07 08:23] mjwwit commented on #212
I'd like to add my experience to this; background location mode is __NOT__ required for iBeacon monitoring in the background.

Our app was rejected by Apple after enabling the background location capability. In an email conversation with Apple, this is how they replied:

I think this issue is somehow related to WKWebView after all. When running with UIWebView everything works fine without the back

[2017-11-07 08:57] mjwwit commented on #233
@urdragon2 @FranciscoG I just tested this fix by commenting out the whole block (L48 - L50).
Surprisingly, the app still detects iBeacons in the background (even when the app is completely killed).

I tested this on iOS 11.0.3 with Location Always permission enabled.

[2017-11-13 06:43] MyoungboKim opened #327 "StartAdvertising set MeasuredPower value??"
Hi. I am developing this beacon plugin using Ionic hybrid app.
I need to change the value of 'measuredpower', which is a parameter of startAdvertising().
There is no response even if it is changed to decimal number.
What are the minimum and maximum values of 'measuredpower'?

[2017-11-15 15:20] acebuddy opened #328 "[Workaround] Scan all nearby beacons for Android without fixed UUID"
This workaround solution just for Android only.

First, edit below file
{your phonegap project folder}\platforms\android\assets\www\plugins\com.unarin.cordova.beacon\www\model\BeaconRegion.js

Line 44 for my version

function BeaconRegion (identifier, uuid, major, minor, notifyEntryStateOnDisplay){
	// Call the parent constructor, making sure (using Function#call)
	// that "this" is set correctly

[2017-11-15 15:23] acebuddy commented on #302
https://github.com/petermetz/cordova-plugin-ibeacon/issues/328

[2017-11-15 16:11] andersborgabiro commented on #328
I also saw this, but I don't use the plugin directly (only via PGB).

Hopefully this will be brought into the code base. checkUuid could still be there, but only performed when uuid is not undefined.

[2017-11-16 13:50] Kirubha03 commented on #318
I have same issue when add plugin to ionic v3 for android

command :  ionic cordova plugin add https://github.com/petermetz/cordova-plugin-ibeacon.git

Error :

Please help me to resolve this issue. Any sample Source is avail with this plugin?

[2017-11-16 16:27] nemr-maher commented on #307
Im having the exact same issue :

I'm using One Plus 3T on android 7.1.1

[2017-11-16 16:53] nemr-maher commented on #307
Im having the exact same issue :

I'm using One Plus 3T on android 7.1.1

didRangeBeacons: {"eventType":"didRangeBeaconsInRegion","region":{"identifier":"Bacons","uuid":"xxxxxxxxxxxxxxxxxx","typeName":"BeaconRegion"},"beacons":[]}

[2017-11-16 16:53] nemr commented on #307
Im having the exact same issue :

I'm using One Plus 3T on android 7.1.1

didRangeBeacons: {"eventType":"didRangeBeaconsInRegion","region":{"identifier":"Bacons","uuid":"xxxxxxxxxxxxxxxxxx","typeName":"BeaconRegion"},"beacons":[]}

[2017-11-19 17:43] merjana commented on #255
the same problem here, there is no clear guide

[2017-11-20 15:26] ricardoparro commented on #271
is there any solution for this problem? Everytime I built I need to go into /platform/ios/"project"/"project"-Info.plist and change the setting manually. Help is appreciated.

[2017-11-22 20:56] paredesivan opened #329 "Is there any way to confirm that I received a beacon from the device?"
Is there any way to confirm that I received a beacon from the device?
I have a Huawei p8 lite with BLE technology. and a blue gecko device that send beacons
I need to know, it's is posible know in the device, if the beacon arrived well on the phone. something like ACK

[2017-11-24 06:56] t2wu commented on #325
Ah I didn't even know that! Out of curiosity, are you testing this in iOS? I tried geofence plugin and unfortunately it is in conflict with this one.

[2017-11-27 16:08] llthaler opened #330 "Android beacon publishing/advertising"
What is the reason there is no solution for an android beacon publisher?  Is there a work around for that use case?  Trying to understand if its on the horizon or exists in a different form.  Thanks in advance

[2017-11-29 15:36] andersborgabiro opened #331 "Disappearing settings"
When I build an app via Cordova CLI (I've previously used PhoneGap Build, but can't anymore) AndroidManifext.xml under platform/android changes in this way, leading eventually to beacons not working. config.xml is not changed by me in between the different steps.

Config.xml contains this for the beacon plugin:

    <plugin name="com.unarin.cordova.beacon" />

What could possibly cause this mystif

[2017-12-01 00:57] merjana opened #332 "retrieve RSSI"
Hello,
i am new to this plugin, if someone has an idea how to retrieve the rssi of the all the beacons ?
thank you

[2017-12-01 12:04] theonuryildiz opened #333 "Monitoring Ibeacons doesnt work when i toggle bluetooth"
Im trying to implement monitoring beacons in my ionic app.

It works fine but whenever i close bluetooth and reopen it never calls didEnterRegion again until i close the app and open again.

Im working on Android 5(phone) and Android 4(tablet).

Can anyone explain me what is wrong?

[2017-12-01 15:40] arielfaur commented on #306
Hi everyone!
I am experiencing the same issue on iOS 11. @petermetz with ranging you mean simply monitoring beacon proximity rather than enter/exit regions?

[2017-12-03 15:39] arielfaur commented on #315
I am experiencing the same issue on iOS 10.3.3. It works well on iOS 11 though. I have been debugging trying to determine where this is coming from but so far no luck 😢

[2017-12-06 16:43] nilebma commented on #324
On android, disabling "appendToDeviceLog" calls (in LocationManager.js) helped a lot with performance on my side.

However ranging more than 20 beacons at the time is not recommended. Given my tests, ranging 8 beacons at the time is good limit in order to have precise and more frequent measurements.

[2017-12-07 07:47] salarelv commented on #324
@nilebma you are right. I had a bug where I created regions based on all beacons so I got ~200 regions. But now I have 2 regions based on uuid and major. And it normal again.

[2017-12-07 07:47] #324 closed, assigned to petermetz

[2017-12-11 22:42] FranciscoG commented on #319
thank you! this fixed my issue

[2017-12-12 17:39] paredesivan commented on #318
@krupakaran1987 do you have installed git? try the next command: git --version

[2017-12-13 10:44] bk52 opened #334 "Android 7.0 and Cordova iBeacon Issue"
I used this plugin in Cordova without any problem for different Android versions. But there is a problem in Android 7.0.

I have a ibeacon and it's message interval is 200 ms. I use that code and get rssi value from ibeacon.
` cordova.plugins.locationManager.startRangingBeaconsInRegion(beacon);`

In Android 7.0, I get 5 messages from same ibeacon. Than after 20-25 seconds I didn't get any messages

[2017-12-13 15:04] sapienzafra opened #335 "... keep monitoring/ranging when app is killed (android)"
Even though others have already asked on this topic ([#71](https://github.com/petermetz/cordova-plugin-ibeacon/issues/71), [#259](https://github.com/petermetz/cordova-plugin-ibeacon/issues/259), [#274](https://github.com/petermetz/cordova-plugin-ibeacon/issues/274)), I still haven't understand if is it possible to keep monitoring/ranging beacons once the Android app has been killed (ionic). Backgr

[2017-12-14 05:53] ugurerkan commented on #335
I have also issues with this situation, there is [locate beacon app](https://play.google.com/store/apps/details?id=com.radiusnetworks.locate&hl=en) from RadiusNetworks it performs well when monitoring beacon app not running background or foreground.

Trying to monitor region then when entered, start ranging with that beacon. But, plugin detects region after ~10-30 second however locate beacon app

[2017-12-14 09:30] sapienzafra commented on #335
@ugurerkan thank you for reply! That plugin looks good but (if I understand well) they want you to sign up to their service for free or pay monthly if you have more than 3 beacons. I would like to build a standalone app without relying on other's services. Thanks again!

[2017-12-15 19:17] szabee994 opened #336 "IOS: Plugin stops scanning when it's closed (+unable to request 'always' permission)"
Hello!

I'm using this plugin with the latest version of Ionic and it only scans for nearby iBeacons when the application is opened. As soon as I close it or lock the screen, it stops working. Also, I'm not sure if it relates to this, but even though I call the requestAlwaysAuthorization(), it only asks for "When In Use" permission.

Here is my code:

[code]

[2017-12-23 05:32] petermetz commented on #233
merged https://github.com/petermetz/cordova-plugin-ibeacon/pull/326
Thanks again @mjwwit

[2017-12-23 05:32] #233 closed, assigned to nobody

[2017-12-23 05:33] petermetz commented on #212
Copying over the comment from https://github.com/petermetz/cordova-plugin-ibeacon/pull/326, probably better to converse here:

Hi @mjwwit

Thanks a lot for the PR, I'll merge this in, because everybody should be upgrading to WKWebView anyway, but have a side question to clarify:
Does this mean that with UIWebView the old code is the working code, and for WKWebView the new code is the working code?

[2017-12-23 05:42] petermetz commented on #306
@arielfaur I meant ranging + monitoring **at the same time**. I don't have anything to back this up, just that in my tests it seemed to work better when both were enabled. Probably because ranging uses more resources it inherently provides greater accuracy, but this is just a bunch of wild guesses.

[2017-12-23 05:44] petermetz commented on #304
Hi @Dinesh0405

I'm getting the feel that this is more of a generic Cordova/Android dev question so maybe you'll have better luck in one of those communities.

Still, if you have a self contained dummy project that reproduces the issue and can upload it to github then maybe someone from here can have a look. If this is the case then feel free to re-open the issue.

[2017-12-23 05:44] #304 closed, assigned to nobody

[2017-12-23 05:48] petermetz commented on #219
@halindrome Sorry for the extremely late response. I know it's probably not relevant anymore, but I wanted to make sure I respond.

Yes, unfortunately that's exactly what I meant.
I do not know if the recent two iOS releases added anything new here though. If they did, I would be happy to add something new to the road map.

[2017-12-23 05:49] petermetz commented on #219
@darrenbreeze See above comment, my knowledge may be (most likely) outdated on this topic though.

[2017-12-23 05:50] petermetz commented on #275
@Dinesh0405 @subhash8108  Did you check the example code in the README/FAQ?

[2017-12-23 05:50] #275 closed, assigned to petermetz

[2017-12-23 05:53] petermetz commented on #298
@mbackermann We can make a bug out of this, but first I'd need confirmation that the issue is not in the OS layer but rather in the plugin itself (if the latter is not the case then we can't do much from inside the plugin unfortunately).

So what I recommend is firing up the native debugger (XCode) or just enable the debug logging and see if the messages are coming through to the native layer earl

[2017-12-23 05:53] #298 closed, assigned to petermetz

[2017-12-25 17:17] petermetz commented on #289
@FranciscoG @joe-complete-grp

Are you sure there are no other applications installed on the phone which uses BLE? For example one of the testing/debugging apps that can be downloaded from the App Store?

Please re-open is it's still an issue and the above was verified to be not true.

[2017-12-25 17:17] #289 closed, assigned to petermetz

[2017-12-25 17:30] petermetz commented on #287
Hi @shi11 sorry for the late reply. The fact that you managed to fix this without a change in the plugin code suggests to me that the issue was somewhere else.

With that said if the problem is still present for anyone else please leave a comment here and preferably a small, self-contained, testable example repo that reproduces the issue.

[2017-12-25 17:30] #287 closed, assigned to petermetz

[2017-12-25 18:56] petermetz commented on #292
Well, in that case PRs are welcome to add a "do we already have permission" check in LocationManager.java.
I'd do it myself, but unfortunately I cannot reproduce the issue to begin with.

[2017-12-25 19:17] petermetz commented on #227
Hi All, the plugin should be able to do monitoring while the app is killed, via the underlying OS specific APIs available for this both on Android and iOS.

I believe the app gets launched to the background when it receives a notification and this also loads the WebView with it's DOM included, meaning that your handlers can run.

Because there's too many angles to investigate with this kind of iss

[2017-12-25 19:17] #227 closed, assigned to petermetz

[2017-12-25 19:18] petermetz commented on #224
Because there's too many angles to investigate with this kind of issue, I'll have to insist that you produce a publicly accessible, short, self contained example that reproduces this issue ( http://sscce.org/ )

Please re-open anytime if such an example came to existence.

[2017-12-25 19:18] #224 closed, assigned to petermetz

[2017-12-25 19:29] petermetz commented on #310
Added an entry about this to the FAQ: https://github.com/petermetz/cordova-plugin-ibeacon/blob/v3.x/FAQ.md

Thanks for the investigation @andersborgabiro

[2017-12-25 19:29] #310 closed, assigned to petermetz

[2017-12-25 19:40] petermetz commented on #316
Hi @Hanzofm,

Hard to tell what the issue might be. Given the fact that it does work on Android 6, but not on 7 it makes it likely an OS level issue that we can only work around in the DOM at best, if at all.

If you can share a short, self-contained example repo that reproduces the issue without modification and contains your logic to react to bluetooth changes by turning ranging off/on then I co

[2017-12-25 19:45] petermetz commented on #317
Hi @Edo78

Please follow this issue for further information. https://github.com/petermetz/cordova-plugin-ibeacon/issues/292

I'm closing this one since we already have #292 to track the same enhancement.

Peter

[2017-12-25 19:45] #317 closed, assigned to petermetz

[2017-12-26 05:00] petermetz commented on #323
v3.5.5 is out with the latest AltBeacon jar. Give it a spin. I could only verify it with the Simulator.

[2017-12-26 05:00] #323 closed, assigned to petermetz

[2017-12-26 05:02] petermetz commented on #321
Hi @t2wu Which platform, what version?

[2017-12-26 05:42] petermetz commented on #112
Closing as the original issue at hand was already resolved (If I remember correctly).

[2017-12-26 05:42] #112 closed

[2017-12-26 05:47] #322 closed, assigned to petermetz

[2017-12-26 05:48] petermetz commented on #322
@guilhermewm Thank you very much for the report and the hint at the solution.

[2017-12-26 05:58] petermetz commented on #212
@Wouter33 It used to be that without the background location updates the application wouldn't get woken up from a killed state when entering/existing a region. I'm not sure at present if Apple just made a breaking change and now playing dumb saying you don't need it, or if I just missed something earlier.
After reading the forum post you linked to, I'm not sure if that is talking about the same th

[2017-12-26 05:58] #212 closed

[2017-12-26 06:09] petermetz commented on #327
Hi @MyoungboKim

Unfortunately I don't know the valid ranges as it doesn't seem to be published on Apple's documentation website either:
https://developer.apple.com/documentation/corelocation/clbeaconregion/1621494-peripheraldatawithmeasuredpower#parameters

I recommend you ask the question on Apple's forums (and would be very grateful if you posted back here with the outcome so that we can let ot

[2017-12-26 06:09] #327 closed, assigned to petermetz

[2017-12-26 06:27] petermetz commented on #302
Thank you @andersborgabiro once again for the help!

[2017-12-26 06:27] #302 closed, assigned to petermetz

[2017-12-26 07:09] petermetz commented on #328
https://github.com/petermetz/cordova-plugin-ibeacon/commit/4553ee751a8854dcfc30d392f714484ca7cc5690

[2017-12-26 07:09] #328 closed, assigned to petermetz

[2017-12-26 07:13] petermetz commented on #255
@merjana @quadcodes Did you have a look at the quickstart repo?
https://github.com/petermetz/cordova-proximity-quickstart

[2017-12-26 07:13] #255 closed, assigned to petermetz

[2017-12-26 07:16] petermetz commented on #329
Hi @paredesivan in the beacon specs there is no concept of an ACK. The closest thing you get is the did enter region notification. Have a read through the README of this plugin and some documentation from Apple/Google regarding beacons/BLE and you'll see what I mean.

[2017-12-26 07:16] #329 closed, assigned to petermetz

[2017-12-26 07:18] petermetz commented on #325
@t2wu Yepp, on iOS there was GeoFencing support from the beginning, but I don't advertise it very much because it's not supported on Android.

@nemr Did you physically entered/exited the geographic region? It should work, but it's an old feature so there's always a chance that it broke down somewhere along the way.
Also, please double check if you configured the permissions for it.

[2017-12-26 07:21] petermetz commented on #330
@llthaler  Where did you read that Android beacon advertising is not supported? The documentation may need some updating.

[2017-12-26 07:24] petermetz commented on #331
@andersborgabiro Wow, that's a weird issue for sure. I know it's not very helpful but the only thing I can think of is that it's something specific to your project (there's infinite possibilities for weird bugs to happen as Cordova is modifying the file-system during it's tasks and each version of cordova does something different in this regard).

What I recommend is that you try to reproduce the

[2017-12-26 07:24] #331 closed, assigned to petermetz

[2017-12-26 07:25] petermetz commented on #319
https://github.com/petermetz/cordova-plugin-ibeacon/commit/98bbc57ff01319dcd93741c19745a08c07878772

[2017-12-26 07:25] #319 closed, assigned to petermetz

[2017-12-26 07:26] petermetz commented on #332
Hi @merjana  You need to do ranging for that. Refer to the README.md file for details.

[2017-12-26 07:26] #332 closed, assigned to petermetz

[2017-12-26 07:44] petermetz opened #338 "[Feature] Beacon Presence Change Notifications"
Provide callbacks for when a beacon goes out of range or comes back in range during ranging.

There's a baseline implementation here: https://bitbucket.org/jcgronde/ionic-proximity-app/overview

[2017-12-26 07:47] petermetz commented on #333
@theonuryildiz Could be just how it works in the operating system versions of yours.
Have you tried looking at the native layer's logs to see if the messages come through there or not? If not, then there's probably not much that we can do on the level of the plugin to solve this.

As a workaround you can experiment with stopping/starting again the monitoring periodically, I remember reading someon

[2017-12-26 07:47] #333 closed, assigned to petermetz

[2017-12-26 07:49] petermetz commented on #318
@FranciscoG @krupakaran1987 Please check if git is installed as @paredesivan  suggested.
Also have a look at the quickstart repo, maybe it helps: https://github.com/petermetz/cordova-proximity-quickstart

[2017-12-26 07:49] #318 closed, assigned to petermetz

[2017-12-26 07:51] petermetz commented on #334
Hi @bk52,

The latest version of the plugin contains an updated AltBeacon library version. Please give that a go and report back if it made it work or not. Then we can continue the conversation based on your results.

Peter

[2017-12-26 07:52] petermetz commented on #324
@nilebma Thank you for your advice!

[2017-12-26 07:57] petermetz commented on #315
Hi @atomassoni @arielfaur

Sounds like an issue specific to iOS 10.3.3. I'm afraid there's not much the plugin can do to fix that. If you do find out there is something that could be done with code that decides at runtime, based on the iOS version to apply a certain workaround, then I'll be happy to incorporate that in the codebase, but to be honest I doubt that such workaround exists if the bug i

[2017-12-26 07:57] #315 closed, assigned to petermetz

[2017-12-26 08:01] petermetz commented on #336
Hi @szabee994

Can you try reproducing your issue with the quickstart app?
https://github.com/petermetz/cordova-proximity-quickstart

Peter

[2017-12-26 08:03] petermetz commented on #335
@sapienzafra

Can you try reproducing your issue with the quickstart app?
https://github.com/petermetz/cordova-proximity-quickstart

Peter

[2017-12-26 08:37] t2wu commented on #325
@petermetz I end up using another plugin for both iOS and Android geofencing. However, I had to hack both plugin, as they both rely being the delegate. So I had to use the notification center to dispatch the messages from one to another.

[2017-12-26 16:31] petermetz commented on #325
Cool that you could make it work like that, I probably should leave a entry
about this in the FAQ

On Dec 26, 2017 12:37 AM, "t2wu" <notifications@github.com> wrote:

[2017-12-27 06:40] petermetz commented on #236
@jonasty19

That's entirely a possibility on a Cordova project unfortunately. ;-)

If you can still reproduce the issue on an Android device I recommend using Chrome Dev tool's memory profiler, specifically the allocation timeline feature.
https://developers.google.com/web/tools/chrome-devtools/memory-problems/allocation-profiler
Used it in my own projects, comes pretty handy to detect leaks.

If

[2017-12-27 06:40] #236 closed, assigned to petermetz

[2017-12-27 06:42] petermetz commented on #151
This was delivered in v3.6.0, testing effort is most welcome.

[2017-12-27 06:42] #151 closed

[2017-12-27 14:04] andersborgabiro commented on #151
The plugin code says I should set uuid to {} (why not undefined or empty string?). I get "uuid.match is not a function", so the condition falls through.

Thoughts: Is device ever set? Is device.platform really "Android" (or "android" or "ANDROID")? Is {} === {} really true?

I use cordova-plugin-device that's not compatible with the above, so unless some other plugin is a dependency, device will n

[2017-12-27 17:52] andersborgabiro commented on #151
Works fine with e.g.

            try {
                var region = new cplm.BeaconRegion("wildcarduuid", cordova.plugins.locationManager.BeaconRegion.WILDCARD_UUID, undefined, undefined, true);
                cplm.startMonitoringForRegion(region).fail(console.error).done();
                cplm.startRangingBeaconsInRegion(region).fail(console.error).done();
            }
            catch (e) {

[2017-12-29 08:29] bharatbiswal opened #339 "Error: ENOENT: no such file or directory platforms/android/AndroidManifest.xml"
I have Cordova 8.0.0 on OSx 10.13.2 with Node v8.5.0 and npm v5.5.1
After adding plugin "cordova-plugin-ibeacon", when I do a "cordova platform add android", I am getting following error:
![screen shot 2017-12-29 at 1 53 33 pm](https://user-images.githubusercontent.com/1182376/34454234-f7bfba0c-ed8c-11e7-88df-cc75a55454fe.png)

[2017-12-29 18:13] petermetz commented on #339
@bharatbiswal Try removing adding the plugin. That should pull in the new dependency (the device plugin).

[2017-12-29 18:13] #339 closed, assigned to petermetz

[2018-01-04 08:48] florent1933 commented on #335
I have the same problem on android (android 8), I can't monitor the beacon when the app is killed but it works on background.

I tried to reproduce the issue with the quickstart app but it's crashing when I tap on Start

This is the adb's log:

[code]

Best regard,

Florent

[2018-01-04 21:20] petermetz commented on #335
@florent1933 The quickstart app may not be upgraded to the latest version of the plugin yet (that's in progress).
Can you double check if this crash happens after you upgraded the plugin version to the current latest? (v3.6.0)
That version should have the latest AltBeacon library which should solve the crash on Android 8. Lot of shoulds and ifs, but let's see.

[2018-01-04 22:07] florent1933 commented on #335
I check with the version v3.6.0 and it continues to crash.

This app https://play.google.com/store/apps/details?id=com.wistiki.android&hl=en which use Ibeacon technology (I believe) is crashing too.

But monitoring iBeacon with your plugin is working in my app. I don't know what's the difference between the quickstart app and mine.

[2018-01-04 22:10] petermetz commented on #335
Note to self: double check if the dependencies are configured properly in the quickstart project.

[2018-01-04 22:12] florent1933 commented on #335
I think they are configured properly. 3.6.0 instead of 3.5.2.

Le 4 janv. 2018 23:10, "Peter Somogyvari" <notifications@github.com> a
écrit :

Note to self: double check if the dependencies are configured properly in
the quickstart project.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/petermetz/cordova-plugin-ibeacon/issu

[2018-01-04 22:15] petermetz commented on #335
Sorry @florent1933  I did not mean the dependency declaration of the plugin itself, but the dependencies of the plugin:

What about the Android v4 support jar lib? It looks like it's not on the class path but it should be.

https://developer.android.com/topic/libraries/support-library/index.html

I don't really get why would one of the oldest support libs be necessary on the newest Android, but st

[2018-01-04 22:33] florent1933 commented on #335
I am sorry @petermetz, I don't know how to do it. I am not android developper so it's very abstract to me.

[2018-01-04 22:45] petermetz commented on #335
@florent1933  No worries, I'll get there *eventually*. It's likely either some dependency issue within the quickstart project, or a bug within the AltBeacon library itself (which I doubt because their issue tracker doesn't list anything like this for Android 8)

[2018-01-05 20:14] petermetz opened #340 "Android 8 Crash"
See https://github.com/petermetz/cordova-plugin-ibeacon/issues/335 for more details and a stack trace.
Most probably not a bug in the plugin itself, but definitely worth some investigation.

[2018-01-10 15:26] sapienzafra commented on #335
@petermetz hello, the quickstart app works fine when the app is open or in background. I'm looking for  a way to keep monitoring beacons also when the app is killed (swiped away).
That's my logcat right before swiping away the app:
<pre>D/Callback(14930): attempting callback via global broadcast intent: ComponentInfo{com.unarin.oss.mobile.CordovaProximityQuickstart/org.altbeacon.beacon.BeaconInten

[2018-01-11 11:03] florentcano commented on #335
Hi @petermetz this plugin can keep monitoring beacons when the android app is killed? thanks

[2018-01-11 13:47] szabee994 commented on #336
I found what was the problem. _**An important key was missing from the plist: Privacy - Location Always and When In Use Usage Description.**_ After adding this usage description "always" location became finally available and suddenly it started working while the app was closed. However on my iPhone 7 Plus it's pretty unreliable in the background, sometime the app starts when a beacon is detected,

[2018-01-11 16:05] thomas-adriano opened #341 "App Store QA problems"
I'm having problems trying to publish an ionic App using this plugin. They are preventing me from publishing saying this:

Your app declares support for location in the UIBackgroundModes key in your Info.plist file but does not have any features that require persistent location. Apps that declare support for location in the UIBackgroundModes key in your Info.plist file must have features that requ

[2018-01-15 10:47] bluetiger30 opened #343 "Advertising is accepted, but won't start until peripheral manager is powered on."
Hi ,

I wore a code to allow the app to advertise as an iBeacon .

I tested it on iPhone 7 with version 11.1.2 , and an ipad with ios 11.2.2 which worked fine.

However, when I tested it on iPhone X with ios version 11.2.1 it came up with the following error :
Advertising is accepted, but won't start until peripheral manager is powered on.

is there an additional setup required? especially that iP

[2018-01-16 17:44] llthaler commented on #330
Im so sorry for the delay in responding.

I believe the reference came from the ionic framework website.  Ill have to hunt down the link.  In the meantime can you confirm the possibility of the following use case:

One set of users running an angular/ionic based application on either a late model android or iOS device advertising a unique beacon and other users also with the same type of devices r

[2018-01-17 15:30] halindrome opened #344 "Region update frequency seems to have changed"
I have an application that uses this plugin against version 2.11 of the altbeacon library.  The latest release of this plugin (3.6.0) seems to use 2.12.x.   Under 2.11 when I put the plugin into ranging mode I was getting ranging updates every 1 to 2 seconds approximately.   Now I am getting updates every 30 seconds?   The beacons in use have not changed.   Any suggestions?

[2018-01-19 12:20] git-spanchal11 opened #345 "How to Track multiple Beacons + Ionic Native"
hello friends,
I am working with iBeacon Native, all working fine with single beacon.
but I CAN’T TRACK MULTIPLE BEACONS at same time. :(😟

[code]

[2018-01-22 13:33] sidPuttur opened #346 "Ibeacon App with Ionic 3 Crashing in Andriod 8 (Oreo)"
I have developed an android Ibeacon app using ionic 3 according to this tutorial. https://ionicallyspeaking.com/2017/01/16/creating-a-beacon-application-with-ionic-2/

App is working fine in all the devices except android 8 (Oreo). App is crashing and also cannot find any error logs. Trying to debug in device using chrome inspect., expecting some error logs in catch., But could not find any error

[2018-01-22 14:11] demym opened #347 "Discover beacons without specifying uuid"
Hi, this is not technically an issue, rather an info:

is it possible for this plugin to 'discover' automatically (without having to specify an uuid for a region or a beacon) eventual beacons in the proximity ? I am using the plug on Ionic3, and works fairly well if hard coding the uuid of a beacon (i have only one beacon by the time to test it). Android and iOS.

Thanks very much in advance

[2018-01-26 19:52] thomas-adriano commented on #341
Just found out that the problem causing this issue was resolved [here](https://github.com/petermetz/cordova-plugin-ibeacon/pull/326). Closing issue...

[2018-01-26 19:52] #341 closed, assigned to nobody

[2018-01-29 15:58] NaNdaWteK commented on #346
I have an error too with android 7.1.2 and in ios(ios version is the same that I test weeks ago), the app was working when I push it to stores, but weeks later I intent to use and it fail
There is someone who knows what has happened and where I have to keep looking?

**The error was a modification into database, it is solved. Sorry for not advise.**

[2018-02-03 22:00] p-sebastian commented on #330
@petermetz on the readme, it says:

So it implies its not possible for android to act as an iBeacon. right?

[2018-02-05 07:11] fishme opened #348 "Hardware: iBeacons"
I'm looking for the hardware (iBeacons) that works 100% with this plugin. Do someone have some tipps for me?

many thanks

[2018-02-07 17:00] hansipete commented on #347
ya, this would be great. i can't get it running and i'm curious if i'm just failing with the uuid or if it does not work at all.

a general "discover" function would be great!

thank you

[2018-02-07 19:08] ibuioli commented on #293
Same problem here! Any news?

**Edit with solution:** Like when you use the accelerometer, you need to wait a few second before call the beacon. The quick solution is use a setTimeOut (I tested with 3000 ms, but with 1000 ms have to works).

[2018-02-09 14:45] paredesivan opened #349 "Receive the mac on a beacon"
I receive in a beacon the next object
[code]

it's is possible add the mac too, maybe in the region key???

[2018-02-09 15:34] paredesivan commented on #345
`           function inicializar (){

            var brIdentifier = 'AT07827';
            var brUuid = null;
            var brMajor = null;
            var brMinor = null;
            var brNotifyEntryStateOnDisplay = true;

            regiones[0] = crearRegion(brIdentifier, brUuid, brMajor, brMinor, brNotifyEntryStateOnDisplay);
        }`

`       function crearRegion(brIdentifier, brUuid, b

[2018-02-09 17:02] paredesivan commented on #348
con mi compañero estamos usando este y funciona bien
https://www.silabs.com/products/wireless/bluetooth/bluegecko-bluetooth-smart-module-intro

[2018-02-09 17:04] paredesivan commented on #344
en la documentación del altbeacon no comenta nada sobre algun cambio?

[2018-02-10 08:53] git-spanchal11 commented on #345
@paredesivan  please give me your reference git repository if you have.

[2018-02-15 17:09] carlo318 commented on #167
At first I didn't find those Capabilities options in XCode.
It could be useful to someone this detailed info on where they are:

- Capabilities
    - Background Modes
        - Location updates
        - Remote notifications
        - Uses bluetooth LE accessories

[2018-02-15 19:46] paredesivan commented on #345
https://github.com/paredesivan/cordova-plugin-ibeacon

[2018-02-15 19:51] paredesivan commented on #347
i edited the file beaconregion.js in this function like that

[code]

then i call it in the controller/service like that

[code]

[2018-02-15 20:09] paredesivan commented on #346
algun permiso nuevo que se aplique?

[2018-02-16 10:23] capur16 opened #350 "Android 8 IllegalArgumentException: No such service"
Hi
running this plugin on a oneplus 3t with android 8.0 I receive the following error:
java.lang.IllegalArgumentException: No such service ComponentInfo{com.example.myproject/org.altbeacon.beacon.service.ScanJob}

To make it work I had to add the following lines to the AndroidManifest.xml:

`<service android:permission="android.permission.BIND_JOB_SERVICE"
          android:name="org.altbeacon.bea

[2018-02-20 13:23] vipulism opened #351 "Does this plugin supports wifi beacons ??"
Hi, I am stuck with the problem here. Need to understand how we can communicate with the WIFI based beacons. In the document I only see Bluetooth as the connecting medium.  Please suggest?

[2018-02-20 14:21] sidPuttur commented on #350
Hi.,
Even i have a crashing issue in android 8 and no logs printed.  Can you please explain what is BIND_JOB_SERVICE and
org.altbeacon.beacon.service.ScanJob? . Is this specific to your use case?

Thanks

[2018-02-21 22:40] graphicgeek opened #352 "Requires Audio, AirPlay, and Picture in Picture permission on iOS?"
I've been trying to get this working in iOS 11 with little success. After installing the demo app and trying out a helloworld app, I finally figured out that the app won't work unless the Audio, AirPlay, and Picture in Picture  background mode is enabled.

That would be fine, except my app doesn't use any of those features, so there's no way Apple will approve it if I enable that background mode.

[2018-02-22 01:02] #352 closed, assigned to nobody

[2018-02-22 01:03] graphicgeek commented on #352
I had way too many tabs open. This was meant for another repo. Sorry.

[2018-02-22 15:14] graphicgeek opened #353 "Running in the background on iOS 11"
It seems the app keeps monitoring for beacons when the app is in the background, but any code called when a beacon is found doesn't execute until the user opens the app again. This makes it impossible to schedule a local notification or do anything that will prompt the user to open the app when a beacon is found.

I've tried the cordova-plugin-background-mode plugin, but that only seems to work if

[2018-02-23 13:05] creator1134 opened #354 "ranging multiple beacon"
I have to monitor more than one beacon.

I tried the solution in #190 and #328 by using WILDCARD method in UUID. It's giving error when i used

```var uuid = cordova.plugins.locationManager.BeaconRegion.WILDCARD_UUID; is throwing an error.```

Anything i am missing.

[2018-03-02 09:15] mhomeister opened #355 "Don't get anything to work"
Hey there, i'm trying to get a running project to work a few weeks now. There are a few questions i dont find any information on the web so far.

Is the PhoneGap iPhone App iBeacon compatible? May i deploy an iBeacon App per PhoneGap and WiFi and it should work or do i need an App which has any sort of permission for iBeacons already in it?

I deployed via PhoneGap and for Native iBeacon support (

[2018-03-02 17:44] carlo318 opened #356 "IOS - Domain=kCLErrorDomain Code=4, even with WhenInUseAuthorization"
Hi,
the plugin works fine on Android, but I get some issues with IOS (9.3 and above) and Ionic-Cordova.
The code is like this:

`cordova.plugins.locationManager.requestAlwaysAuthorization();`
`var delegate = new cordova.plugins.locationManager.Delegate();`
`delegate.didEnterRegion = function (result){
  // Some code
};`
`cordova.plugins.locationManager.setDelegate(delegate);`
`var _beaconR = new c

[2018-03-04 07:21] Ahmedmedhat187 opened #357 "how to use this plugin in ionic2"
I need to map ionic 2 app to read estimote ibeacon name

[2018-03-05 16:45] carlo318 commented on #356
I could make it work, but with a too stricted condition.
Only if I ask for permission at the very start of the App (the first instruction in ionicPlatform.ready:

`$ionicPlatform.ready(function() {`
`  cordova.plugins.locationManager.requestAlwaysAuthorization();`
`  [...]`
`});`

Only this way I get the App to ask for permission and then work properly.
It's not a good behaviour for me because not

[2018-03-09 11:02] hbertsch commented on #346
Same issue here. With **android 8.0 the app crashes** as soon as I "startMonitoringForRegion". With **android 7.0 it is working and detecting the beacons.** Btw. I am also using Ionic3 and followed the example from https://ionicframework.com/docs/native/ibeacon/ as well as the examples from this repo. Would be great if this gets fixed, so we can use it with android 8 and new phones.

**Apparently

[2018-03-13 08:45] apcloic commented on #357
Hi,
There is a good example on the following page :

https://bitbucket.org/jcgronde/ionic-proximity-app/src/5764cb80321aa046169306e33edde371e331bd61?at=master

[2018-03-14 18:07] arielfaur commented on #335
I am also struggling with this, it works fine on iOS 11 even when the app is not running. But on Android it does nothing :(

[2018-03-20 10:19] Powerball18 commented on #350
This didn't fix it for me. I'm using Ionic 3.0 and added it to the config like this.
`<config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <service android:name="org.altbeacon.beacon.service.ScanJob" android:permission="android.permission.BIND_JOB_SERVICE">
            </service>
        <

[2018-03-22 06:35] ezharfahmi opened #358 "Ibeacon on ionic3"
I have follow all the step from this url https://ionicallyspeaking.com/2017/01/16/creating-a-beacon-application-with-ionic-2/

However, it will not display the list of beacon.

Is there a way i can do this, i'm currently want to detect beacon that have same name, same uuid but different minor, thank you

[2018-03-22 09:54] vienom commented on #350
The target of a service is the application, the target of the uses-permission is the manifest. Try it like this:

`<edit-config file="AndroidManifest.xml" mode="add" target="/manifest/application">
            <service android:name="org.altbeacon.beacon.service.ScanJob" android:permission="android.permission.BIND_JOB_SERVICE" />
        </edit-config>
        <edit-config file="AndroidManifest.xml

[2018-03-22 12:48] vienom commented on #350
Actually its better to change the permissions in the plugin.xml. Faced some issues with the above solution. Here is a fork where you can see the changes: https://github.com/vienom/cordova-plugin-ibeacon

[2018-03-22 16:26] BertrandJU commented on #350
Works well in config.xml with plugin "cordova-custom-config":
[code]

(Permission RECEIVE_BOOT_COMPLETED is not required)

[2018-03-23 14:00] andersborgabiro commented on #351
It only supports iBeacon-compatible Bluetooth Low Energy beacons, which in turn works by the beacon sending out broadcast advertisements containing a tiny payload with the beacon's identity.

[2018-03-23 14:02] andersborgabiro commented on #354
Wildcard UUID doesn't work for iOS. There was a supposed fix made recently to support it for Android, but I'm not sure it was released.

Use a specific UUID, with wildcard major and minor ID.

[2018-03-23 14:04] andersborgabiro commented on #350
Anyone knows why this is needed? It wasn't in Android 7.

[2018-03-23 14:06] andersborgabiro commented on #348
Generally speaking, any beacon that claims to be iBeacon compatible should work. I've tried with Ankhmaway, Jaalee, Wellcore, Radius Networks, Estimote. All work fine.

[2018-03-27 09:14] creator1134 commented on #354
will it be release in future.

[2018-03-27 09:15] creator1134 commented on #354
will it be release in near future WILDCARD method and can we get battery level of the beacon.

[2018-03-27 13:34] fishme commented on #348
thanks @andersborgabiro good to know!

[2018-03-27 13:34] #348 closed, assigned to nobody

[2018-03-28 09:13] gavrochelegnou opened #359 ""beacons" array empty most of the time"
Hello,

I am try to range beacons but the update of beacons seems really random.
Is the "`beacons`" array only populated when a movement is detected ?

Because i get the `didRangeBeaconsInRegion` event about every second but most of the time the `beacons` array is empty.

I am trying with two beacons, one is really close (40cm) and the other in the next room, and the result is really random. Most

[2018-03-29 16:06] baldodavi opened #360 "getAuthorizationStatus result doesn't change on allow or deny location permission"
I'm using this plugin in Ionic. I'm exploring the opportunity of manage permissions at runtime on android.
[code]
Why this code give me back always
`{authorizationStatus: "AuthorizationStatusAuthorized"}`
also when I deny permission of location on my device?

There's something I miss?
Thanks in advance.
David.

[2018-04-03 05:14] t2wu opened #361 "Plugin conflicts"
On iOS, Is there any mechanism in place if more than one plugin are trying to be CLLocationManagerDelegate? In my case it's the geofence plugin that's in conflict with iBeacon plugin. Now depends on how the plugins are used, the geofence plugin could eventually wrest control to be the delegate, or the iBeacon plugin.

Suppose iBeacon is the one that finally becomes the only delegate, what could be

[2018-04-05 13:24] texano00 commented on #360
Any news/workaround? I've the same problem.
Thanks

[2018-04-06 04:11] mrbroong commented on #335
Having same issue, it works fine on iOS when the app is killed but on Android it doesn’t detect ibeacon of the app is killed. @petermetz can you please confirm if this works when the app is killed on Android?

[2018-04-09 09:31] t2wu commented on #361
OK I've just realized that CLLocationManager is not used as a shared instance, it has to be allocated. That means there can be more than one CLLocationManagerDelegate. And so there is no need to store a previous delegate. But it just needs to filter out stuff it didn't register.

[2018-04-11 09:06] andersborgabiro commented on #359
It's only populated when a beacon has sent an iBeacon advertisement (usually once a second, but can be reconfigured in the beacon).

Region outside indicates that the beacon is no longer detected at all. Proximity transitions require your own logic.

In my beacon apps I keep a record of the state of each detected beacon with timeouts for outwards proximity changes.

[2018-04-11 09:22] andersborgabiro commented on #358
Beacons don't have names on the hardware level. They only send UUID, major ID and minor ID within BLE advertisements, usually once a second.

Are you using the UUID that your beacons are configured for?

Have you used e.g. the BLE Scanner app to see if they are visible at all?

[2018-04-11 09:27] andersborgabiro commented on #354
iBeacons have no standard way of indicating battery level. Eddystone does though, via TLM, but that's not supported by this plugin.

[2018-04-11 09:35] andersborgabiro commented on #355
This plugin is non-core, so I very much doubt it's in the PhoneGap app.

If you build via command line or PhoneGap Build you can include this plugin like any other.

iBeacon-compatible beacons only transmit UUID, major ID and minor ID.

I don't use any .id (just checked).

[2018-04-11 09:39] andersborgabiro commented on #360
This might be enlightening (from my code) :)

[code]

[2018-04-11 14:24] jes5e commented on #346
I'm seeing the same issue on android 8 with a cordova app using this plugin. App crashes as soon as I call `window.cordova.plugins.locationManager.startRangingBeaconsInRegion` but works on iOS.

[2018-04-12 10:53] ghost commented on #354
Hi, we're just starting playing with beacons and evaluating usage in a project. I'm wondering why WILDCARD UUID is not supported in iOS, it's a lack of the underlying iOS library of simply missing implementation in this cordova plugin? If yes, any plan to support it?

Thanks anyway  for this awesome work

[2018-04-12 12:57] andersborgabiro commented on #354
iOS simply doesn't allow you to use a wildcard UUID, so it's not a limitation of this plugin, that uses the built-in support for iBeacon. In the case of Android the plugin uses Radius Networks' AltBeacon library, where a wildcard UUID is allowed.

[2018-04-12 14:07] paredesivan commented on #346
falta una clase, quizas desapareció en la version 8.0. habria que ver como importarla al plugin

[2018-04-13 05:55] mpadmaraj opened #362 "Custom Location Access message"
Is it possible for my Ionic 3 app to show custom message instead of currently default message shown by this plugin for enabling location access?

[2018-04-20 13:37] paredesivan commented on #349
i edited the locationmanager.java to this and it works

[code]

[2018-04-20 13:37] #349 closed, assigned to nobody

[2018-04-21 08:47] ashleycoker commented on #334
I get the same issue.  The beacons array is only populated every 30 seconds for about 5 seconds.
Using Cordova android@6.4 platform.

Any ideas??

[2018-04-23 03:51] petermetz commented on #259
Please check out v3.6.1, the latest release as of right now.
Thank you again for @Chuckytuh  for the contribution of the fix.

[2018-04-23 03:51] #259 closed, assigned to nobody

[2018-04-23 22:34] dopry commented on #350
@andersborgabiro the beacon handling and background tasks in Android 8 changed. http://www.davidgyoungtech.com/2017/08/07/beacon-detection-with-android-8 covers some of it. You can dig up some more details starting at https://developer.android.com/about/versions/oreo/android-8.0-migration.html look into the Bluetooth and background changes.

[2018-04-23 23:00] ashleycoker opened #365 "Estimote SDK"
Hi Peter,

Would you be interested in some private work to create a cordova plugin for the Estimote beacon SDK?

Ashley

[2018-04-23 23:05] ashleycoker opened #366 "results every 30 seconds"
I could only get the plugin working on Android 6.4, and I only get the beacons array populated every 30 seconds.  Every other second it is blank.  Any ideas?

Ideally, I would like results every second so i can respond during ranging quickly.

Thanks

[2018-04-24 07:10] andersborgabiro commented on #350
Thanks for the info. As the plugin is using beacon library 2.12.4 I guess this should work fine now.

[2018-04-24 12:14] RobinVanHoof opened #367 "onEntry and onExit events fire alternately every 15 seconds when monitoring"
Hello,
I'm having a bit of an issue when I try to monitor a beacon.
Using the code in the documentation to monitor a single iBeacon, I added the following code to check whether or not an onEntry and onExit event gets triggered:

`            delegate.didEnterRegion = function (pluginResult) {
                logToDom('[DOM] didEnterRegion: ' + JSON.stringify(pluginResult));
            };

[2018-04-24 13:48] dopry commented on #350
There are still permission and dependency issues that effect Android 8. If you have time to test #363 and #364 could use additional testing and review.

[2018-04-24 14:07] andersborgabiro commented on #350
Right at this very now I don't have a phone with Android 8, but when I do I will.

[2018-04-26 11:56] aubrey-fowler opened #369 "How to use this plugin properly?"
I am writing an app with Cordova cli v8, Ionic 1.3.5, and AngularJS 1.5.3.
I need my app to run on iOS and Android and pass the app store specifications.

I want to open the app and detect all of the iBeacons in the surrounding area. I don't necessarily know the uuids of the beacons. Is this possible with this plugin?

Also, I tried to use this tutorial:
https://www.thepolyglotdeveloper.com/2015/0

[2018-04-30 09:58] aubrey-fowler opened #370 "'beacons' array is always empty on Android"
Hi there, I am trying to get this plugin to work. I am using Cordova cli v8.

I am using a Jaalee iBeacon: https://www.jaalee.com/store
iB004-N plus

I can access this beacon with the manufacturer's app (eBeacon for iOS) and get it to beep. I have the uuid, major and minor numbers.

When I run the plugin here, it does run without any errors but the beacons array is always empty even though the bea

[2018-05-02 23:15] mrbroong opened #371 "Monitoring ibeacons in background Mode on Android"
The plugin works fine on iOS but when the app is killed on Android it stops monitoring the ibeacons.
Is there any way I can keep the service running in background so that it can keep monitoring ibeacons even when the app is killed on Android just like iOS ?

Thanks

[2018-05-11 18:18] dopry commented on #369
Android has some capacity for wildcard UUIDs.  CLLocationManager on IOS does not support wildcard UUIDs.  You cannot get wildcard UUID scanning working across the board with this library.  I suspect it would be possible if you worked with a lower level Bluetooth Library and parsed the advertisements yourself.

As for detecting your beacon, ensure your bluetooth is one and the UUID, Major, and Mino

[2018-05-11 18:21] dopry commented on #367
I have observed this with some beacons...  I don't really use the didEnter/didExit. I've been using didDetermineState and doing my own region state management. I basically wait a little while after a didExit to change state and if a didEnter happens I cancel the state change.

[2018-05-11 18:22] dopry commented on #371
I've been having the same problem even with my own branch and the latest altbeacon release.  I get bg notices as long as the app is alive, but when I kill the app I stop getting them.

[2018-05-14 08:52] maske94 commented on #371
Same problem here! In Android when the app is killed i stop receiving ibeacons.

Has anyone come up with a solution ?

[2018-05-14 15:34] dopry commented on #371
The fix is most likely going to come through from the upstream [AltBeacon library](https://github.com/AltBeacon/android-beacon-library). The Cordova iBeacon plugin is just a wrapper around AltBeacon.

[2018-05-21 09:56] saty932 opened #372 "Did enter region and Did exit region triggers multiple times even I am in with in the region?"
I am already in region then also I am getting did enter/exits events continuously like for every 10 secs.
This is My provider code which I have written for monitoring the beacons.
[code]
I am using current Ionic native Beacon plugin.
Android version 7.1.1

[2018-05-21 10:09] aubrey-fowler commented on #369
OK I have the UUID but on Android I am getting an empty array for each time.  It works on IOS.

[2018-05-21 14:42] dopry commented on #369
Can you pastebin your code?

[2018-05-24 10:17] RajibSCoop opened #373 "How to get the Beacon Major Number passing the uuid and identifier"
I am trying to fetch the Major number of the beacon . I have the uuid and the identifier. Pls assist me with the code.

[2018-05-25 08:16] RobinVanHoof commented on #372
I encountered the same issue (#367). For now, I just set an interval at 1000ms to basically count the number of elapsed seconds after the last didEnter() event and execute my initial didExit() logic when the number of seconds exceeds 35 (My didEnter() event fires every 30 - 32 seconds). Not really an elegant solution but it works for my use case.

[code]

[2018-05-26 17:35] markarupert commented on #219
@darrenbreeze, I am in the same boat as you. I don't want to configure each beacon and use them out of the box. Did you find a solution?

[2018-05-27 22:31] lincolnberryiii commented on #350
@vienom's solution worked for me: Google Pixel XL running Android P Beta.

[2018-05-28 07:35] aubrey-fowler commented on #369
I've posted another question on this git with the code: https://github.com/petermetz/cordova-plugin-ibeacon/issues/370

[2018-05-31 04:22] t2wu commented on #361
Attempted to fix it with an pull request.

[2018-06-01 07:19] mustafal commented on #29
hello @petermetz ,

I am using your plugin in one of my ionic project for scanning the beacons.
here is my code.

` // Request permission to use location on iOS
    this.ibeacon.requestAlwaysAuthorization();
    // create a new delegate and register it with the native layer
    let delegate = this.ibeacon.Delegate();
    this.ibeacon.setDelegate(delegate)

    // Subscribe to some of the delegate'

[2018-06-04 13:19] bramji06 commented on #197
Hello Peter Somogyvari ,
This plugin is not working for startmonitoring ibeacons.I have tested both Ionic 1 and ionic 2. I was unable to detect didEnterRegion and didExitRegion. StartMonitoring and didstartmonitoring has called but not Enter and Exit. BeaconinRange is working fine.

CAn you resolve issue ? or guide me any changes. I have already allow background mode for location update and act as

[2018-06-07 04:29] Crzychkn opened #375 "Unable to detect beacons"
I've google fu'd my way to a dead-end. I'm probably just not understanding it fully. Not an issue with the plugin (as far as I know), so sorry for posting this here.

My application isn't detecting beacons when I run it. It is a PhoneGap / jQuery mobile application. It shows

[code]

when I run it and connect with Safari's remote inspect tools. It seems like it is searching for beacons, but the be

[2018-06-07 13:11] mdailor commented on #375
I had a similar problem when I first started using this plugin. Be sure to specifically set the major/minor values for each beacon you create via locationManager.BeaconRegion. The plugin looks for those values in the beacons that it detects and selectively returns only those beacons when ranging/monitoring.

[2018-06-07 16:46] Crzychkn commented on #375
Thanks for the response @mdailor!

I do set the major/minor values when creating the region here:

[code]

I'm changing from `cordova.plugins.locationManager.requestWhenInUseAuthorization();` to `cordova.plugins.locationManager.requestAlwaysAuthorization();` instead to see if that has any affect (though I don't see why it would since I'm using the app when looking for beacons, and don't care about

[2018-06-07 16:54] Crzychkn commented on #375
I was missing something simple. Everything was correct, but I had my minor/major values swapped accidentally. Swapping them now shows beacons.

Thanks for making me look closer at those values @mdailor, much appreciated!

[2018-06-07 16:54] #375 closed, assigned to nobody

[2018-06-10 02:29] DonWono opened #376 "Ionic iOS iBeacon stops executing after 6 hours in background"
I'm working on an app that uses the iBeacon plugin in the background. The app monitors for beacons in my region, and when a beacon is in range it gets the beacons major and minor, and sends the major and minor to my server via an http post function. My server then sends a push notification to the user with the appropriate message based on the beacon. For the most part the app works great, but if I

[2018-06-12 15:26] HIdoShviro commented on #307
Im having the exact same issue :

The issue I am having is, for the first 5-6 seconds, it finds the beacons. For the next 18-20ish, it returns an empty array.

I'm using xiaomi mi a1 on android 7.1.2

did you find a solution?

[2018-06-15 11:19] DonWono commented on #353
Hi. I'm having the same issue. Were you able to figure out a fix to this problem or a work around?

[2018-06-19 01:56] mcosta53 commented on #376
I've been having this same issue for a while. I recently starting to look into the problem, and although I've not yet found the root cause, the problem seems to happen after the app is suspended by the OS and is restarted  when a beacon is received. The app seems to be in a bad state and won't restart correctly. Even when you open the app manually the pages will not load. You can replicate the pro

[2018-06-19 03:05] dopry commented on #373
You need to either start monitoring or start ranging for the UUID. Then you should pick up events for all matching beacons.  Good luck!

[2018-06-19 03:05] #373 closed, assigned to nobody

[2018-06-19 08:22] mcosta53 commented on #376
I narrowed this down to this call:
(void)webView:(WKWebView*)theWebView didFailProvisionalNavigation
with error: default	xxxxxxxxx: Failed to load webpage with error: Could not connect to the server.

Looks like the WKWebView server is not running when the App is restarted from a beacon while suspended so the app fails to load.

I've pretty much reached my knowledge limit in this area so it would

[2018-06-22 00:51] DonWono commented on #376
Based on mcosta53's response I decided not to use CDVWKWebViewEngine and instead use CDVUIWebViewEngine

[https://ionicframework.com/docs/wkwebview/](https://ionicframework.com/docs/wkwebview/)

I replaced in config.xml:

` <feature name="CDVWKWebViewEngine">`
        `<param name="ios-package" value="CDVWKWebViewEngine" />`
    `</feature>`
` <preference name="CordovaWebViewEngine" value="CDVWKWe

[2018-06-22 02:50] mcosta53 commented on #376
After much digging I was able to find the root-cause of this problem. The most difficult part was consistly replicating the issue. The root-cause has nothing to do with the plugin, but I'm pretty sure anyone using this plugin will experiance this problem. The reason why it's so difficult to notice is beacause it only happends when the app is terminated by the OS and a beacon is sent. The plugin do

[2018-06-22 03:03] dopry commented on #372
@saty932, @RobinVanHoof, These events are coming from the upstream alt beacon (android-beacon-library) or core location (ios) libraries.  cordova-plugin-ibeacon is just a thin wrapper. Can you open issues with the upstream developers?

[2018-06-22 03:19] DonWono commented on #376
Thank you very much mcosta53! I will be testing out your solution.

[2018-06-22 11:33] d4rkm1nd54 opened #378 "Data not binding"
Hi! The plugin works perfectly, but when is ranging beacons or monitoring, the view is not reloading data (Not binding).

` delegate.didRangeBeaconsInRegion()
    .subscribe(
      data => {
        console.log('didRangeBeaconsInRegion: ', JSON.stringify(data));
        this.beacons = data.beacons;
        this.rangedBeacons = true;
        console.log(this.rangedBeacons);
      },
      error =>

[2018-06-23 02:22] DonWono commented on #376
mcosta53 after testing your solution for a day it seems to work perfectly. Thank you very much! Your solution of changing GCDWebServerOption_AutomaticallySuspendInBackground to NO is a much better solution than my original work around of using CDVUIWebViewEngine.

[2018-06-23 02:23] #376 closed, assigned to nobody

[2018-06-25 08:30] windwp commented on #371
Is there any solution for this?

[2018-06-25 11:44] dopry commented on #378
This is an angular issue not really an ibeacon issue. Google for ChangeDetectorRef to find out more.

[2018-06-25 11:44] #378 closed, assigned to nobody

[2018-06-25 11:47] dopry commented on #372
With the latest AltBeacon (2.14) on Android, this seems much improved. Can either of you test, https://github.com/petermetz/cordova-plugin-ibeacon/pull/379 and see if it improves the situation?

[2018-06-25 11:49] dopry commented on #371
@mrbroong, @maske94, @windwp, It should be improved in the latest 3.x branch.  If you want to test with the latest and greatest release of AltBeacon, you can try out https://github.com/petermetz/cordova-plugin-ibeacon/pull/379.

[2018-06-25 12:02] dopry commented on #370
@aubrey-fowler, If regions are missing from the 'beacons' collection while ranging, it's most likely happening in https://github.com/AltBeacon/android-beacon-library.  cordova-plugin-ibeacon just maps those events into a consistent structure. The code responsible for that mapping is in https://github.com/petermetz/cordova-plugin-ibeacon/blob/v3.x/src/android/LocationManager.java#L539 if you want t

[2018-06-25 12:03] dopry commented on #369
I'm closing this issue in favor of your new issue with more specifics.

[2018-06-25 12:03] #369 closed, assigned to nobody

[2018-06-25 12:06] dopry commented on #367
Can you test https://github.com/petermetz/cordova-plugin-ibeacon/pull/379 to see if the latest AltBeacon resolves your issue? This is mostly an upstream AltBeacon thing. We're not tracking beacon state in the plugin.

[2018-06-25 12:08] dopry commented on #366
This is an upstream [Alt Beacon](https://github.com/AltBeacon/android-beacon-library) issue and not one we can address in the plugin easily.  You can test https://github.com/petermetz/cordova-plugin-ibeacon/pull/379 with the latest version of AltBeacon. Or open an issue in the AltBeacon library.

[2018-06-25 12:08] #366 closed, assigned to nobody

[2018-06-25 12:10] dopry commented on #365
@ashleycoker, I know @petermetz is pretty busy, but I might be able to help you out.

[2018-06-25 12:12] dopry commented on #362
No. See https://spotandroid.com/2017/02/01/android-tricks-is-there-a-way-to-customize-the-permissions-dialog/

[2018-06-25 12:12] #362 closed, assigned to nobody

[2018-06-25 12:22] dopry commented on #360
The code that returns get Authorization Status is here:
https://github.com/petermetz/cordova-plugin-ibeacon/blob/v3.x/src/android/LocationManager.java#L935

it's calling into https://github.com/AltBeacon/android-beacon-library/blob/master/src/main/java/org/altbeacon/beacon/BeaconManager.java

Feel free to nose around AltBeacon to figure out what should be happening. You can test https://github.com

[2018-06-25 12:22] #360 closed, assigned to nobody

[2018-06-25 12:24] dopry commented on #359
@gavrochelegnou the beacons collection isn't always full. This is coming from https://github.com/AltBeacon/android-beacon-library. You'll need to manage state on your own or open an issue in the upstream library.

[2018-06-25 12:24] #359 closed, assigned to nobody

[2018-06-25 12:29] dopry commented on #358
you need to create a region using only uuid and major, and leave out the minor. You'll get notices for all beacons matching the uuid and major, regardless of minor. cheers.

[code]

[2018-06-25 12:29] #358 closed, assigned to nobody

[2018-06-25 12:43] dopry commented on #361
@t2wu, can you be more clear about the issue you're trying to resolve? What is happening that you don't expect? What is the bug the PR is trying to resolve?  Are you getting monitors or ranging for regions you didn't start monitoring yourself? How could someone else reproduce the issue to test?

[2018-06-25 12:46] dopry commented on #138
We are limited to the support available in AltBeacon. https://github.com/AltBeacon/android-beacon-library

[2018-06-25 12:46] #138 closed

[2018-06-25 12:48] dopry commented on #265
Try with the latest 3.x, please re-open if you're still having issues.

[2018-06-25 12:48] #265 closed, assigned to nobody

[2018-06-25 12:49] #284 closed, assigned to nobody

[2018-06-25 12:51] dopry commented on #347
This is only possible on android with the ibeacon library. CLLocationManager on ios doesn't allow wildcard UUIDS. On android use * for UUID.

[2018-06-25 12:51] #347 closed, assigned to nobody

[2018-06-25 12:53] #325 closed, assigned to petermetz

[2018-06-25 12:55] dopry commented on #264
@msdorachua, sometimes ranging returns and empty array. This is happening upstream in the AltBeacon Library.

[2018-06-25 12:55] #264 closed, assigned to nobody

[2018-06-25 12:56] dopry commented on #155
sorry this isn't a general help forum for how to use beacons. If you had a specific bug, we could probably help you.

[2018-06-25 12:56] #155 closed

[2018-06-25 12:58] dopry opened #380 "add ios and android labels to issue tracker"
@petermetz, can you add ios and android labels to the issue labels. I want to start tagging issues for triage.

[2018-06-26 15:49] gavrochelegnou commented on #219
+1
I'd really like to get that too, for the record my use case is similar to @darrenbreeze .
A building has been stuffed with hundreds of beacons and the listing/positioning is only reporting the mac address ...

[2018-06-28 14:05] goj60 commented on #206
@Ritzlgrmft how do you mean you have to check explicitly be calling requestStateForRegion() ? I call startMonitoringForRegion and requestStateForRegion() with same createRegion params, but again no didDetermineStateForRegion event triggers...

[2018-07-01 18:13] Ritzlgrmft commented on #206
I do a lot of other checks before calling requestStateForRegion:
- `isRangingAvailable()`
- `isMonitoringAvailableForClass()`
- `getAuthorizationStatus()`
  result must be `AuthorizationStatus.Always` on iOS

Maybe one of these calls fails?

Additionally you could try your luck with `startRangingBeaconsInRegion()`. Normally you should call it only when you are in a region, but you can try is also

[2018-07-09 17:01] Sebxx opened #381 "Beacons array empty on iOS and Android"
Hello.

I am working with a couple of Estimote Beacons.

The event `didRangeBeaconsInRegion` always shows an empty array of Beacons in both platforms Android and iOS. I have placed the Beacons in my desktop, around 50cm of the device. But when I move the Beacon around the device, the event `didEnterRegion` is fired, the event `didRangeBeaconsInRegion` returns an array with the Beacon information f

[2018-07-10 20:46] Sebxx commented on #381
There was a misconfiguration in the Estimote Cloud. The option "Motion Only Broadcasting" was enabled. My fault. Thanks.

[2018-07-10 20:46] #381 closed, assigned to nobody

[2018-07-14 15:59] p-sebastian commented on #370
@aubrey-fowler you're probably doing it wrong.
for android if you set the major and minor properties when ranging, it will "lock" them to that. This means that will only find an advertising beacon with those major and minors.

If you want to range any major and minor with the same UUID, you need to pass

Actual undefined, since 'null' or '', will set the default values of '0' and lock it to those.

[2018-07-16 05:51] saty932 opened #383 "Ibeacons are automatically unregistering if beacons are more than 500?"
When the app launches for the very first time I am registering some beacons to monitor it’s able to register and monitor too but if i relaunch the app again all beacons are unregistered I mean getMonitoredRegions() returning empty array this is only happening for more than 500 beacons.Is there any reason for it?

[2018-07-17 11:22] Mickymc95 opened #384 "Using plugin with evothings iBeacon example"
Hi guys, I could do with some help. I'm trying to make an iBeacon app and follow evothings example [http://evothings.com/2.2/doc/examples/ibeacon-scan.html](url). It should be as easy as copying and pasting evothings code but when I add this plugin. My project will no longer build. I get these errors:

Android Studio project detected
ANDROID_HOME=C:\Users\mal\AppData\Local\Android\Sdk
JAVA_HOME=C:

[2018-07-23 16:34] halindrome commented on #350
Seems to be working for me as well.  Thanks!

[2018-07-23 17:57] dopry commented on #350
@halindrome what seems to be working for you? #363 and #364 or manually adding the permissions to your manifest?  On which platform?

[2018-07-23 18:03] dopry commented on #384
Can you try with the latest 3.x? It seems like this is the same build path issue @p-sebastian was having in #382. It should have been resolved when I merged #379. Let us know if this is fixed for you!

[2018-07-23 18:20] dopry commented on #334
@ashleycoker, can you try the latest 3.x?  It has a newer version of AltBeacon. the plugin is largely only proxying data from AltBeacon. What device are you testing on? What version of Android is it running?

[2018-07-23 18:57] halindrome commented on #350
Manually adding the permissions (through custom-config on cordova)

On Mon, Jul 23, 2018 at 12:57 PM dopry <notifications@github.com> wrote:

--
Shane McCarron
halindrome@gmail.com

[2018-07-23 18:58] dopry commented on #350
@halindrome, which version of cordova-android and the cordova-ibeacon-plugin are you using?

[2018-07-23 19:10] halindrome commented on #350
cordova-android is 6.4.0 I think.   cordova-plugin-ibeacon is at 3.6.1 I
think.

On Mon, Jul 23, 2018 at 1:58 PM dopry <notifications@github.com> wrote:

--
Shane McCarron
halindrome@gmail.com

[2018-07-23 19:25] dopry commented on #350
Can you try with the latest 3.x version of the plugin directly from github
and see if the permissions are still required?

On Mon, Jul 23, 2018, 3:10 PM Shane McCarron <notifications@github.com>
wrote:

[2018-07-24 09:11] saty932 opened #385 "How can I trigger the startRangingBeaconsInRegion when ever didenter triggers in plugin code??"
Thanks for wonderful plugin.
What we need is we are monitoring the beacons using uuid so when ever we enters into region it's able to trigger did enter region.It's able to sending the uuid details based on that we need to scan beacons and find out all beacons in that  region after finding out which beacon is near we need to trigger one notification.

I already modified that plugin it's working fin

[2018-07-24 22:48] petermetz commented on #29
@mustafal It's kinda hard to tell but I'd double check if the permissions in XCode are set up properly. Also would verify from the native layer logs if the beacons are getting picked up at all (if not, then there is nothing the plugin or I can do to help unless you fix that first)

[2018-07-24 22:51] petermetz commented on #380
@dopry Sorry I'm late for the party. I see you figured out that you have permissions to do it too! Glad it worked out!

[2018-07-24 22:51] #380 closed, assigned to nobody

[2018-07-24 23:06] petermetz commented on #353
@graphicgeek @DonWono
Can you provide the code that you are trying to make it work?
Whenever there's a monitoring event in the background (or even when the app is killed) the WebView should be launched with the app in a sort of "headless" mode to ensure that your code can run and a local notification can be scheduled for example.

Closing until more information is provided. When that happens pleas

[2018-07-24 23:06] #353 closed, assigned to petermetz

[2018-07-24 23:09] petermetz commented on #385
@saty932 You have the right idea on how to implement this, but your code should be placed in the Javascript layer instead of modifying the Java code of the plugin (which will anyway cause you maintainability problems later on when you try to upgrade to a newer version for example).

So the logic you applied is good, but do it in the DOM (Javascript) and then it should work. Hope this helps, feel f

[2018-07-24 23:09] #385 closed, assigned to petermetz

[2018-07-24 23:14] petermetz commented on #372
@saty932 @RobinVanHoof Closing due to in-activity. Please re-open when new information is available!
@dopry Thank you very much once again for all your help!

[2018-07-24 23:14] #372 closed, assigned to nobody

[2018-07-24 23:15] petermetz commented on #371
Closing due to inactivity, please refer to `dopry`'s comment above for more information. Feel free to re-open if new information is available.

[2018-07-24 23:15] #371 closed, assigned to nobody

[2018-07-24 23:17] petermetz commented on #367
Closing due to inactivity. Please re-open if new information is available or continue the discussion in #379  as per `dopry`'s suggestion above.

[2018-07-24 23:17] #367 closed, assigned to nobody

[2018-07-24 23:24] petermetz commented on #347
@dopry Not sure if it works with the asterisk character. If I remember correctly there's a specific constant-like JS object defined that uniquely identifies the intent from the developer to scan for wildcard UUIDs on Android. Relevant section of the README:
https://github.com/petermetz/cordova-plugin-ibeacon#specify-wildcard-uuid-android-only

@paredesivan I recommend not modifying the sources of

[2018-07-24 23:29] petermetz commented on #219
Unfortunately I have to close this as a wontfix given that it still seems to be impossible with iOS.
https://stackoverflow.com/a/30722307/698470

[2018-07-24 23:29] #219 closed, assigned to petermetz

[2018-07-24 23:36] petermetz commented on #370
@aubrey-fowler Please re-open as needed. For now I consider this resolved thanks to the comments of `dopry` and `p-sebastian`.

[2018-07-24 23:36] #370 closed, assigned to nobody

[2018-07-24 23:41] petermetz commented on #383
@saty932 Unfortunately the result of `getMonitoredRegions()` is not to be trusted completely, given that the underlying OS API does not guarantee a consistent state of it either.
This SO thread is about geofencing, but still what they are saying in the answers applies to beacon monitoring as well:
https://stackoverflow.com/questions/9005246/monitoredregions-empty-even-though-startmonitoringforregi

[2018-07-24 23:41] #383 closed, assigned to nobody

[2018-07-24 23:45] petermetz commented on #384
@Mickymc95 Hopefully `dopry`'s comment above will help. Re-open if it doesn't. Trying to keep the number of open issues down below a hundred.... :-)

[2018-07-24 23:45] #384 closed, assigned to nobody

[2018-07-24 23:47] petermetz commented on #334
Please re-open if the latest 3.x does not work (and provide the requested details)

[2018-07-24 23:47] #334 closed, assigned to petermetz

[2018-07-24 23:49] petermetz commented on #350
I'll be releasing v3.6.2 to npm soon. Please watch out for that and give it a try.

[2018-07-24 23:54] petermetz commented on #355
It only prompts for the first time then it "remembers" it. If it ***never*** prompted you want to check the logs and also make sure the necessary permissions are provided for the app either in XCode or the phone's settings.

[2018-07-24 23:54] #355 closed, assigned to nobody

[2018-07-24 23:55] andersborgabiro commented on #350
Great! Looking forward to that.

[2018-07-25 00:07] joeldhenry opened #386 "-[UIApplication presentLocalNotificationNow:] must be used from main thread only"
**Expected behavior and actual behavior**
when enabling debug notifications i expect to receive notifications but do not and in xcode i get
```-[UIApplication presentLocalNotificationNow:] must be used from main thread only```

**Steps to reproduce the problem**
```cordova.plugins.locationManager.enableDebugNotifications();```

**cordova-ios version**
4.5.4

**cordova-plugin-ibeacon version**
3.6.

[2018-07-25 00:13] petermetz commented on #386
@joeldhenry Seems like one of those constraints that iOS introduced over time. It's not really a bug in the plugin but I believe we can fix it anyway. Thank you for the report.

[2018-07-25 00:32] joeldhenry commented on #386
thanks @petermetz!

[2018-07-25 00:36] petermetz opened #387 "V4 Checklist"
- [ ] Drop Dart VM from dependencies
- [ ] CircleCI
- [ ] Automated npm package releases https://github.com/petermetz/cordova-plugin-ibeacon/issues/392
- [ ] Double check Ionic Native compatibility. https://github.com/petermetz/cordova-plugin-ibeacon/issues/393
- [x] Start using conventional git commit messages for automated releases https://github.com/petermetz/cordova-plugin-ibeacon/pull/389
- [

[2018-07-25 00:41] petermetz commented on #350
The new release just dropped on npm. Ended up calling it v3.7.0

[2018-07-25 01:52] halindrome commented on #350
I will do some testing with it in the AM.

On Tue, Jul 24, 2018 at 7:41 PM Peter Metz <notifications@github.com> wrote:

--
Shane McCarron
halindrome@gmail.com

[2018-07-25 04:37] dopry commented on #380
No worries. I also added an issue template to try to encourage people to provide necessary debugging info up front.

[2018-07-25 04:58] mustafal commented on #29
@petermetz
Thanks for your reply man
But i am using it on an android devices and in the linux operating system.
So please correct me if I am doing something wrong.
In iOS i don't have an idea what to do.

[2018-07-25 05:32] petermetz commented on #29
@mustafal My suggestion about checking the native logs still applies regardless of mobile OS. Also permissions could still be double checked but on Android you have to do it on the phone's notifications settings (I'm not sure how the latest Android manages it but should be simple enough to find the app specific permissions and check them).

[2018-07-25 05:33] petermetz commented on #348
Note to self: Add this valuable piece of information for @andersborgabiro  to the FAQ.

[2018-07-25 05:35] petermetz commented on #351
@vipulism Exactly as Anders put it.

Note to self: add this also as an entry to the FAQ.

[2018-07-25 05:35] #351 closed, assigned to petermetz

[2018-07-25 05:54] petermetz opened #388 "Rename CDVLogger to avoid conflict with newer cordova-ios releases"
https://github.com/petermetz/cordova-proximity-quickstart/issues/13

[2018-07-25 05:58] petermetz commented on #361
@t2wu Sorry I'm also a little confused about which PR it was (could've been that we already discussed this under the PR but I couldn't find it just now).
Please re-open with a reference to the PR if still relevant.

[2018-07-25 05:58] #361 closed, assigned to nobody

[2018-07-25 06:00] petermetz commented on #345
@Spanchal21 You could also check the quick start repo for inspiration on how to do this:
https://github.com/petermetz/cordova-proximity-quickstart

[2018-07-25 06:00] #345 closed, assigned to petermetz

[2018-07-25 06:56] andersborgabiro commented on #350
Works fine on Android 6 and 7 and iOS 11.4.1.

So, is the Android 8 specific configuration not needed anymore? Anything else that's changed? (there's no release note, so I couldn't check there)

[2018-07-25 11:10] halindrome commented on #350
Started testing now - I have been pulling these straight from github instead of npm for a variety of reasons.  There is no tag for 3.7.0 FWIW.

[2018-07-25 16:23] petermetz commented on #350
@andersborgabiro @halindrome
Forgot to create the tag/release on GitHub yesterday, but here it is now:
https://github.com/petermetz/cordova-plugin-ibeacon/releases/tag/3.7.0

For future reference: the CHANGELOG file always contains the release notes as well.

[2018-07-25 18:37] andersborgabiro commented on #350
Great! Thanks.

The custom config is removed.

[2018-07-25 19:01] dopry commented on #350
@andersborgabiro, so everything is building and working for you? Did you also do a complete uninstall on your development device to ensure there aren't any permissions hanging around from an earlier update?

[2018-07-25 20:22] andersborgabiro commented on #350
Good idea. I'll test that tomorrow.

[2018-07-25 20:59] dopry commented on #387
Do we want do some generally planning here, then break these up into individual issues in the v4.0 milestone?

1. migrate to typescript

   Do we want to add the typescript tooling before we get CI and everything going? I like working in TS, but the extra build steps can present a challenge.

2. Drop Dart VM from depedendencie

   Is this for the testing? I've attempted to use cordova-paramedic to

[2018-07-25 22:26] petermetz commented on #387
1. Agreed, probably more efficient to get to TS first, then hook it all up with to CircleCI.
2. Yes, the test execution scripts/tooling were written in Dart to have a cross platform way of executing them while still being as close too JS as possible (didn't want to go with Java/C# because of the latter). Nowadays the popularity of Typescript makes me think it is the safer bet on the long run and a

[2018-07-25 22:33] dopry commented on #387
1. I think it may be better get some CI and testing in place, then move to TS.  That way we have a way to prove functional equivalency through the transition.  I'd vote for 2, 3, & 5 before proceeding on typescript conversion. We could also consider pure ES6 classes and eliminate the TS->ES build step.  We could still adapt the interface and S6 may have  wider audience than pure TS.

2. I'll take

[2018-07-25 22:43] petermetz commented on #387
Works just as fine for me. Especially since we started with CircleCI just now anyway. :-)

👍

I love the IDE support with the type definitions, but of course it is undeniable that it's extra complexity. Will sleep more on this one. :-)

[2018-07-25 22:48] dopry commented on #387
another point...

8. Can we update the plugin so it is always referenced as cordova-plugin-ibeacon to be more consistent with the rest of the plugin universe. It currently is installed as cordova-plugin-ibeacon and removed as  com.unarin.cordova.beacon

[2018-07-26 00:23] petermetz commented on #387
Okay, but it has to be the other way around. The phrase `ibeacon` in the name is a bit unlucky because it's Apple specific and is kind of a trademarking gray area (or so I heard).
How about a middle ground of `cordova-plugin-proximity`?

[2018-07-26 00:58] dopry commented on #387
proximity might get into another territory, maybe go literalist? cordova-plugin-btbeacon?

[2018-07-26 01:49] petermetz commented on #387
`bt` being BlueTooth?

[2018-07-26 02:12] dopry commented on #387
bt == bluetooth, yeah.. maybe proximity is better from a discoverability perspective... Maybe just `cordova-plugin-beacon`?  We can drop the i and I think people will get it.. proximity makes me think people might start thinking GPS and other proximity or location functionality.

[2018-07-26 02:14] dopry commented on #357
@apcloic, thanks for helping @Ahmedmedhat187! I'm going to close since you've shared and example.

[2018-07-26 02:14] #357 closed, assigned to nobody

[2018-07-26 02:16] dopry commented on #292
I cannot reproduce on my 7.x or 8.x android devices. It will ask for permission when the app is removed and re-installed.  I'm going to close. Feel free to open a new issue with enough detail that we can reproduce the issue.

[2018-07-26 02:16] #292 closed, assigned to petermetz

[2018-07-26 02:16] petermetz commented on #387
I wish it was that easy... :-)
That one is taken: https://www.npmjs.com/package/cordova-plugin-beacon

[2018-07-26 02:20] petermetz commented on #387
Another wrench to the machine: Geo-fencing is supported on the iOS platform. If we add it on Android too, maybe it will pass as `proximity`, but I'm totally open to other suggestions.
Honestly, I could also live with `btbeacon` or `blebeacon`.

[2018-07-26 02:21] dopry commented on #240
On android background monitoring does happen when you use .monitorForRegion(), but it can take some time to detect.  I've had to wait as long as five minutes. Even then you're limited in what you can do in your callback, try just displaying a notification using the local notification service.

Feel free to open an issue with more details about your test setup if you're still having problems.

[2018-07-26 02:21] #240 closed, assigned to nobody

[2018-07-26 02:22] dopry commented on #297
@nilaysaha, what specifically do you mean by beacon transmission? Are you talking about having the device advertise as beacon?

[2018-07-26 07:13] andersborgabiro commented on #297
Android 5 and up should be fine, but some devices have hardware that doesn't support beacon advertising. I'm not sure why, as all Bluetooth/BLE devices need to send advertisements.

Anyway, you can use the plugin to make a phone behave as an iBeacon. I have apps to prove it.

Apple will not approve apps that enable you to set arbitrary iBeacon IDs via UI (based on experience).

[2018-07-26 07:19] andersborgabiro commented on #350
No problems so far with uninstalling, but right now done on devices lower than Android 8.

[2018-07-26 07:20] andersborgabiro commented on #330
Advertising works on Android too, if the device supports it. That's been an issue before.

[2018-07-26 07:56] ChristianMarkert commented on #387
@petermetz Dear Peter, would you be available for a quick direct support
question in regard to the usage of listeing to multiple iBeacons with your
plugin? Thanks for your support. Christian.

[2018-07-26 16:26] petermetz commented on #387
@ChristianMarkert Sorry, I don't have the capacity for any consulting at the moment. I wish I could help!

[2018-07-26 16:28] petermetz commented on #330
Note to self: make sure the README clarifies the above.

[2018-07-26 16:52] andersborgabiro commented on #330
Sony Xperia L1 / Android 7 (right) transmitting to an iPhone 7 iOS 11.4.1 (left).

![sam_3439 cs](https://user-images.githubusercontent.com/1548064/43276303-88313366-9104-11e8-9c66-10549f6dabdc.JPG)

The advertiser app is free on Google Play, if anyone's interested.

[2018-07-26 16:55] p-sebastian commented on #330
Yes advertising is working on android, it just the docs mentions otherwise like @petermetz mentioned above. Still thanks for the clarification @andersborgabiro, forgot about this post once I got it to work.

[2018-07-26 17:01] dopry commented on #387
@ChristianMarkert, feel free to reach out to me via opportunities@spry-group.com

[2018-07-26 17:04] dopry commented on #387
@petermetz, maybe @jcmurray would be willing to yield the namespace. I'll reach out.

[2018-07-26 17:08] andersborgabiro commented on #330
And I didn't notice how old this post was :).

[2018-07-26 17:10] dopry commented on #387
@petermetz  I'm going to spin of some new issues to keep various discussions on topic.

[2018-07-26 17:20] dopry opened #390 "standardize namespace to install and remove beacon."
Please include the following to help us address your issue.

1. Expected behavior and actual behavior.

I expect to use the same name to install and remove a plugin.

2. Steps to reproduce the problem.
[code]

We've proposed a few possible names starting at https://github.com/petermetz/cordova-plugin-ibeacon/issues/387#issuecomment-408155427 including

* cordova-plugin-proximity

   @dopry has con

[2018-07-26 17:26] dopry opened #391 "Migrate to TS or ES6"
It would be nice to improve our JS and get better IDE support and syntactic sugar. TS is the first choice for tooling support. @dopry is concerned about introducing the build complexity that comes with transpiling.  @petermetz  is going to consider.

all parties agree it would be wise to have unit testing in place before either conversion.

[2018-07-26 17:28] dopry opened #392 "Automate NPM releases"
1. Expected behavior and actual behavior.

    When a release is tagged in GitHub, CircleCI should run tests and deploy the release to NPM.  Currently, releases are created manually.

[2018-07-26 17:31] dopry opened #393 "Review Ionic Native Compatibility"
1. Expected behavior and actual behavior.

Ionic Native should be in sync with our releases. The API may change when we migrate to [TypeScript](https://github.com/petermetz/cordova-plugin-ibeacon/issues/391), and there may be some new features already in the project that have deviated from Ionic Native's typings and wrappers.

We should do a manual review for now, it would be interesting if there

[2018-07-26 17:32] dopry opened #394 "Update quickstart repo"
We should update our quickstart code and ensure it provides a good example for consumers to use all the APIs and all the features available in the APIs.

[2018-07-26 18:33] petermetz commented on #297
Note to self: add the above info to the FAQ/README somewhere.

[2018-07-30 19:22] halindrome commented on #350
@petermetz thanks for adding the tag. I note that it does not follow your usual pattern of starting with a 'v' however.  Might confuse some people.

[2018-07-30 20:35] petermetz commented on #350
@halindrome Yes! Thank you for pointing that out! We need more automation to eliminate these silly mistakes.
Created a new tag, this time with the right name.

[2018-08-03 19:59] giladrom opened #395 "Beacon scanning on Android after app is killed/long time in background"
The plugin works as expected on iOS - however, after testing the latest release using multiple Android versions (7.x, 8.0 and 8.1) it seems  as though there is no scanning when the app is in the background
for more than a few minutes/killed using the task switcher.

I've looked over the numerous threads here and there doesn't seem to be a definitive answer to this basic question - will this actual

[2018-08-03 20:17] petermetz commented on #395
@giladrom My last Android device gave up on life so I can't really test this at the moment, but I can definitely give you advice which is still not a definitive answer, but it kinda is at the same time:

If the underlying [native Android library](https://github.com/AltBeacon/android-beacon-library) supports it then it should definitely work through this plugin as well.
So, if `AltBeacon` can do it

[2018-08-03 20:21] giladrom commented on #395
@petermetz Thanks, I'll try!

How can I make sure that I'm using the latest Altbeacon? cordova-plugin-ibeacon.gradle has:

[code]

Which I assume is the latest version that should work.

[2018-08-03 20:43] petermetz commented on #395
@giladrom You are tied to the version that the plugin pulls in by default (which for now should be the latest, but that always changes as new versions of AltBeacon are released). For the sake of testing, you should be able to manually change the version in gradle file (when a newer version of AltBeacon comes out) but that's not recommended outside of case-by-case testing because whenever you re-in

[2018-08-07 11:36] akimakitalo opened #396 "Request: Change/disable plugin location access popup"
Hi

Would it be possible to add optional plugin variable to change and/or disable the popup on startup that requests location access?

I am not referring to the system message, but rather to the popup created by this plugin.

![locationaccessrequest](https://user-images.githubusercontent.com/42174636/43773378-34dbad24-9a4e-11e8-9fa8-a5c419f67e33.png)

I would prefer to be able to change/disable th

[2018-08-07 14:55] JBrown313 opened #397 "Beacons randomly disappear"
Hello

The plugin works as expected, except the ranging randomly stops anywhere after 12 to 40 seconds. Here is an example from my Xcode console:

[code]

Is anyone else having this problem? Testing this on an iPad Air (iOS v11.4)

cordova-ios version: 4.5.4
cordova-plugin-ibeacon: 3.6.1

[2018-08-07 23:31] petermetz commented on #397
Hi @JBrown313 Just to make sure it's not something with the beacons/device specifically, please make sure to check the following:
- Does it work with a different app that is considered stable (Like the Locate app or any other one out there on the app stores)
- Does it work on a different device?

[2018-08-08 09:03] eric-zeng commented on #395
I'm curious whether background scanning is failing on Android because of changes made in Android 8. According to these links, Android 8 will kill apps in the background after 15 minutes, so if you want to continue monitoring for beacons, you have to use JobScheduler to run it as a background job, which only triggers every 15 minutes or so.

https://altbeacon.github.io/android-beacon-library/batter

[2018-08-08 17:46] petermetz commented on #395
@eric-zeng Thank you very much for that information, I wasn't aware of this new feature in 8.x at all. I'm kinda sloppy with keeping up with the new releases nowadays.

cc: @dopry

[2018-08-08 18:08] dopry commented on #395
I'll dig into this this weekend. I do know about the Android 8 changes, but my understanding is AltBeacon handles those implementation details for us. @eric-zeng, can you use adb to see if the JobScheduler is working?

[2018-08-08 18:11] giladrom commented on #395
@dopry that was my understanding as well - thats why I thought I was missing something, since I have 3 devices and none of them are scanning.

[2018-08-08 19:19] eric-zeng commented on #395
Just looked into how AltBeacon handles the Android 8 changes; it looks like they have implemented an API that abstracts over JobScheduler, but it needs to be explicitly invoked by the BeaconManager's user:
[edit: it might not need to be explicitly invoked, it says it is enabled by default for Android 8+]

https://github.com/AltBeacon/android-beacon-library/blob/6a7ac2cf7930ec8399a92c31c0948796f710

[2018-08-08 20:33] giladrom commented on #395
@eric-zeng If you can let me know what to look for, I will do this later today.

[2018-08-08 20:37] eric-zeng commented on #395
I think you'll want to use the logcat filter ```ScanJob:I```, as shown in this article, in section "The New Way: Periodic Detections"

http://www.davidgyoungtech.com/2017/08/07/beacon-detection-with-android-8

The logs look like this:

[code]

[2018-08-09 06:17] giladrom commented on #395
Ok so I see these every 5 minutes, even if the app is killed:

[code]

However, doesn't seem like anything is being discovered.

[2018-08-09 17:04] giladrom commented on #395
@petermetz Is the ScanJob supposed to wake up the app with the list of beacons? There's no other output that would suggest that in LogCat.

[2018-08-09 18:53] petermetz commented on #395
@giladrom

Yes, that was my understanding as well.
The fact that no other log shows up in LogCat means to me that it's not an issue with the plugin, probably not even with `AltBeacon` since that appears to be doing it's job as well (unless the ScanJob has a bug and the logs are meaningless, but I doubt that).
I'll try to get my hands on an Android 8.x device later just so that we have more data wi

[2018-08-09 18:55] giladrom commented on #395
@petermetz I have one here and access to several more - let me know what I can do to help out and I'll be happy to send detailed logs.

[2018-08-09 20:50] petermetz commented on #395
@giladrom More detailed logs would be good, yes. In your current logs I can't see the messages generated by this line of code in the ScanJob. Would be good to verify if there are scan results in the queue at all when it stops working (and how many were there before the 5 minute mark when it was still doing okay)

https://github.com/AltBeacon/android-beacon-library/blob/master/src/main/java/org/alt

[2018-08-10 01:16] giladrom commented on #395
@petermetz the log was on VERBOSE and there were no other lines related to the scan - thats why I found it odd, since when the app goes into the foreground all of the beacons are detected immediately.

[2018-08-10 01:34] giladrom commented on #395
@petermetz here are all the logs I get after manually killing the process from the android task switcher:

[code]

Also getting these errors every few seconds, not sure if related:

[code]

[2018-08-10 19:02] petermetz commented on #395
@giladrom That last error turns out to be bad news :-(
https://stackoverflow.com/a/46386224

[2018-08-10 19:11] giladrom commented on #395
@petermetz Looking at the stack overflow discussion, it appears that this only happens sometimes? I will try to toggle bluetooth on the phone and see if I can make it go away.

[2018-08-10 19:16] petermetz commented on #395
@giladrom Also would be interesting to see if your other devices also suffer from `CycledLeScannerForLollipop` and if some of them aren't then the detailed logs from that device could be a next step in the debugging process.

[2018-08-10 19:19] giladrom commented on #395
@petermetz I can say for sure that each and every one of my testers (I have probably >30 using different Android devices and versions) are not performing scanning in the background at all. I will check my local devices for the error and if I can make it go away.

[2018-08-12 05:46] giladrom commented on #395
@petermetz some more logs, CycledScannerForLollipop error isn't showing up anymore:

Used a regex to filter out the most relevant logs in Verbose mode - but still can't see any scan results. Do you have an example of

[code]

[2018-08-12 20:48] giladrom commented on #395
@petermetz I can confirm that the ```CycledLeScannerForLollipop``` error doesn't occur regularly. It was probably just a random error that went away.

However, I still can not get alt beacon to find beacons while scanning in the background, although I do see the scheduled scans happening in LogCat.

Did you ever test this functionality yourself? Can you confirm it has worked in the past? My device

[2018-08-13 13:29] dopry commented on #395
I have had intermittent success with 8.x background scanning.  My test case
was displaying a local notification when a didDetermineState event was
emitted.

On Sun, Aug 12, 2018, 4:48 PM xenospn <notifications@github.com> wrote:

[2018-08-13 19:01] giladrom commented on #395
@dopry Thats' better than no success at all! I'm probably doing something wrong, although I can't seem to find anything. Can you describe your setup and how the testing was performed? Maybe we can try and replicate it.

[2018-08-14 16:02] dopry commented on #390
@petermetz  I've been in discussion with https://twitter.com/timothywindsor and @jcmurray. It looks like they're graciously willing to yield the cordova-plugin-beacon namespace on npm.  I'll coordinate with them to get both of us added as owners. Then we can begin the internal name change process.

[2018-08-14 17:09] petermetz commented on #390
@dopry You are awesome, thank you!

[2018-08-22 02:45] giladrom commented on #395
@petermetz Would it help if I sent you an Android 8.0 device for testing?

[2018-08-23 10:02] miguelonga opened #398 "Beacons works different on Android and iOS"
I used this plugin to detect some beacons near a user and it's working and i'm so grateful. Without this plugin i couldn't be able to develop this functionality.

I want to open this issue in order to know if there is someone having the same problem: With the same code for both platforms the behavior is different.

My test are very clear. On Android it spends 10 times more than in iOS. I've tested

[2018-08-25 14:57] petermetz commented on #398
Hi @miguelonga
Yes, the two platforms can be very different. Android can vary device to device (Apple too, but it's less likely).
You can tune certain things on Android like the scanning interval. Have look at the FAQ for an example.

[2018-08-25 14:57] #398 closed, assigned to petermetz

[2018-08-25 15:08] petermetz commented on #395
@giladrom That would help me for sure, but may not help you at all. What I would do with your device is confirm with the quickstart repo whether it works or not on the device you sent. I'd do so by checking the native layer logs to eliminate the possibility of a bug in the plugin itself corrupting my test case. Once I have those results, based on them I'll either tell you that it works and the iss