[2018-08-25 17:19] giladrom commented on #395
@petermetz Hopefully it's not something with the OS/Device itself, since I have the same code running on over 60 devices with different Android versions :)

[2018-08-27 09:43] miguelonga commented on #398
Hi @petermetz do you mean this question specific?

This is the only one related with my question, but if default value is 0 i don't think that make it bigger will work.

[2018-08-27 16:50] petermetz commented on #398
@miguelonga The default is kind-of misleading, it's not really scanning every zero milliseconds (infinite speed). From the plugin's perspective the zero default means that it's not set to be customized so the default of AltBeacon will be used instead (which I think is 5 seconds).
Good that you asked about this because that FAQ definitely needs to be clearer on this.

[2018-08-27 19:59] giladrom commented on #395
@petermetz Whats your email? can't seem to find it.

[2018-08-28 01:30] petermetz commented on #395
@giladrom You can email to this one: github at sign unarin.com

[2018-08-28 17:47] giladrom commented on #395
@petermetz done.

[2018-09-10 00:57] rimichoi commented on #396
https://github.com/petermetz/cordova-plugin-ibeacon/issues/292#issuecomment-329706188

try this!

[2018-09-12 21:11] slayer35 opened #399 "Beacons array is empty in didRangeBeaconsInRegion event in ionic ios app"
Im using ionic native ibeacon library to detect beacons.I can detect beacons with android but when I try in ios ,i always see an empty beacon array. I tried these things ,but still cant see the beacons in ios (device is iphone 6s plus 11.4.1) (bluetooth service is enabled on device)

- I tried both requestWhenInUseAuthorization and also requestAlwaysAuthorization.

- I add NSLocationAlwaysUsageDes

[2018-09-14 20:57] petermetz commented on #399
@slayer35 Can you check if it works with the [quickstart repo](https://github.com/petermetz/cordova-proximity-quickstart)?

[2018-09-14 20:57] #399 closed, assigned to nobody

[2018-09-17 21:59] dylanvdmerwe commented on #395
Any news on this? Are there any logs I can provide?

I'm struggling to get a local notification to show after an Android app has been killed using the latest version of the plugin.

[code]

Running on a Pixel 2 XL on Android 9.0.

[2018-09-17 22:20] dylanvdmerwe opened #400 "Update altbeacon lib"
Are we able to release a new version with latest altbeacon lib? (2.14 -> 2.15.1)

Has some fixes related to Android crashes that look beneficial.

[2018-09-18 21:32] halindrome commented on #393
On a related note, there is a problem with the ionic native plugin and ionic v4:  https://github.com/ionic-team/ionic-native/issues/2631

I am working on a PR since this is critical path for us.

[2018-09-23 06:10] giladrom commented on #395
@petermetz Any news?

[2018-09-28 09:55] crawft commented on #397
I know this is a bit vague, but I'm seeing similar behaviour. I'm developing an app for android and iOS that monitors a small collection of beacons for an exhibition. On Android, all are seen as expected; on iOS (11.4.1 on an iPhone 5s) it's as though only those beacons seen when monitoring is started continue to be ranged, new ones coming into range aren't picked up.

I'm looking at the logging f

[2018-10-01 13:53] petermetz commented on #395
It does not seem to work for me neither. The app is not being woken up at all if a monitored beacon comes into proximity.
@giladrom @dylanvdmerwe : I don't know if this is a new requirement or if it's always been like this, but have you made sure to comply with what is being asked here to allow the launching of the app into the background? https://altbeacon.github.io/android-beacon-library/samples

[2018-10-01 15:23] petermetz commented on #400
Yes we are.
PRs are welcome too, as always. ;-)

[2018-10-01 16:29] dylanvdmerwe commented on #395
@petermetz I will submit a repo that we can hopefully use going forward to test this background issue on iOS and Android (and may help with the quickstart app).

[2018-10-01 19:49] dylanvdmerwe commented on #395
@petermetz see my repo [here](https://github.com/dylanvdmerwe/ibeacon-test).

 - Works on iOS and Android
 - Does not use ionic native (reducing dependencies to try and get background functionality working)
 - Bluetooth logic lives in a provider to isolate from page components

The goal is to:
 - Try and get the javascript code to run in three states: open (working), background not killed (working

[2018-10-01 22:23] giladrom commented on #395
@petermetz I have spent all last weekend going over everything in-depth, since I can't afford to wait for a solution any longer. Here's what I came up with:

1. On iOS, the library works perfectly fine. It will wake up the app even if it's been terminated or if the phone has been restarted, and the Ionic/TS/JS code will run in the background just fine until it's terminated by the OS, and the proce

[2018-10-02 05:33] petermetz commented on #395
@giladrom @dylanvdmerwe

It used to work and at this point I'm guessing it's still possible to make it work with the changes I was referencing above.

[2018-10-02 05:35] giladrom commented on #395
@petermetz @dylanvdmerwe Even if it does work - Android apparently blocks network calls from Hybrid apps in the background, so the usability is severely limited.

[2018-10-02 15:05] dylanvdmerwe commented on #395
It would be great if this works on both platforms. @petermetz if you can provide an example config to use I will happily test it out as well.

@giladrom  I cannot get any event to fire while the app is closed. How did you get this working on iOS even? https://github.com/dylanvdmerwe/ibeacon-test/blob/master/src/providers/ibeacon-manager/ibeacon-manager.ts

[2018-10-02 15:50] petermetz commented on #395
Can you link to a source on that? I wonder how an app gets classified as a hybrid app. If it's just that they don't let WebView's execute XHR in the background, then that should be easy to work around with a Cordova plugin designed to execute HTTP requests in the Java layer (there's probably several out there)

[2018-10-02 16:13] giladrom commented on #395
@petermetz Just my own experience with trying to get this app to work in the background  - whenever I go back to the main phone screen or switch to another app, network calls simply fail silently. Since I used the firestore SDK, I had to make a HTTP-to-firestore bridge server thats external to the app, and issue HTTP calls from the java layer.

[2018-10-02 16:14] giladrom commented on #395
@dylanvdmerwe What beacon are you using? Can you see it with other iOS beacon-detecting apps?

[2018-10-02 21:24] dylanvdmerwe commented on #395
@giladrom can you share some code to show your monitoring logic that works in the background? I want to compare to [mine](https://github.com/dylanvdmerwe/ibeacon-test/blob/master/src/providers/ibeacon-manager/ibeacon-manager.ts) to see if I have done something wrong.

Other apps do detect the beacons I have with me yes.

[2018-10-03 01:04] giladrom commented on #395
@dylanvdmerwe Beacon scanning doesn't actually happen in the background at all times. iOS simply wakes up the app whenever the screen turns on with a list of beacons in the region. It will not continue scanning after the phone goes back to sleep, unless the region has changed (exit/enter events triggered).

[code]

[2018-10-03 09:10] crawft commented on #397
Just to follow up on this - by testing with other iOS beacon scanning apps I realised 2 of my (kontakt.io) beacons were only being detected by the kontakt.io app, and not mine or other beacon scanners. They didn't have any material difference in configuration, but I made small changes and updated them, then they started to appear. So no issue for me, and don't rule out some issue with your beacons

[2018-10-05 01:35] joeldhenry opened #401 "[Feature] Beacon Notifications"
provide support of local push notifications upon enter/exit location while app is shutdown/in background.

Regards,
Joel

[2018-10-06 00:16] petermetz commented on #395
@dylanvdmerwe Looking at your code I don't think the answer is `yes` to my earlier question. Can you clarify?

[2018-10-10 20:49] afshawnlotfi opened #402 "[Feature] Android support for advertising"
In Android 5 there is support for broadcasting Android devices as beacons. I was wondering if this feature was in the Backlog otherwise I'll fork this project and add that in.

[2018-11-01 17:54] andersborgabiro commented on #402
I use this library and advertising works on Android too.

[2018-11-05 03:41] afshawnlotfi commented on #402
Hi thank you for getting back. I ended up just using the BLE library because you can do more than just broadcast a UUID.

[2018-11-05 03:41] #402 closed, assigned to nobody

[2018-11-05 11:25] slayer35 commented on #336
I'm using with ios ,but I cant listen beacons when app goes background or device goes sleep mode.I already added NSLocationWhenInUseUsageDescription descciprtion.Can you detect beacons when your app is in background or device goes to sleep.(ios ) Thanks

[2018-11-13 11:51] aejo3aejo3 opened #403 "ionic4 unable to detect beacon with ionic sample code"
cordova-android version :  7.1.2
plugin ibeacon version : 4.17.0

Although I followed the step in ionic beacon documents with sample code, android/ios devices could not detect any beacon.

Android device
Nexus5 , android 8.1.0 .
android sdk version  27

I'm very sure the device got the location permission. I checked the log in android studio, it seems that "delegate.didRangeBeaconsInRegion" and "d

[2018-11-20 09:23] jarekskuder opened #404 "Advertising doesn't work in background iOS"
Hi, I'm trying to advertise my app as iBeacon, everything works well with Android (it works in foreground and background as well), but in iOS it doesn't work in background.

Here is my code:

       cordova.plugins.locationManager.requestAlwaysAuthorization();

        var uuid = '588490E5-2884-4046-9F2B-78FFE47C796A';
        var identifier = 'TEST';
        var minor = 1000;
        var major =

[2018-11-25 19:11] kurtommy commented on #184
HI @petermetz here you have an example of not working plugin
https://github.com/kurtommy/ionic-ibeacon-broken

i've created new app from scratch with the CLI (ionic version 4)
then followed steps found here
https://beta.ionicframework.com/docs/native/ibeacon

but i have in console
`ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'locationManager' of undefined`

[2018-12-05 23:18] halindrome commented on #400
I am going to prepare a PR for this.  However, I am confused about what to patch against.   v3.x seems like the right branch, but it says the version is 3.6.1 and there is a tag for 3.7.0.   Help @petermetz ?

[2018-12-07 22:00] yesman99 commented on #395
I was struggling long time and now I think I found a way.

https://github.com/silkimen/cordova-plugin-advanced-http#readme
I changed to use this plugin to post, and look like it worked.

[2018-12-07 22:03] giladrom commented on #395
@yesman99 That might allow the app to work in the background for a little while, but there's native code changes required to make Altbeacon run a service in the background even after the phone has restarted or the app was killed.

[2018-12-20 09:56] kurtommy commented on #403
same here! is not working on ionic 4, related issue here https://github.com/ionic-team/ionic-native/issues/2631

[2019-01-08 17:49] stevenatciklum commented on #404
@jarekskuder Running into similar issues... were you able to resolve anything?

[2019-01-09 13:35] xam8re commented on #362
i think he means this:
` final AlertDialog.Builder builder = new AlertDialog.Builder(activity);
            builder.setTitle("This app needs location access");
            builder.setMessage("Please grant location access so this app can detect beacons.");
            builder.setPositiveButton(android.R.string.ok, null);`
not the standard android message.
It should be put in Manifest (with a defaul

[2019-01-16 10:08] bitforcesrl commented on #403
@petermetz Hi peter can you check this issue please? it the plugin is not working on ionic 4

thanks

[2019-01-19 10:12] ghost opened #406 "iOS 12.1.2 Bug: No longer able to fetch and display data when running on an iPhone 8 Plus upgraded to iOS 12.1.2 when connected via 2.4 GHz WiFi"
I have an ionic 3 app I am developing that had been working as expected on my iPhone 8 plus until I upgraded to iOS 12.1.2. The problem only occurs on my iPhone 8 Plus when connected to 2.4GHz WiFi. If I connect to 5GHz WiFi, or turn off WiFi and only connect via cellular, the app works as expected. This is 100% repeatable scenario.

Also, I have seen if I just let the app sit there trying for awh

[2019-01-22 21:02] bitforcesrl opened #407 "is this project maintained anymore?"
This plugin is not working on Ionic 4, me and others opened an issue but with no response.

I'm wondering if this project is still maintained by @petermetz

thanks

[2019-01-25 07:11] MASP3000 commented on #184
I have the same problem. I had an App with Ionic V3 and I created a new one with V4. All plugins work as before except iBeacon.

Here is the error:
ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'locationManager' of undefined
TypeError: Cannot read property 'locationManager' of undefined
    at index.js:96
    at IBeacon.push../node_modules/@ionic-native/ibeacon/ngx/index.js.I

[2019-01-28 05:48] thrinasco commented on #184
let me know if you find any solution.Please

[2019-01-28 07:07] MASP3000 commented on #407
I am wondering that as well...

[2019-01-29 07:27] saty932 opened #408 "how can i modify the values for backgroundscan period and in btw scanperiodtime for ios ?"
I want to know how can i modify the parameters for ibeacon ios like foregroundscanperiod and backgroundscanperiod and inbetweentime in ios??

[2019-01-29 07:39] saty932 opened #409 "Did exit doesn't trigger for ios with major and minor null??"
How does exit region works for ios when we give only uuid and major and minor as null.I placed two beacons i am getting didenter fine only didexit i didn't get. as of my knowledge whenever didenter trigger for other uuid it should trigger exit for previous uuid but right now I am not getting?How does this plugin works in background does it scan whole time in background or periodic scan if it is pe

[2019-01-29 07:40] giladrom commented on #408
These don’t apply on iOS. Only on android.

Sent from my iPhone

[2019-01-29 07:44] saty932 commented on #408
@giladrom
Thanks for reply.do you know the current behaviour??I mean how much time is gonna scan in background and sleep time and all??Right now didenter triggers very late even though i am in region for long time

[2019-02-01 12:40] EdByrnee commented on #407
I am also wondering ...

[2019-02-02 16:05] EdByrnee opened #410 "Not detecting when app closed and Ionic 4 issues"
This plugin currently does not work with v4 of the Ionic Framework.

Using the plugin with Ionic v3 can be achieved in foreground and background but detection of iBeacons will stop when the app is closed.

[2019-02-04 22:20] elTigre9 commented on #393
Any news on this? Working on a project, and I'd love to NOT do two separate projects (iOS & Android).

[2019-02-04 22:20] elTigre9 commented on #403
Any news on this? Working on a project, and I'd love to NOT do two separate projects (iOS & Android).
I'm also thinking of working on a plugin in Swift. If that's successful, I'll share.

[2019-02-05 08:40] giladrom commented on #407
I don't think so - haven't heard from @petermetz in a few months. I think it's safe to say he's moved on.

[2019-02-05 10:51] EdByrnee commented on #304
Did you

Did you manage to get the app monitoring iBeacons when app was closed?

[2019-02-17 02:22] tommasorossi commented on #151
@andersborgabiro Hi, i'm not able to find this const WILDCARD_UUID anymore, do you know which value it contained?
many thanks

[2019-02-17 10:58] andersborgabiro commented on #151
In BeaconRegion.js: BeaconRegion.WILDCARD_UUID = {};

Note though that this won't work on iOS. UUID needs to be defined there. Also, earlier there was a bug triggering an exception if UUID wasn't set even for Android. Maybe that was fixed.

I ignored this entirely, and only use specified UUIDs for both iOS and Android.

[2019-02-26 10:15] jeremyTyriaux commented on #404
same here...

[2019-03-08 14:19] nevertheless75 commented on #395
I'm also running into several issues with beacon monitoring on Android 8+.

Are there any news on this? @petermetz are there any plug-in updates planned?

[2019-03-19 13:28] mkyukov opened #411 "Unable to automatically install plugin when adding cordova-android@8.0.0"
Please include the following to help us address your issue.

1. Expected behavior and actual behavior.
That the plugin gets automatically added from the **config.xml** file when adding the android platform, without adding it manually with a cli command.
2. Steps to reproduce the problem.
- Create new project using **cordova-cli**.
- Add the plugin using the command
[code]
- Delete the **plugins**

[2019-04-03 11:46] emoonadev commented on #233
Thanks work for me

[2019-04-09 13:07] halindrome opened #414 "Parsing a different frame type"
THIS ISN'T A BUG.  It's just a question.

We have some beacons that advertise iBeacon format, and that works very well.  They also advertise Eddystone TLM and other manufacturer packets, and I would like to parse those as part of the same processing loop.  And I would like this to work on Android AND on iPhone.

It seems to be that it would be ~trivial to add parsing of an alternate frame type to

[2019-04-25 14:39] ashishg-dev commented on #233
@cgewecke Your solution worked for me. Thanks!

[2019-04-29 16:51] AntonioJDios commented on #292
How I can modify the java code of the plugin and then see the result in my app? I'm developing a Ionic v3. And I just want to modify the prompt permission request.

thanks.

[2019-05-09 22:57] aircable opened #417 "startAdvertising on Android does not honer MeasuredPower parameter"
Looking through the source code, the measured power parameter is set
to a default value and the parameter for startAd is ignored. (line 1184)
I work on Android 8 and iBeacon advertisement is indeed working.

Before I create a pull request, just a quick check on the changes I want to propose.
Please let me know if this makes sense:

in LocationManager.java, line 1169 I add:
[code]
and use it later

[2019-05-10 22:36] aircable commented on #417
This is the code tested and working. Here is the diff for LocationManager.java:
[code]

[2019-05-11 23:01] petermetz opened #419 "Write documentation for ARMA filters"
This PR introduced the support, but it's undocumented as of right now:
https://github.com/petermetz/cordova-plugin-ibeacon/pull/415
Make sure it is known that it's Android only and how can it be turned on via config.xml

[2019-05-11 23:19] petermetz commented on #414
@halindrome I've been out of the loop, didn't know AltBeacon now has iOS support as well. If it does, I like the idea of leveraging it for this plugin on iOS as long as feature parity can be achieved.
If feature parity cannot be achieved then we could just do a full swap, I don't mind approving a PR like that.
If feature parity is impossible (which is my guess) then the two could maybe co-exist to

[2019-05-11 23:20] petermetz commented on #414
Closing it, but of course the conversation can keep going on the thread.

[2019-05-11 23:20] #414 closed, assigned to nobody

[2019-05-11 23:20] #417 closed, assigned to petermetz

[2019-05-12 00:31] petermetz commented on #407
I have very little time to work on the project, but am always on the lookout for people who are willing to step up and contribute a couple PRs here and there.

[2019-05-12 00:31] #407 closed, assigned to nobody

[2019-05-12 16:40] mpadmaraj opened #420 "Uncaught module com.unarin.cordova.beacon.underscorejs not found"
Please include the following to help us address your issue.

1. Expected behavior and actual behavior.
After installing this plugin, when I launch the app I see this in logs `05-12 21:32:35.469  5144  5144 D SystemWebChromeClient: file:///android_asset/www/build/polyfills.js: Line 3 : Uncaught module com.unarin.cordova.beacon.underscorejs not found`
2. Steps to reproduce the problem.
Run cordova p

[2019-05-12 19:45] petermetz commented on #419
https://github.com/petermetz/cordova-plugin-ibeacon/pull/421

[2019-05-12 19:45] #419 closed, assigned to petermetz

[2019-05-12 19:47] petermetz commented on #420
I think I messed up the release yesterday by modifying the id in plugin.xml, v3.8.1 hotfix is coming soon and that should make it work again.

[2019-05-12 19:55] petermetz commented on #420
@mpadmaraj Please try again with version 3.8.1 and let me know if it works. If it doesn't then also try a full reinstall of the plugin (remove+install).

[2019-05-12 19:55] #420 closed, assigned to petermetz

[2019-05-13 03:37] mpadmaraj commented on #420
Working like a charm!!!! Thanks a lot @petermetz !!!!!!

[2019-05-14 15:11] dancuconati commented on #395
Any update on this? @petermetz

[2019-06-03 15:11] LeoUbl opened #423 "Ranging beacon after advertising"
Hi, I'm new on Github, sorry for bad code styling, if I miss something tell me. I'm using your plugin for advertising and ranging beacons. I've noticed that after advertising a beacon, the ranging seems not to work, while if ranging is the first action it works as expected. If I find beacons in the region I use notifications to show the major and minor of the beacon. I'm developing the app also wi

[2019-06-05 13:55] LeoUbl commented on #423
Well, I've solved the problem by myself. The code I used was from a demo app that uses your plugin but it isn't reliable for my specific application. So I removed $ionicPlatform.ready{...} and $rootScope.$on("$cordovaBeacon:didRangeBeaconsInRegion", function(event, pluginResult) {...}, then I used the delegate.didRangeBeaconsInRegion to range the beacons so now ranging works even after advertising

[2019-06-05 13:55] #423 closed, assigned to nobody

[2019-06-07 08:04] LeoUbl opened #424 "Disable request popup for location permission"
Hi, can someone make possible to add a new preference in the config.xml so that the popup "This app needs location access. Please grant location access so this app can detect beacons." doesn't show up? I'm ok with the os asking the permission on the first open of the app, but I'd like to hide the popup described before. I see you recently added a similar feature for the bluetooth request so I thin

[2019-06-13 20:36] cagb80 commented on #247
I tried everything... we need to install Background Plugin

[2019-06-13 20:43] giladrom commented on #247
@cagb80 This works out of the box on iOS. In Android, you will need to write native code.

[2019-06-13 20:44] cagb80 commented on #247
I tried in both... is running like a Charm...
Im using Ionic 4.12.0

[2019-06-13 20:45] giladrom commented on #247
You will not be able to submit your app to the app store if using this plugin, FYI.

[2019-06-13 20:47] cagb80 commented on #247
Jum... Why tell me about!

[2019-06-19 19:34] dogofpavlov opened #425 "Starting/Stopping on Android sometimes yields no results."
I'm having an issue on Android. When I start scanning and then stop... and then start again... sometimes there are no results that come through the "didRangeBeaconsInRegion" handler. I'm seeing no errors upon starting in the fail handler, and the done handler is firing. This seems to happen like 10% of the time when I go back and forth between starting/stopping.

Do you know what could cause the s

[2019-07-17 18:00] dogofpavlov opened #427 "iOS Disable Bluetooth Permission Popup at start of the app."
I noticed there was a recent commit for Android to disable the bluetooth permission that launches into your face right when the app starts and lets you manually do it later.

Is there any way to do this on iOS? Right now you can't control it and it appears as soon as the app runs.

kinda frustrating that the very first thing someone will see when they run my app for the first time is an in your fa

[2019-08-08 06:37] khayargoli opened #428 "Phonegap build for android failed (Using target sdk 28)"
Hi,
I am using the latest version of this beacon plugin. version:
config.xml has:
`<plugin name="com.unarin.cordova.beacon" spec="https://github.com/petermetz/cordova-plugin-ibeacon.git" />`

And this is my configuration for phonegap build:
**cli-8.1.1 (7.1.2 [Android])**

Below is my log for the error:
`Build Date: 2019-08-07 23:25:42 +0000
--------------------------------------------------------

[2019-08-09 12:44] #428 closed, assigned to nobody

[2019-08-14 08:41] klante commented on #424
Hi, has someone a solution to this? It is ok that i asks ones, but i you says no, it continues to show the "please grant..." , and makes the plugin useless.  I'm using Cordova so i can change the code, I just dont know where to change it.
Please help.

[2019-08-19 10:40] khayargoli commented on #424
Hi guys,

I have this same question. Does the plugin have some options to hide / remove the messages and location access permission ?

I would love to know.
Thanks!

BTW: The docs are not helping much.

[2019-08-28 07:04] mgrubinger commented on #424
Here's what I do when using this plugin: https://github.com/petermetz/cordova-plugin-ibeacon/issues/292#issuecomment-329706188

Maybe that helps.

[2019-08-28 07:07] khayargoli commented on #424
@mgrubinger thanks for your help but I am looking for an option from the plugin itself as I cannot modify the plugin code because I am using build.phonegap.com for my build.

[2019-09-10 08:53] ghost commented on #406
A later version of iOS 12 resolved the issue so Apple must have figured out that they had a hardware related bug and fixed it.

[2019-09-10 08:53] #406 closed, assigned to nobody

[2019-09-10 09:33] ghost commented on #427
I agree completely @dogofpavlov this is a very frustrating bug/oversight that renders the plugin pretty much unusable for a consumer-facing iOS app which is what I am trying to launch!

I was shocked to see that the iOS permissions request dialog pops up immediately upon the initial app install and run before the user has even seen the first screen of my Ionic 3 based app. I thought I was doing so

[2019-09-10 20:41] ghost commented on #427
https://techcrunch.com/2014/04/04/the-right-way-to-ask-users-for-ios-permissions/

[2019-09-30 07:28] khayargoli commented on #427
`<preference name="com.unarin.cordova.beacon.android.altbeacon.RequestBtPermission" value="false" />`
Is this configuration shown on readme file only for ANDROID ?..
Also, Why cannot we also disable permission for location when startup of app (only on android right now, appears right on the start)

[2019-09-30 11:16] eduboxgithub commented on #395
Any news regarding the beacon detection on the background (app closed)?

I have implemented the beacons integration on my app. It works when the app it's in foreground, in the background, but not when it's been terminated.

In my app a can have two possible workflows:

- Detect a beacon (OnEnter or OnExit Event);
- Make and HTTP request;
- Send a local push (with the response data from the HTTP re

[2019-09-30 16:24] giladrom commented on #395
In order to scan for beacons in the background (on Android, iOS works fine), you will need to add your own native implementation (the plugin does not support that).

See https://stackoverflow.com/questions/26609519/android-altbeacon-background-service-ranging

[2019-10-01 11:53] khayargoli opened #429 "Calling cordova.plugins.locationManager.enableDebugNotifications(); does not produce any notifications either in foreground / background."
[code]

I am using the code like above, my code run successfully and monitoring / ranging both have been used and working properly. I wanted to get notifications to help me during background detection. So far did not get any notifications, I am running them on Android 9 and iOS 13.1

Let me know if I should put my whole code.

Thank you.

[2019-10-03 12:00] Mahamutha opened #430 "'Cordova' is not defined"
I am new to this ionic framework and cordova plugin. I am trying to build an application to read the given iBeacon module. I have followed below steps,

[code]

the response of above command is,

[code]

and I have added the required ion-content, angularJS wrapper in index.html, and the required functionalities in style.css  which has mentioned [here](https://www.thepolyglotdeveloper.com/2015/09/s

[2019-11-09 08:48] dec opened #431 "[Solved] The app crashes (don't start) in iOS 13.2.2"
Hello to all,

First of all, thanks for the work in this plugin. We have a problem with our app in iOS 13.2.2: the problem cannot be reproduced in the emulators, but, in real devices, the app refuses to start and its killed by itself once the splash screen is gone.

Apparently the plugin uses the "NSBluetoothPeripheralUsageDescription" string, which has been deprecated in iOS 13.2.2, so, the new "

[2019-11-13 09:02] saxovic opened #432 "Method requestAlwaysAuthorization does not work as expected"
1. Expected behavior and actual behavior.
Method requestAlwaysAuthorization should request "ALWAYS" authorisation but it results in following popup:

<img width="288" alt="Screenshot 2019-11-13 at 09 55 34" src="https://user-images.githubusercontent.com/13135152/68747950-d6fc2380-05fb-11ea-8304-c7b15d97b434.png">

2. Steps to reproduce the problem.
Call iBeacon.requestAlwaysAuthorization() method

[2019-11-15 12:45] an-pankajpatil opened #433 "Beacons not scanned when the app is in background mode"
Hello,

Seems like the beacon ranging stops when we put the app in background mode using background mode plugin. I am testing this plugin on Android and the plugin works perfectly when in foreground. In background also it works for some time, but after the screen goes blank the plugin stops ranging the beacons.

Can you please help?

[2019-12-17 14:02] mishkeTz opened #434 "AltBeacon"
Hello,
I am using this package to scan for iBeacons, however does it support altbeacons?
Because it doesn't show any even if they are enabled?

[2020-02-26 15:05] ghost opened #438 "Plugin stops sending information about beacons after 5 minutes"
Hello everyone,

I have particular problem with ranging beacons. Actually, when application is in background processes for 5 minutes, everything is working fine. After those 5 minutes, problem occurs. Application stops communication with beacon (app stops getting information from beacon). This problem can be bypassed if display activation is triggered in any way, so simply by pressing power/lock b

[2020-02-27 08:19] ghost commented on #438
@petermetz

[2020-03-03 07:10] prakeshcdn commented on #433
I have same issue . Can you please help?

[2020-03-03 07:46] an-pankajpatil commented on #433
No I didn't find any solution for this issue and it seems like Android itself is not supporting the background scanning anymore

[2020-03-03 07:51] giladrom commented on #433
This plugin does not support background scanning for Android. To accomplish that, you will need to [set up a background service using altbeacon](https://github.com/AltBeacon/android-beacon-library-reference/tree/master/app/src/main/java/org/altbeacon/beaconreference).

[2020-03-03 08:09] an-pankajpatil commented on #433
Hi, I tried that but once the app gets in background the scanning stops using altbeacon as well

[2020-03-03 08:10] giladrom commented on #433
It works fine. You just have to set it up properly. Don't forget that android limits background scanning to 15 minute intervals.

[2020-03-03 08:12] an-pankajpatil commented on #433
it doesn't work after 15 minutes

[2020-03-03 08:14] giladrom commented on #433
Yes it does, you're simply not using it right. Also, some Android vendors kill off background tasks by default so you might be testing on a phone that's problematic. If you set up the reference altbeacon application it will work fine. You can check the logs using adb logcat and you'll see it wake up every 15 minutes.

[2020-03-03 08:17] an-pankajpatil commented on #433
Ah! device might be an issue then but I did tried to use this SDK https://altbeacon.github.io/android-beacon-library/index.html but looks like I implemented it wronly and because of that the beacon scanning didn't worked.

[2020-03-03 10:05] prakeshcdn commented on #433
Hi @pankajpatil
Can you please let me know how it's working. Please help

[2020-03-04 10:24] an-pankajpatil commented on #433
Hi @prakeshcdn , I am not able to setup it in the background either still trying to figure how the background scanning should be enabled.

[2020-03-06 06:17] prakeshcdn commented on #137
my iphone will work as a ibeacon ?

[2020-03-12 06:08] prakeshcdn commented on #335
Hello,
Beacon scanning is not working when app is killed . do you have any solution for this issue ?

[2020-03-12 07:31] giladrom commented on #335
This plugin does not support background scanning on android. You need to implement a background task using altbeacon in Java.

Sent from my iPhone

[2020-03-12 07:57] prakeshcdn commented on #335
Hello @giladrom

How to implement altbeacon in cordova with cordova-plugin-ibeacon. do you have any example . Please help .

[2020-03-12 16:05] giladrom commented on #335
The two are separate. You will need to implement the background scanning object independent of this plugin.

See https://github.com/AltBeacon/android-beacon-library-reference <https://github.com/AltBeacon/android-beacon-library-reference> for an example.

[2020-03-23 14:21] kctang opened #439 "isAdvertising() always return false in Android?"
Based on what I read, advertising beacon is supported on Android (Lollipop and up).

However, this call seems to always return false.

https://github.com/petermetz/cordova-plugin-ibeacon/blob/270ffbbc12159861a16e5e81481103c1e09139cb/src/android/LocationManager.java#L1168

Note: I am looking into the Android source because cannot get the advertised beacon on Android device detected. Advertising see

[2020-03-23 17:56] kodeine commented on #439
Can you share the code to start advertisement? for me it always says false also `await this.ibeacon.isAdvertising(),` is coming as false as well even though i started advertising

[2020-03-23 23:18] kctang commented on #439
I start advertising with this:

[code]
The promise completes successfully (i.e. the logcat output in my first post).

However, calling `isAdvertising()` after `startAdvertising()` returns false.

[code]

I believe the cordova plugin will call the `LocationManager.java` code snippet I highlighted above - which always returns false.

I suspect `isAdvertising()` does not really reflect if advertising

[2020-04-04 14:58] oscarviq commented on #330
It still doesn't. I almost abandoned ship.

Thanks for the great work!

[2020-04-05 16:08] oscarviq commented on #439
Having this same issue in an Ionic Application, checking .isAdvertising() always returns false

Also even though .startAdvertising() does not bring up any errors the delegate events for .peripheralManagerDidStartAdvertising() are never triggered

[2020-04-16 10:26] ghost commented on #330
How do you can scan on iOS multipe uuids?

[2020-04-16 10:40] andersborgabiro commented on #330
My app scans a range of popular (default) UUIDs, each a separate region, as wildcard on UUID doesn't work on iOS. Customers can ask for other UUIDs if they private-brand.

[2020-04-16 10:43] ghost commented on #330
Thanks

[2020-04-16 10:58] ghost commented on #330
I have this problem: on iOS accuracy is almost 10 times the accuracy on Android.

For example:
if android transmit, iOS receive with accuracy 6.79
if iOS transmit, android receive with accuracy 0.9

Both values are wrong :(

[2020-04-16 12:11] andersborgabiro commented on #330
The receiving device determines accuracy (~distance) by using the actual radio power (RSSI), the reported radio power at 1 meter (TX) and a non-linear formula.

Unfortunately I can't control what TX is reported, so it seems the OS chooses on its own, and that can be anything. Maybe @petermetz has some insight on this issue.

If you have a Bluetooth analysis app installed you should be able to see

[2020-04-16 12:20] ghost commented on #330
Thanks. How can I measure distance according your experience?

[2020-04-16 12:46] andersborgabiro commented on #330
With some level of precision by buying beacons that you configure both the radio power and TX for based on your own measurements (don't trust the beacon provider).

Even then, anything with water or metal will diminish perceived radio power, so you only get roughly reliable distance measurements at line of sight.

Also, note that different devices have different sensitivity (based on placement of

[2020-05-03 08:27] Gh0sT-810 opened #440 "Please update the readme"
Please update the readme

[2020-05-04 13:06] Gh0sT-810 commented on #417
@aircable @KinG-InFeT  hey i know this is wrong place to ask but i am not able write correct code. Can u help me by providing working code of advertising and scanning?

[2020-05-04 18:42] Gh0sT-810 commented on #330
@eruecco87  mine .isAdvertising() returns false. can u help me with this or provide a snippet of working advertising code?

     `import {ChangeDetectorRef, Component} from '@angular/core';
      import { Platform} from 'ionic-angular';
      import {IBeacon} from "@ionic-native/ibeacon";
      import {isBoolean} from "ionic-angular/util/util";
     @Component({
      selector: 'page-home',

[2020-05-04 18:45] Gh0sT-810 commented on #330
@p-sebastian  mine .isAdvertising() returns false. can u help me with this or provide a snippet of working advertising code?

[2020-05-06 09:33] andersborgabiro commented on #330
This is what I do (put together from several functions). Starting and stopping are actually controlled by a button. status() needs to be replaced.

To initialize:

        var delegate = new cordova.plugins.locationManager.Delegate();
        cordova.plugins.locationManager.setDelegate(delegate);
        cordova.plugins.locationManager.requestAlwaysAuthorization(); // necessary?

To start:

[2020-06-01 03:18] DiegoZ4 opened #442 "Android as a beacon!"
Hi!!

I need to detect 2 android devices are nearby. How can I make an android emit a beacon?

Thanks!

[2020-06-02 09:47] swif2 commented on #287
Check out this link. [WebKit Bugzilla](https://bugs.webkit.org/show_bug.cgi?id=160240)

[2020-07-06 15:41] caiusCitiriga commented on #184
@petermetz
Did anyone solve this issue somehow? I get the same exact error, even after a full rebuild... any workaround maybe? This feature is crucial for me, and I cannot get it working anyhow 😭

[code]

I've basically pasted the example code, and when it gets to the `.Delegate()` method it throws that error...

[2020-07-16 10:50] caiusCitiriga opened #443 "LocationManager is undefined"
Hello,
I'm trying to use this plugin, but when I install it on an Ionic4 project and run the app on my android device I get this error:

![Image 1](https://user-images.githubusercontent.com/12595721/87662301-48c7d680-c762-11ea-8203-890a07c98e23.png)

1. Expected behavior and actual behavior.
I expect to be able to build and test the plugin following the demo code on the Ionic plugins page

2. Step

[2020-07-27 11:59] ABRT29 commented on #443
Hello,

Please follow this [ link.](https://github.com/IT-Dan/Ionic4ibeacon)
You will need to replace three files in \node_modules\@ionic-native\ibeacon:

index.js
ngx/index.js
__ivy_ngcc__/ngx/index.js

[2020-07-27 14:42] caiusCitiriga commented on #443
Hey thank you @ABRT29! Not the best solution, but at least we've got a workaround for now... I cannot test this right now, but I'll surely do in the next few days, I'll keep you updated about this 😊

[2020-07-27 14:44] ABRT29 commented on #443
Exactly, I use it since this morning tell me if it also works for you :)

[2020-07-27 18:00] Jusdon commented on #443
Hey i have the same issue and it works fine except for the rangeBeaconsInRegion Function there i get no response

[2020-07-27 22:56] iBobik commented on #246
I also would like to comunicate with a beacon device.

Is it possible in combination with https://github.com/randdusing/cordova-plugin-bluetoothle ?
(Phone came nearby iBeacon device and then exchanged some messages with it.)

[2020-07-28 06:58] ABRT29 commented on #433
hello, I have the same behavior .. my application stops working after 2 hours

[2020-07-28 07:28] caiusCitiriga commented on #443
So you have been able to make it work with a fresh Ionic project? That's great! Can't wait to try!

[2020-07-28 07:54] ABRT29 opened #444 "How to retrieve UUID on android ?"
Hello, I would like to retrieve the UUID of my iBeacon on an Android device, how do you do this? I can't find anything in the README file.

Thank you

[2020-07-28 14:08] Jusdon commented on #443
Yes same Issue. It works the solution for you or you have the the issue with RangeBeacons in Region

[2020-07-29 06:43] #444 closed, assigned to nobody

[2020-07-29 14:22] burbia commented on #393
Any news? or no more work on this plugin?

[2020-07-29 15:23] halindrome commented on #393
This actually works fine in ionic.  we use it all the time.  The trick for me was to build a service for Bluetooth operations, and in that service put `declare let cordova: any;` near the top.  Then the cordova global is exposed and you can create a local handle to the location manager like `this.locationManager = cordova.locations.locationManager` and just use `this.locationManager` as your handl

[2020-07-29 16:38] burbia commented on #393
Hi @halindrome, that trick isn't working for me, maybe I am doing something wrong. I have the same code than https://github.com/ionic-team/ionic-native/issues/2631. Have added `declare let cordova: any;` and changed `const delegate = this.ibeacon.Delegate();` for `const delegate = new cordova.plugins.locationManager.Delegate();` in home.page.ts but same problem, delegate is undefined

do you have

[2020-07-29 16:59] halindrome commented on #393
Nothing I can publish - sorry, proprietary app.

First, I wouldn't set a const to delegate.   I don't actually have a 'home.page.ts' in my app... but whatever your simple page is has a class that it is exporting, right? Inside that class do something simple like this:

[code]

Now you have locationManager initialized as a handle to the plugin.  Then wherever in your code you need to do your delega

[2020-07-29 17:42] burbia commented on #393
No luck, I have exactly
[code]

but delegate is empty (locationManager is `{"delegate":{}"}`), I am missing something?

[2020-07-29 18:02] halindrome commented on #393
Huh.   Stupid question - did you remember to add the ibeacon module in your config.xml file?

`ionic cordova plugin add cordova-plugin-ibeacon`

Also, I assume you are building this for native use, since it doesn't work at all in the browser.

Finally, I see above you did NOT do what I said.   Do create your delegate object you do:

`let delegate = new this.locationManager.Delegate();`

[2020-08-07 09:13] LucaBlackDragon commented on #438
See #433

[2020-08-07 13:32] mwyld commented on #443
Same issue here, this fixed it for me too. Hopefully it'll be sorted soon! :)

[2020-08-10 10:04] caiusCitiriga commented on #429
@petermetz Hi! I have the same problem on an Ionic project. Even though I enable the debugNotifications nothing gets notified...

@biswas123 have you solved this maybe?

[2020-08-17 06:38] Stefanic commented on #443
I made a pull request for the Ionic Native wrapper of this library last week and it has already been released with version 5.28.0:
https://github.com/ionic-team/ionic-native/pull/3505

Hope it helps you guys!

[2020-10-09 11:55] EricHier commented on #354
So you say that there is no way to range all available beacons under iOS? Is this information still up to date?

[2020-10-21 09:02] eduboxgithub opened #447 "iOS has a limite Beacon Region Monitoring?"
I'm trying to implement a beacon feature in a app. I have a total of 80 Beacons.

I currently loading a json file that has all the beacons setup info.
Then, in the code, after the json is loaded, I create a BeaconRegion and add it to an array:

[code]

After all the Beacons Objects have been created I add them to the plugin motoring service:

[code]

This seems to work on Android... All beacons ar

[2020-11-25 13:00] dileepjb2 opened #448 "iBeacon not tracking beacons in --release mode in android"
when tracking bacons it's working fine in debug mode and --prod mode but not working in --release mode. no idea what could be the reason

please help me if anyone faced the same kind of issue. Thanks in advance

[2020-11-27 15:09] dileepjb2 opened #449 "Change UUID in BeaconRegion not reflecting"
I have one existing UUID with **X** name I changed UUID with **Y** name. but it is not reflecting only in one android device and reflecting in other devices. I cleared cache removed Bluetooth storage, Bluetooth cache still no luck. Any idea what i need to change.

let beaconRegion = this.ibeacon.BeaconRegion(
		  'deskBeacon',
		  X );

to

let beaconRegion = this.ibeacon.BeaconRegion(
		  'deskBe

[2020-12-02 16:05] LeoUbl opened #450 "Edit "setManufacturer" parameter"
Hello @petermetz ,
I'm developing an iOS/Android app for a customer, this app interacts with customer's produced devices.
He asked me if it is possible to edit the value in cordova-plugin-ibeacon/src/android/LocationManager.java at row 1218 from
.setManufacturer(0x004C) to .setManufacturer(0x0118) in my Android app code.
Is it possible to edit this variable? If not, can you update the plugin by cr

[2021-02-04 08:10] sunil-cdn opened #453 "Unable to Monitor beacon when app killed."
1. Expected behavior and actual behavior : Beacon monitoring not working when app killed but it should.
2. Steps to reproduce the problem : Please kill the app and test the beacon monitoring.
3. cordova-android version : 9.0.0
5. cordova-plugin-ibeacon version:  3.8.1
6. If running on a device, device model and os version.  Sumsung android version:10

[2021-03-05 12:56] andersborgabiro commented on #354
Sorry, late reply.

I've found nothing that states the opposite.

In my apps I added a range of popular default UUIDs, with an option to add more on a server (the UUIDs are downloaded at app start).

[2021-05-09 15:35] khayargoli opened #456 "No beacon found on cordova android 9.0.0"
Ran the example code, beacons found on cordova android 8.0.0 but not on 9.0.0

[2021-05-12 09:57] glebmachine commented on #456
Run the same issue this week, searching for fix
@biswas123 have some ideas?

[2021-05-12 09:59] khayargoli commented on #456
yeah downgrade to android 8.0.0

On Wed, May 12, 2021, 15:42 Gleb Mikheev ***@***.***> wrote:

[2021-05-31 15:22] enTcsv commented on #453
@sunil-cdn, if I understood your issue right, the following might help:

Take a look at the Android "Activities lifecycle" if you kill the parent activity, the children ones will die too.

Putting the scanning logic and keeping it aside in a Service might fix the issue.

(see #433)

[2021-06-14 16:00] sdetweil opened #457 "trying to use in Ionic/Capacitor env. , no response"
i have setup for Beacons in Region.  setup delegate for callbacks on didEnterRegion (added console.log to the setup)

trying to  use wildcard for major/minor
i have physical IBeacons, and apps on the same phone that can scan to detect them

navigate received device info={"Facilities":"2 test","UUID":"9efe1d6c-27b9-42f0-82aa-2e951747bbf9","testlevel":"undefined","device":undefined}

app.dd1e1c02.js

[2021-06-14 23:17] sdetweil opened #458 "what is the identifier used for? looking at all the underlying code it isn't used for beacon recognizing."
is it passed back on did??? callbacks, so u know which request asked for it?

[2021-06-14 23:36] sdetweil commented on #457
I added a callback for didDetermineStateforRegion and get didDetermineStateForRegion: 2 test, CLRegionStateOutside

[2021-06-15 02:11] sdetweil commented on #457
i changed over to RangeInRegion and get callback every 1/2 second.. but no beacons..

so I think I am missing some trigger to the lower layer to go ahead...

[2021-06-15 14:16] sdetweil opened #459 "when debug is enabled, where is it viewable or stored?"
I made call to setDebugEnabled(), and got back success..

but don't see any on the browser console log.

where would it be stored?

[2021-06-15 20:49] sdetweil commented on #457
so, one thing I noticed in my logs,

the cordova library is loaded  when the app is loaded
that is when it gets its internal delegate
var delegate = new window.cordova.plugins.locationManager.Delegate();
......
   window.cordova.plugins.locationManager.setDelegate(delegate);

BUT later when I use it the app is on a new page

but I get/set delegate again

[2021-06-16 14:11] sdetweil commented on #459
answer, you have to use Android Studio to launch the app.. then the info is in the Logcat window...

I was running the app from the commandline

[2021-06-16 14:11] #459 closed, assigned to nobody

[2021-06-16 14:13] sdetweil commented on #457
I see in the log a request for a ScanFilter

2021-06-16 08:55:54.207 19485-19485/io.ionic.starter D/ScanFilterUtils: Set up a scan filter: BluetoothLeScanFilter [mResults=0, mDeviceName=null, mDeviceAddress=null, mUuid=null, mUuidMask=null, mServiceSolicitationUuid=null, mServiceSolicitationUuidMask=null, mServiceDataUuid=null, mServiceData=null, mServiceDataMask=null, **mManufacturerId=118, mManu

[2021-06-16 14:44] sdetweil commented on #457
see the info here
https://altbeacon.github.io/android-beacon-library/javadoc/org/altbeacon/beacon/BeaconParser.html
which references here
setHardwareAssistManufacturerCodes
public void setHardwareAssistManufacturerCodes(int[] manufacturers)
Sets a list of Bluetooth manufacturer codes which will be used for hardware-assisted accelerated looking for this beacon type The possible codes are defined on

[2021-06-16 21:59] sdetweil commented on #457
actually here https://www.bluetooth.com/specifications/assigned-numbers/company-identifiers/

118 is Radius and 4c is Apple

[2021-06-17 00:21] sdetweil commented on #457
so, this doesn't seem to be THE problem..
I got the AltBeacon sample, (this plugin uses the same library)

and it did NOT detect my beacons..
I added a BeaconScanner for my beacon,  and boom, it detects my beacons.
and apple manufacturer code

i just cut/pasted out of the LocationManager, where it DOESN"T work, to the sample app, where it DOES work

still something different

[2021-06-17 03:52] sdetweil opened #460 "how do I build another version of this library?"
I am trying to determine why i can't find my beacons, but the Altbeacon library and sample can.
I want to use the wildcard UUID  but the code on android crashes here BeaconRegion.js
[code]

but I can't work around it... I can change the source, but the lib take precedence...

help

![Screenshot at 2021-06-16 22-51-49](https://user-images.githubusercontent.com/1498142/122328542-7c245f80-cef5-11eb-9

[2021-06-17 13:17] sdetweil commented on #460
don't NEED this now, but would liek to know anyhow

[2021-06-17 13:17] #460 closed, assigned to nobody

[2021-06-17 13:20] sdetweil commented on #457
this turned out to be a permissions problem.. I am on Android 11..   altho I THOUGHT I had called for permissions, I had not...
use the AndroidPermissions  plugin...
[code]

[2021-06-17 13:20] #457 closed, assigned to nobody

[2021-06-21 15:20] sdetweil commented on #458
I am trying to do advertise and my client is expecting to detect the name field, which doesn't appear to be transmitted..
all the other beacons do send the name

[2021-06-22 20:57] sdetweil opened #461 "using thru Ionic-Native with Capacitor on android , Uncaught (in promise) TypeError: e.beacon.stopRangingBeaconsInRegion is not a function"
trying to stop ranging

i have checked the names from my lib thru ionic to you and they all match the string that is not found
I have 3.8.1 installed.

my library
[code]
ionic native says
[code]
plugin location manager says
[code]
android location manager .java says
[code]

[2021-06-22 21:14] sdetweil commented on #461
doah,, calling on the beacon  not the IBeacon class.. sorry

[2021-06-22 21:14] #461 closed, assigned to nobody

[2021-06-23 20:56] sdetweil opened #462 "i expect to see duplicates of beacons where there are multiple, but only see one.. am I doing something wrong?"
on android I only see one beacon of 3, on ios I see all three..

scanners on both devices see all three

[2021-06-23 20:56] sdetweil opened #463 "is there a way to get the mac address of the beacon?"
in my system design there may be multiple beacons with the same UUID/major/minor, and it matters which is 'closest' to the user

i can see the distance values, but cannot tell if due to radio issues if the 'nearest' is changing physical locations..
it would be nice if I could relate ranging feedback with the mac..

[2021-06-27 18:08] sdetweil commented on #458
i see that in the standard libraries the physical bean 'name' filed is not reported to the app,. the identifier provided on the iBeacon handle creation is returned on didRange().

useful in some ways, not enough for my application

[2021-06-27 18:08] #458 closed, assigned to nobody

[2021-06-27 18:10] sdetweil commented on #463
no. not provided in the apis on IOS or Android. i put the mac in the name field, but that is not returned either

i have multiple beacons of the same uuid/major/minor combo signaling at once.. trying to  differentiate them

[2021-06-27 18:11] #463 closed, assigned to nobody

[2021-06-27 18:11] sdetweil commented on #462
seems he altbeacon library has filtered out duplicates

[2021-07-07 11:16] madhurimindcrew opened #464 "Does this plugin support android 9 and greater ?"
Does this plugin support android 9 and greater ?

[2021-07-09 07:51] sblum51 opened #465 "Read custom field"
Hey :)
Do you know if you can access to the custom fields / extra field provided by AltBeacon (getExtraDataFields)

In my case beacons have temp sensors but I cannot access to it (this method is not in the current plugin)

Thanks !

[2021-09-13 06:27] clarklight commented on #456
Cordova android is now 10.0.1, i am wondering is this plugin still maintained? Because it will require API level 30 for apps to be accepted on the play store.

[2021-09-24 10:21] key4625 opened #467 "No beacons are found in Andoid 11 smartphones"
No beacons are found in Andoid 11 smartphones...

I entered the new permissions arrived with the new version of android but nothing..

Someone can help?
Does this lib working with android 11?

[2021-09-28 12:02] jlovera3 commented on #464
I'm pretty sure by now that it probably doesn't, cause I've test it on different devices, worked on:
Android 8.0
Android 9.0
iOS 14.5

But nothing on Android 10 and 11...
Will there be any way of modifying the plugin myself to make it work? I really need it by the end of this week...

[2021-09-28 14:40] noahbaron commented on #464
It does work on Android 10 and 11 when using earlier versions of Cordova
Android. Try 9.1 or below.

On Tue, Sep 28, 2021 at 5:02 AM jlovera3 ***@***.***> wrote:

[2021-09-29 10:35] jlovera3 commented on #464
well @noahbaron is right, actually doesn't work in Android 9.1 for me but it does in lower versions. The problem isn't solved with that solution anyway, cause Google Play request an API 29 or greater to upload apps to the Play Store since last August.

[2021-09-29 10:43] jlovera3 commented on #456
did you guys find any solution to this? We won't be able to deploy con the play store if not... Is there any other plugin we can use on npm? can we contact the creators of this plugin?

[2021-09-30 10:35] zookz commented on #432
Related to this I think https://betterprogramming.pub/handling-ios-13-location-permissions-5482abc77961

[2021-09-30 21:44] noahbaron commented on #464
I just checked what version I had it running on and it appears to work fine
with Cordova Android 10.0. Make sure to manually add:

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

to the *AndroidManifest.xml *One of the new features of SDK 29 is a
new permission needed for scanning Bluetooth beacons.

On Wed, Sep 29, 2021 at 3:35 AM jlovera3 ***@***.***> wrote:

[2021-10-10 08:37] andersborgabiro commented on #462
Do they happen to have the same UUID/major/minor?

[2021-10-10 08:59] andersborgabiro commented on #431
This solved my crash issue as well on iOS 15 (I've had a very long hiatus from iOS development).

I added this to config.xml:

        <edit-config file="*-Info.plist" target="NSBluetoothAlwaysUsageDescription" mode="merge">
            <string>The app needs access to Bluetooth.</string>
        </edit-config>

Not sure the description should be this, but at least it works now.

I've let Peter kno

[2021-10-21 02:35] b4oz commented on #467
With Android 10 and API29+ the plugin will need the following permissions:

[code]

It was also need a service declaration:

[code]

as per https://developer.android.com/training/location/permissions

I would like to suggest that this change request is added as I am not in the position to do it.

[2021-10-21 05:09] b4oz opened #468 "exitRegion configuration timeout request"
The exitRegion timeout on iOS is typically 30 seconds, if no beacon has been seen within 30 seconds the exitRegion will be called.
On Android this appears to be 5 or so seconds, I would like to request that it is either made configurable or set to 30 seconds as per iOS. This would stop exitRegion events from being unnecessarily called when the signal drops out for a few seconds.

[2021-10-21 16:02] jupaesbri opened #469 "Error: Importing IBeacon which does not have a ɵmod property"
Please include the following to help us address your issue.

Hi! i'm trying to make this work, compiler doesn't show any error but when I run it with ionic I have this error:

[WDS] Live Reloading enabled.
core.js:6479 ERROR Error: Uncaught (in promise): Error: Importing IBeacon which does not have a ɵmod property
Error: Importing IBeacon which does not have a ɵmod property
    at core.js:27275

[2021-10-30 15:56] DydjyZ commented on #456
Hello. Any news ? Is there an other plugin for Beacons on cordova ?

[2021-10-30 16:08] noahbaron commented on #456
Did you try adding the additional permissions and declarations to the Android manifest listed here? https://github.com/petermetz/cordova-plugin-ibeacon/issues/467#issuecomment-948201224

[2021-11-09 08:42] maroufi opened #470 "Question: How can I decrease advertising interval as ibeacon device in android and ios?"
I used this plugin to advertise in mobile app like ibeacon devices but I know advertising interval in this plugin is 1 second (1000ms).
I want to decrease advertising interval to 100ms to have more accurate result in a tracking approach.
how can I do that?

[2021-11-15 01:07] noahbaron commented on #464
I was able to get it working on Android 12. You will need to make a fork of this plugin and update the version of Android Beacon library that this Cordova plugin uses from 2.16 to 2.19.

[2022-03-02 12:37] bhargavas12 opened #471 "Sometimes Beacons within the range are detected differently."
I have ionic6 app and using the plugin com.unarin.cordova.beacon(3.7.0) which has code to detect beacons.

I placed 2 beacons placed within the detectable range.
1 beacons is near to my mobile and the other beacon is little far from mobile (5 to 10 feet far).

Most of the times **delegate.didRangeBeaconsInRegion().subscribe(pluginResult => {});** is returning 2 beacons but once in a while its retu

[2022-06-15 19:50] xyboox commented on #471
I noticed that also. I think is related to the advertising interval and the time required by the plugin to range the beacons. I may be wrong though.

[2022-06-15 20:03] xyboox opened #472 "Major and minor with wrong values"
Please include the following to help us address your issue.

1. Expected behavior and actual behavior.
I've 4 beacons with same uuid and same major ( 1000 ) but each with different minor ( 1000-1003). The reading in didRangeBeaconsInRegion reports back beacons with major=4096 and minor between 4096 and 4100 as follows:
- minor initially set to 1000, reported as 4096.
- minor 1001, reported as 4097

[2022-07-19 09:09] cclobo2 commented on #456
I was having a similar issue and had to add the FINE_LOCATION permission to config.xml AND request it using cordova-plugin-diagnostic

[2022-08-02 07:44] julienperrault opened #473 "Compatibility with Android 12"
Please include the following to help us address your issue.

I'm trying to build the project in Android 12 "Tilt-Hydrometer-Framework7" which uses your dependency.

`<preference name="android-targetSdkVersion" value="32" />`

I updated the file "platforms/android/com.unarin.cordova.beacon/tilthydrometerf7-cordova-plugin-ibeacon.gradle" by changing "compile" to "implementation".

But during the bui

[2022-08-02 08:33] #473 closed, assigned to nobody

[2022-09-02 07:08] Steffe30 commented on #473
Did you manage to solve this issue and if so how? :)

[2022-10-19 04:44] AntonERG opened #474 "Add support of Android 12 (Google API 31)"
Build fails for Android, when trying to to build with **targetSDKVersion 31**

Was able to make it working after updating **org.altbeacon:android-beacon-library** to latest version **2.19.3**

Please, update dependecy

![image](https://user-images.githubusercontent.com/19554725/196599618-e326c51a-a2ba-4d21-ab5d-7c60f1d1c598.png)

[2022-10-26 15:24] radoslavirha commented on #474
Please update it :) Thanks

[2022-10-27 06:28] radoslavirha commented on #474
@AEiosApp I opened PR with new version. Temporarily you can switch to my repo (remove, add new cordova plugin).

I just bumped versions, I'm not sure about consequences.... But it's working and google finally accepted my app.

[2022-11-06 14:40] AntonERG commented on #474
@Radik24 Thanks!

This will let us build app for API 31 , but looks like we have to avoid using this plugin on Android 12 devices.

My code works perfect for iOS and Android 11 device, but wasn't able to make it work on Android 12 device.

#1 Enable Bluetooth doesn't work on Android 12
```cordova.plugins.locationManager.enableBluetooth()```

#2 There are plenty of fresh issues reports on the  **or

[2022-11-11 13:41] jffs commented on #464
@noahbaron
hey can you explain more about that solution? which files should i modified?

[2022-11-14 03:01] noahbaron commented on #464
The file is “AndroidManifest.html”

On Fri, Nov 11, 2022 at 5:41 AM Juan Fernandez Sosa <
***@***.***> wrote:

[2022-11-18 09:57] mdivya-symplr commented on #473
@julienperrault how did you manage to fix this issue?

[2022-11-18 10:03] Steffe30 commented on #473
@mdivya-symplr He has a working repository on his profile. Copy the changes from the repo to your own and then it will work.
There is a working repo also on my profile

[2022-11-19 15:57] radoslavirha commented on #474
@AEiosApp I still have some issues with BLUETOOTH_SCAN on android 12. Do you know how to fix it? Thanks

[2022-11-19 16:03] AntonERG commented on #474
@Radik24 nope, I checked all related issues posts on the github of **android-beacon-library**, but look like they don't have any solution yet for Android 12

[2022-11-19 16:15] noahbaron commented on #474
That’s strange, I built an app that targets SDK 32 and this plugin works
fine, scans for iBeacons no problem. It requires manually adding entries to
AndroidManifest.xml:

   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

Here’s a link to the entire file:

https://github.com/baronbrew/Tilt-Hydromet

[2022-11-19 16:35] radoslavirha commented on #474
Hi, I got it. It works fine. But I combine it with `cordova-plugin-eddystone` which is not working. So my bad. At least app starts. I must to try it with real beacons if it's working.

[2022-11-19 16:38] AntonERG commented on #474
@noahbaron did you try it on device with Android 12?
It works fine for me on Android 11 device, but not on Android 12

[2022-11-19 16:39] radoslavirha commented on #474
just on simulator, I don't have Android 12. I'll send it to my colleague with Android 12

[2022-11-19 16:42] noahbaron commented on #474
Yes, it runs fine on Android 12 and 13 devices. For example on a Pixel 6
running Android 13.

On Sat, Nov 19, 2022 at 8:39 AM Radik24 ***@***.***> wrote:

[2022-11-19 16:44] AntonERG commented on #474
Thanks guys! I was trying with SDK 31, will try it with SDK 32

[2022-11-19 17:10] noahbaron commented on #474
Great! Let me know if that works.

On Sat, Nov 19, 2022 at 8:44 AM AEiosApp ***@***.***> wrote:

[2022-11-28 20:23] dahLucky commented on #472
Hi Xyboox, seems you have configured your beacons in hexadecimal (base16) instead of decimal numbers.

E.g. HEX 1000 equals DEC 4096, HEX 1001 equals DEC 4097 etc.

Hope that helps.

Cheers,
Lu

[2022-11-29 23:46] mdivya-symplr commented on #474
@AEiosApp Did it worked with sdk 32?
Mine is also sdk 32. Beacons are not detecting in Android 12/13 devices when we ask user to allow location permission with default android popup along with near by devices permission. Strange thing is if we install app and before opening it if we go to settings and give permission to location manually and opening the app as usual like allowing permission for ne